Repository LuccaSA/lucca-front, pull requests merged in 2018-04, with the labels that each got.

#253 Scss.titles.ref
  packages/ng/demo/app/animations/animations.component.html
  packages/ng/demo/app/api/picker/basic/basic.html
  packages/ng/demo/app/empty/empty.component.html
  packages/ng/demo/app/formly/basic/basic.html
  packages/ng/demo/app/formly/formly.component.html
  packages/ng/demo/app/select/select.component.html
  packages/ng/demo/app/shared/api-docs/api-docs.component.html
  packages/ng/demo/app/shared/api-docs/api-docs.style.scss
  packages/ng/demo/app/shared/redirect/redirect.component.html
  packages/ng/demo/app/user/display/user-display.component.html
  packages/ng/demo/app/user/picture/basic/basic.html
  packages/ng/demo/app/user/picture/user-picture.component.html
  packages/ng/demo/app/user/tile/sizes/sizes.component.html
  packages/ng/demo/app/user/tile/user-tile.component.html
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/animations.html
  packages/scss/demo/components/boxes.html
  packages/scss/demo/components/buttons.html
  packages/scss/demo/components/callouts.html
  packages/scss/demo/components/cards.html
  packages/scss/demo/components/chips.html
  packages/scss/demo/components/collapse.html
  packages/scss/demo/components/containers.html
  packages/scss/demo/components/emptystate.html
  packages/scss/demo/components/forms.html
  packages/scss/demo/components/forms/forms-checkboxes.html
  packages/scss/demo/components/forms/forms-framed.html
  packages/scss/demo/components/forms/forms-radios.html
  packages/scss/demo/components/forms/forms-switches.html
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/demo/components/grids.html
  packages/scss/demo/components/icons.html
  packages/scss/demo/components/labels.html
  packages/scss/demo/components/lists.html
  packages/scss/demo/components/loading.html
  packages/scss/demo/components/main_menu.html
  packages/scss/demo/components/menus.html
  packages/scss/demo/components/progress.html
  packages/scss/demo/components/sections.html
  packages/scss/demo/components/tables.html
  packages/scss/demo/components/templates.html
  packages/scss/demo/components/toasts.html
  packages/scss/demo/components/tooltips.html
  packages/scss/demo/components/typography.html
  packages/scss/demo/components/utilities.html
  packages/scss/demo/details/full-menu.html
  packages/scss/src/_typo.scss
  packages/scss/src/components/_title-section.scss
  packages/scss/src/components/inputs/textfield/_textfield.compact.scss
  packages/scss/src/components/inputs/textfield/_textfield.material.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/theming/_palettes.scss
  packages/scss/src/theming/components/_textfield.theme.scss
Labels: BREAKING CHANGE, enhancement, scss

#259 Scss.link.revisions
  packages/scss/CHANGELOG.md
  packages/scss/src/_typo.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_filters.scss
  packages/scss/src/components/_menu.scss
  packages/scss/src/components/_progress.scss
  packages/scss/src/components/inputs/textfield/_textfield.material.scss
Labels: enhancement, scss

#257 Scss.icons default path
  README.md
  packages/scss/CHANGELOG.md
  packages/scss/src/theming/_icons.scss
Labels: enhancement, scss

#263 Icon.info
  packages/icons/CHANGELOG.md
  packages/icons/demo/mapping.js
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/selection.json
  packages/scss/demo/demo.js
Labels: icon

#264 Scss.ux 699 input file
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/forms.html
  packages/scss/demo/components/forms/forms-files.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_components.scss
  packages/scss/src/components/inputs/file/_file.scss
Labels: scss

#265 ng - some bug fixes
  packages/ng/demo/app/api/api-select/custom/custom-select-feeder.ts
  packages/ng/src/app/api/select/feeder/api-feeder.model.ts
  packages/ng/src/app/date-range-picker/date-range-modal/date-range-modal.component.spec.ts
  packages/ng/src/app/date-range-picker/date-range-modal/date-range-modal.component.ts
  packages/ng/src/app/date-range-picker/date-range-picker.module.ts
  packages/ng/src/app/formly/formly.config.ts
  packages/ng/src/app/formly/types/api.html
  packages/ng/src/app/formly/types/api.ts
  packages/ng/src/app/rdd/select/feeder/rdd-feeder.model.ts
  packages/ng/src/app/user/select/user-select-api-feeder.ts
  packages/ng/src/index.ts
Labels: Priority High, bug

#260 [ref] unitless lineheight
  packages/icons/demo/demo.css
  packages/scss/CHANGELOG.md
  packages/scss/demo/demo.css
  packages/scss/src/_typo.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/theming/_sizes.scss
  packages/scss/src/theming/components/_button.theme.scss
Labels: scss

#271 Icons.ux 746.icon.alignment
  packages/icons/CHANGELOG.md
  packages/icons/src/_classes.scss
Labels: bug, scss

#270 [fix] line borders gap
  packages/scss/CHANGELOG.md
  packages/scss/src/components/_table.scss
Labels: bug, scss

#268 Scss.ux 752.fix.lineheight
  packages/icons/src/_mappings.scss
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/src/components/inputs/textfield/_textfield.material.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/mixins/_forms.scss
  packages/scss/src/theming/components/_textfield.theme.scss
Labels: bug, scss

#274 Scss.navside.responsive.fix
  packages/scss/CHANGELOG.md
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/theming/components/_nav-side.theme.scss
Labels: bug, scss

#275 [Doc] Documentation improvement
  README.md
  packages/scss/demo/components/mixins.html
  packages/scss/demo/includes/demo-main-content.html
Labels: enhancement
