Repository LuccaSA/lucca-front, pull requests merged in 2018-02, with the labels that each got.

#222 [SCSS][fix] Remove relicat
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: bug, scss

#221 Ng fix non selectable items
  lerna.json
  packages/icons/package.json
  packages/ng/CHANGELOG.md
  packages/ng/demo/app/select/simple-select/simple-select.component.ts
  packages/ng/package.json
  packages/ng/src/app/select/picker/select-picker.component.ts
  packages/scss/package.json
Labels: bug

#218 [add] toasts
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/toasts.html
  packages/scss/demo/demo.js
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_components.scss
  packages/scss/src/components/_toasts.scss
  packages/scss/src/theming/_components.scss
  packages/scss/src/theming/_sizes.scss
  packages/scss/src/theming/components/_toasts.theme.scss
Labels: scss

#220 Scss.progressbar
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/progress.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_components.scss
  packages/scss/src/components/_progress.scss
  packages/scss/src/theming/_components.scss
  packages/scss/src/theming/components/_progress.theme.scss
Labels: scss

#231 Scss.misc.figgo.fix
  packages/scss/CHANGELOG.md
  packages/scss/src/components/_callout.scss
  packages/scss/src/components/_emptystate.scss
  packages/scss/src/components/_label.scss
  packages/scss/src/components/_table.scss
  packages/scss/src/theming/components/_callout.theme.scss
Labels: enhancement, scss

#224 [SCSS][fix] bottom margin was collapsing
  packages/scss/src/components/_container.scss
Labels: bug, scss

#229 [SCSS][ENH] navSide - Better style after integration
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/theming/components/_nav-side.theme.scss
Labels: enhancement, scss

#233 Ng.build.prod
  packages/ng/demo/app/animations/animations.component.html
  packages/ng/demo/app/animations/animations.component.ts
  packages/ng/demo/app/animations/animations.module.ts
  packages/ng/demo/app/animations/basic/basic.component.ts
  packages/ng/demo/app/animations/fading/fading.component.html
  packages/ng/demo/app/animations/fading/fading.component.ts
  packages/ng/demo/app/animations/scaling/scaling.component.ts
  packages/ng/demo/app/animations/sliding/sliding.component.ts
  packages/ng/demo/app/api/picker/basic/basic.ts
  packages/ng/demo/app/formly/debug/debug.html
  packages/ng/demo/app/formly/debug/debug.ts
  packages/ng/demo/app/formly/fieldgroup/fieldgroup.ts
  packages/ng/demo/app/formly/formly.component.html
  packages/ng/demo/app/formly/formly.component.ts
  packages/ng/demo/app/formly/formly.module.ts
  packages/ng/demo/app/formly/option/option.ts
  packages/ng/demo/app/shared/api-docs/api-docs.model.ts
  packages/ng/demo/app/shared/redirect/redirect.service.ts
  packages/ng/src/app/animations/animation.factory.ts
  packages/ng/src/app/animations/basicAnimations.ts
  packages/ng/src/app/animations/fade.animation.ts
  packages/ng/src/app/animations/index.ts
  packages/ng/src/app/animations/scale.animation.ts
  packages/ng/src/app/animations/scalingAnimations.ts
  packages/ng/src/app/animations/slide.animation.ts
  packages/ng/src/app/animations/slidingAnimations.ts
  packages/ng/src/app/api/picker/api-picker.component.html
  packages/ng/src/app/api/picker/api-picker.component.ts
  packages/ng/src/app/popover/popover.animations.ts
  packages/ng/src/app/popover/popover.component.html
  packages/ng/src/app/popover/popover.component.ts
  packages/ng/src/app/select/clearer/index.ts
  packages/ng/src/app/select/clearer/select-clearer.component.ts
  packages/ng/src/app/select/clearer/select-clearer.module.ts
  packages/ng/src/app/select/directive/index.ts
  packages/ng/src/app/select/option/select-option.component.ts
  packages/ng/src/app/select/picker/index.ts
  packages/ng/src/app/select/picker/select-picker.component.html
  packages/ng/src/app/select/picker/select-picker.component.ts
  packages/ng/src/app/select/select.component.ts
  packages/ng/src/app/select/select.module.ts
Labels: BREAKING CHANGE, enhancement, ng

#230 [NG] Adds displayFormat attribute to LuUserTile
  packages/ng/CHANGELOG.md
  packages/ng/demo/app/user/tile/basic/basic.component.html
  packages/ng/demo/app/user/tile/displayFormat/display-format.component.html
  packages/ng/demo/app/user/tile/displayFormat/display-format.component.ts
  packages/ng/demo/app/user/tile/sizes/sizes.component.html
  packages/ng/demo/app/user/tile/sizes/sizes.component.ts
  packages/ng/demo/app/user/tile/user-tile.component.html
  packages/ng/demo/app/user/tile/user-tile.component.ts
  packages/ng/demo/app/user/tile/user-tile.module.ts
  packages/ng/src/app/user/tile/user-tile.component.html
  packages/ng/src/app/user/tile/user-tile.component.ts
Labels: enhancement, ng

#237 CI stuff (AOT, travis)
  .travis.yml
  package.json
  packages/ng/demo/app/animations/fading/fading.component.ts
  packages/ng/demo/app/animations/scaling/scaling.component.ts
  packages/ng/demo/app/animations/sliding/sliding.component.ts
  packages/ng/package.json
  packages/ng/src/app/animations/animation.factory.ts
  packages/ng/src/app/user/tile/user-tile.component.html
  packages/ng/src/app/user/tile/user-tile.component.ts
Labels: BREAKING CHANGE, Priority High, good first issue, ng
