Repository LuccaSA/lucca-front, pull requests merged in 2018-09, with the labels that each got.

#383 Pipe.number
  packages/ng/docs/demo/src/app/app.module.ts
  packages/ng/docs/demo/src/app/navigation/navigation.router.ts
  packages/ng/docs/demo/src/app/number/basic/basic.html
  packages/ng/docs/demo/src/app/number/basic/basic.ts
  packages/ng/docs/demo/src/app/number/number.component.html
  packages/ng/docs/demo/src/app/number/number.component.ts
  packages/ng/docs/demo/src/app/number/number.module.ts
  packages/ng/docs/demo/src/app/number/number.router.ts
  packages/ng/docs/demo/src/app/number/parameters/parameters.html
  packages/ng/docs/demo/src/app/number/parameters/parameters.ts
  packages/ng/libraries/core/src/lib/index.ts
  packages/ng/libraries/core/src/lib/module.ts
  packages/ng/libraries/core/src/lib/number/index.ts
  packages/ng/libraries/core/src/lib/number/number.module.ts
  packages/ng/libraries/core/src/lib/number/number.pipe.ts
  packages/scss/src/_utilities.scss
  packages/scss/src/utilities/_visibility.scss
Labels: enhancement

#358 [SCSS] Buttons & Textfields v2
  packages/ng/demo/api-docs.ts
  packages/ng/libraries/material/src/style/components/_datepicker.scss
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/buttons.html
  packages/scss/demo/components/cards.html
  packages/scss/demo/components/links.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/demo/lucca-front.css
  packages/scss/demo/templates/form.html
  packages/scss/src/_components.scss
  packages/scss/src/_typo.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_link.scss
  packages/scss/src/components/inputs/textfield/_textfield.compact.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.material.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/mixins/_forms.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/_palettes.scss
  packages/scss/src/theming/components/_button.theme.scss
  packages/scss/src/theming/components/_textfield.theme.scss
  packages/scss/yarn.lock
Labels: BREAKING CHANGE, enhancement

#393 Fix.lu select
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.ts
  packages/ng/libraries/core/src/lib/select/input/select-input.model.ts
Labels: bug, ng

#386 [SCSS] Rework Radio + Checkboxes
  packages/ng/libraries/core/src/style/components/_input.scss
  packages/ng/libraries/core/src/style/definitions/select/_select-input.scss
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/forms/forms-framed.html
  packages/scss/demo/components/forms/forms-radios.html
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/demo/templates/form.html
  packages/scss/src/_components.scss
  packages/scss/src/components/_form.scss
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/checkbox/_checkboxesfield.scss
  packages/scss/src/components/inputs/field/_field.compact.scss
  packages/scss/src/components/inputs/field/_field.framed.scss
  packages/scss/src/components/inputs/field/_field.scss
  packages/scss/src/components/inputs/radio/_radio.scss
  packages/scss/src/components/inputs/radio/_radiosfield.scss
  packages/scss/src/components/inputs/textfield/_textfield.compact.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.material.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/mixins/_forms.scss
  packages/scss/src/theming/_components.scss
  packages/scss/src/theming/components/_checkbox.theme.scss
  packages/scss/src/theming/components/_field.theme.scss
  packages/scss/src/theming/components/_form.theme.scss
  packages/scss/src/theming/components/_textfield.theme.scss
Labels: BREAKING CHANGE, enhancement

#389 Scss.titles size
  README.md
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/buttons.html
  packages/scss/demo/components/emptystate.html
  packages/scss/demo/components/lists.html
  packages/scss/demo/components/sections.html
  packages/scss/demo/components/typography.html
  packages/scss/src/_typo.scss
  packages/scss/src/components/inputs/file/_file.scss
  packages/scss/src/theming/_sizes.scss
  packages/scss/src/theming/components/_button.theme.scss
Labels: BREAKING CHANGE, enhancement, scss
