Repository LuccaSA/lucca-front, pull requests merged in 2018-03, with the labels that each got.

#239 [scss] textfield supports is-required on textfield-label
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/forms.html
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/src/components/_form.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/mixins/_forms.scss
Labels: enhancement, scss

#238 Icons.compass
  packages/icons/CHANGELOG.md
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/selection.json
  packages/icons/src/_mappings.scss
  packages/scss/demo/demo.js
Labels: icon

#235 [scss][progress] success/error state
  packages/scss/demo/components/progress.html
  packages/scss/src/components/_progress.scss
Labels: enhancement, scss

#240 Icons.classesbydefault
  packages/icons/CHANGELOG.md
  packages/icons/gulpfile.js
  packages/icons/src/main-with-classes.scss
  packages/icons/src/main.scss
  packages/scss/demo/components/icons.html
Labels: enhancement, icon

#241 [fix] planning manage key
  packages/icons/CHANGELOG.md
  packages/icons/src/_mappings.scss
  packages/scss/demo/demo.js
Labels: bug, icon

#242 Icon.fix.name
  packages/icons/CHANGELOG.md
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/selection.json
  packages/icons/src/_mappings.scss
  packages/scss/demo/demo.js
Labels: bug, enhancement, icon

#243 [scss] navside demo without ligature
  packages/icons/src/_mappings.scss
  packages/scss/demo/details/full-menu.html
  packages/scss/demo/templates/fullmenu.html
  packages/scss/demo/templates/side-cards.html
  packages/scss/demo/templates/side-filters.html
  packages/scss/demo/templates/side-header.html
  packages/scss/demo/templates/side-sections-header.html
  packages/scss/demo/templates/side-sections.html
  packages/scss/demo/templates/side.html
Labels: scss

#236 [NG] Adds scrollStrategy attribute to LuPopover
  packages/ng/CHANGELOG.md
  packages/ng/demo/app/popover/popover.component.html
  packages/ng/demo/app/popover/popover.component.ts
  packages/ng/demo/app/popover/popover.module.ts
  packages/ng/demo/app/popover/scroll/scroll.html
  packages/ng/demo/app/popover/scroll/scroll.ts
  packages/ng/src/app/popover/index.ts
  packages/ng/src/app/popover/popover.animations.ts
  packages/ng/src/app/popover/popover.component.ts
  packages/ng/src/app/popover/popover.model.ts
  packages/ng/src/app/popover/popover.triggers.ts
Labels: ng

#249 [fix] calendar key
  packages/icons/CHANGELOG.md
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/selection.json
  packages/icons/src/_mappings.scss
  packages/ng/src/plugins/ngMaterial/_datepicker.scss
Labels: bug, icon

#250 [NG] DisplayFormat on user-picture
  packages/ng/CHANGELOG.md
  packages/ng/demo/app/user/display/basic/basic.component.ts
  packages/ng/demo/app/user/tile/displayFormat/display-format.component.html
  packages/ng/demo/app/user/tile/displayFormat/display-format.component.ts
  packages/ng/src/app/user/display/display-format.model.ts
  packages/ng/src/app/user/display/index.ts
  packages/ng/src/app/user/display/user-display.pipe.spec.ts
  packages/ng/src/app/user/display/user-display.pipe.ts
  packages/ng/src/app/user/picture/user-picture.component.ts
  packages/ng/src/app/user/tile/user-tile.component.html
  packages/ng/src/app/user/tile/user-tile.component.ts
Labels: ng

#248 [enh] button sizing
  packages/scss/src/components/_button.scss
  packages/scss/src/theming/_sizes.scss
  packages/scss/src/theming/components/_button.theme.scss
Labels: enhancement, scss

#245 Readme.installation
  README.md
  packages/scss/demo/components/buttons.html
  packages/scss/demo/components/mixins.html
  packages/scss/demo/components/tables.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/components/_table.scss
Labels: enhancement, scss

#252 [add] march 2018 icons
  packages/icons/CHANGELOG.md
  packages/icons/demo/mapping.js
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/selection.json
  packages/scss/demo/demo.js
Labels: icon

#256 Scss.nav side.bottom.safari
  packages/scss/CHANGELOG.md
  packages/scss/src/components/_nav-side.scss
Labels: bug, scss
