Repository LuccaSA/lucca-front, pull requests merged in 2019-12, with the labels that each got.

#920 [feat] angular 9 (rc) - no ivy
  packages/ng/applications/sandbox/src/app/issues/formly-wrappers/formly-wrappers.module.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/node-sass-end/node-sass-end.component.ts
  packages/ng/applications/sandbox/src/app/issues/node-sass-end/node-sass-end.module.ts
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/ng/tsconfig.json
Labels: dependencies, enhancement, major, package ng

#923 some quick wins
  packages/ng/applications/sandbox/src/app/issues/fix-modal/fix-modal.component.ts
  packages/ng/applications/sandbox/src/app/issues/poc-modal/poc-modal.component.ts
  packages/ng/applications/sandbox/src/app/issues/poc-popup/poc-popup.component.ts
  packages/ng/applications/sandbox/src/app/issues/sidepanel/sidepanel.component.ts
  packages/ng/libraries/date/src/lib/picker/date-picker.component.html
  packages/ng/libraries/modal/src/lib/modal-config.default.ts
  packages/ng/libraries/modal/src/lib/modal-config.model.ts
  packages/ng/libraries/modal/src/lib/modal-panel.component.html
  packages/ng/libraries/modal/src/lib/modal-panel.component.ts
  packages/ng/libraries/modal/src/lib/modal-ref.factory.ts
  packages/ng/libraries/modal/src/lib/modal.model.ts
  packages/ng/libraries/modal/src/lib/modal.module.ts
  packages/ng/libraries/modal/src/lib/modal.service.ts
  packages/ng/libraries/popup/src/lib/popup-config.default.ts
  packages/ng/libraries/popup/src/lib/popup-config.model.ts
  packages/ng/libraries/popup/src/lib/popup-ref.model.ts
  packages/ng/libraries/popup/src/lib/popup.service.ts
  packages/ng/libraries/sidepanel/src/lib/sidepanel-config.default.ts
  packages/ng/libraries/sidepanel/src/lib/sidepanel-panel.component.html
  packages/ng/libraries/sidepanel/src/lib/sidepanel-panel.component.ts
  packages/ng/libraries/sidepanel/src/lib/sidepanel-ref.factory.ts
  packages/ng/libraries/sidepanel/src/lib/sidepanel.module.ts
  packages/ng/libraries/sidepanel/src/lib/sidepanel.service.ts
  packages/ng/libraries/user/src/lib/display/user-display.pipe.ts
Labels: enhancement, package ng

#925 undid the refactor i did on the /user subpackage
  packages/ng/libraries/user/src/lib/select/input/user-select-input.component.ts
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.component.ts
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.model.ts
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.service.ts
Labels: package ng

#927 Feat/datepicker placeholder
  packages/ng/libraries/date/src/lib/input/date-input.directive.ts
  packages/ng/libraries/date/src/lib/input/date-input.intl.ts
  packages/ng/libraries/date/src/lib/input/date-input.module.ts
  packages/ng/libraries/date/src/lib/input/date-input.token.ts
  packages/ng/libraries/date/src/lib/input/date-input.translate.ts
  packages/ng/libraries/date/src/lib/input/index.ts
  packages/ng/libraries/date/src/lib/picker/date-picker.component.html
  packages/ng/libraries/date/src/lib/select/date-select-input.component.html
  packages/ng/libraries/select/src/lib/input/select-input.component.ts
Labels: enhancement

#926 datepicker inner input styl
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.scss
  packages/ng/libraries/date/src/lib/input/date-input.directive.ts
  packages/ng/libraries/date/src/lib/input/date-input.intl.ts
  packages/ng/libraries/date/src/lib/input/date-input.module.ts
  packages/ng/libraries/date/src/lib/input/date-input.token.ts
  packages/ng/libraries/date/src/lib/input/date-input.translate.ts
  packages/ng/libraries/date/src/lib/input/index.ts
  packages/ng/libraries/date/src/lib/picker/date-picker.component.html
  packages/ng/libraries/date/src/lib/select/date-select-input.component.html
  packages/ng/libraries/root/src/style/components/_picker.scss
  packages/ng/libraries/root/src/style/components/_popover.scss
  packages/ng/libraries/select/src/lib/input/select-input.component.ts
Labels: enhancement, package ng

#921 [feat] ng 9 + ivy
  packages/ng/.angular.json
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/ivy-api-select/index.ts
  packages/ng/applications/sandbox/src/app/issues/ivy-api-select/ivy-api-select.component.html
  packages/ng/applications/sandbox/src/app/issues/ivy-api-select/ivy-api-select.component.ts
  packages/ng/applications/sandbox/src/app/issues/ivy-api-select/ivy-api-select.module.ts
  packages/ng/applications/sandbox/src/app/issues/ivy-option-picker/index.ts
  packages/ng/applications/sandbox/src/app/issues/ivy-option-picker/ivy-option-picker.component.html
  packages/ng/applications/sandbox/src/app/issues/ivy-option-picker/ivy-option-picker.component.ts
  packages/ng/applications/sandbox/src/app/issues/ivy-option-picker/ivy-option-picker.module.ts
  packages/ng/applications/sandbox/src/app/issues/ivy-tree/index.ts
  packages/ng/applications/sandbox/src/app/issues/ivy-tree/ivy-tree.component.html
  packages/ng/applications/sandbox/src/app/issues/ivy-tree/ivy-tree.component.ts
  packages/ng/applications/sandbox/src/app/issues/ivy-tree/ivy-tree.module.ts
  packages/ng/applications/sandbox/src/app/issues/refactor-select/refactor-select.component.html
  packages/ng/applications/sandbox/src/app/issues/refactor-select/refactor-select.component.ts
  packages/ng/applications/sandbox/tsconfig.aot.json
  packages/ng/applications/sandbox/tsconfig.app.json
  packages/ng/libraries/date/src/lib/native/native-date.adapter.ts
  packages/ng/libraries/formly/src/lib/formly.config.ts
  packages/ng/libraries/formly/src/lib/formly.module.ts
  packages/ng/libraries/formly/src/lib/types/api.ts
  packages/ng/libraries/formly/src/lib/types/checkboxes.ts
  packages/ng/libraries/formly/src/lib/types/date.ts
  packages/ng/libraries/formly/src/lib/types/department.ts
  packages/ng/libraries/formly/src/lib/types/input.ts
  packages/ng/libraries/formly/src/lib/types/radios.ts
  packages/ng/libraries/formly/src/lib/types/select.ts
  packages/ng/libraries/formly/src/lib/types/textarea.ts
  packages/ng/libraries/formly/src/lib/types/user.ts
  packages/ng/libraries/formly/src/lib/wrappers/error.ts
  packages/ng/libraries/option/src/lib/picker/option-picker-advanced.component.ts
  packages/ng/libraries/option/src/lib/picker/option-picker.component.ts
  packages/ng/libraries/option/src/lib/picker/tree-option-picker-advanced.component.ts
  packages/ng/libraries/option/src/lib/picker/tree-option-picker.component.ts
  packages/ng/libraries/select/src/lib/input/select-input.model.ts
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/ng/tsconfig.app.json
  packages/ng/tsconfig.json
Labels: enhancement, major, package ng

#933 use node 12 lts in CI
  Jenkinsfile
Labels: enhancement

#934 Fix/loading.mixin
  packages/scss/src/mixins/_loading.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/_components.scss
  packages/scss/src/theming/components/_loading.theme.scss
Labels: bug, package scss
