Repository LuccaSA/lucca-front, pull requests merged in 2019-10, with the labels that each got.

#776 [loading] Refactor fullPage #770
  packages/scss/src/components/_loading.scss
Labels: bug

#781 [textfield] Fix mod-inline left alignment
  packages/scss/src/components/inputs/field/_field.scss
Labels: bug

#783 [select] search background should be white
  packages/ng/libraries/core/src/style/definitions/option/_option-searcher.scss
Labels: bug

#784 [table] add cursor pointer on mod clickable
  packages/scss/src/components/_table.scss
Labels: bug

#786 fix missing exports in index.ts files
  packages/ng/libraries/core/src/lib/animation/index.ts
  packages/ng/libraries/core/src/lib/department/select/feeder/index.ts
  packages/ng/libraries/core/src/lib/department/select/input/index.ts
  packages/ng/libraries/core/src/lib/overlay/modal/index.ts
  packages/ng/libraries/core/src/lib/overlay/popup/index.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/index.ts
  packages/ng/libraries/core/src/lib/tree/option/item/index.ts
  packages/ng/libraries/core/src/lib/tree/option/operator/feeder/index.ts
  packages/ng/libraries/core/src/lib/tree/option/operator/searcher/index.ts
  packages/ng/libraries/core/src/lib/user/select/homonyms/index.ts
  packages/ng/libraries/core/src/lib/user/select/input/index.ts
  packages/ng/libraries/formly/src/lib/formly.config.ts
  packages/ng/libraries/formly/src/lib/formly.module.ts
  packages/ng/libraries/formly/src/lib/index.ts
  packages/ng/libraries/formly/src/lib/types/index.ts
  packages/ng/libraries/formly/src/lib/wrappers/index.ts
Labels: Priority Medium, bug, package ng

#794 [textfield] Framed placeholder should be visible in neutral state
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/mixins/_forms.scss
Labels: bug, package scss

#803 [Fix][Option-picker] add class
  packages/ng/libraries/core/src/lib/option/picker/option-picker-advanced.component.html
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.html
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker-advanced.component.html
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.component.html
Labels: bug, package ng

#785 formly-radio - always use radio fields
  packages/ng/libraries/formly/src/lib/types/radios.html
Labels: Priority Low, bug, package ng

#789 [icons][add] sync unsync icon
  packages/icons/font/lucca-Icons.woff2
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/icons-list.js
  packages/icons/selection.json
  packages/icons/src/_mappings.scss
Labels: enhancement, minor, package icon

#796 Feat.795.textfield.filters
  packages/ng/applications/sandbox/src/app/issues/refactor-api-select/refactor-api-select.component.html
  packages/ng/applications/sandbox/src/app/issues/refactor-select/refactor-select.component.html
  packages/ng/libraries/core/src/style/definitions/select/_select-input.scss
  packages/ng/package-lock.json
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/package-lock.json
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/theming/components/_textfield.theme.scss
Labels: enhancement, minor, package ng

#800 Feat/formly - qw
  packages/ng/applications/sandbox/src/app/issues/formly-framed/formly-framed.component.html
  packages/ng/applications/sandbox/src/app/issues/formly-framed/formly-framed.component.ts
  packages/ng/applications/sandbox/src/app/issues/formly-framed/formly-framed.module.ts
  packages/ng/applications/sandbox/src/app/issues/formly-framed/index.ts
  packages/ng/applications/sandbox/src/app/issues/formly-wrappers/formly-wrappers.component.html
  packages/ng/applications/sandbox/src/app/issues/formly-wrappers/formly-wrappers.component.ts
  packages/ng/applications/sandbox/src/app/issues/formly-wrappers/formly-wrappers.module.ts
  packages/ng/applications/sandbox/src/app/issues/formly-wrappers/index.ts
  packages/ng/applications/sandbox/src/app/issues/formly/formly.component.html
  packages/ng/applications/sandbox/src/app/issues/formly/formly.component.ts
  packages/ng/applications/sandbox/src/app/issues/formly/formly.module.ts
  packages/ng/applications/sandbox/src/app/issues/formly/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/tsconfig.aot.json
  packages/ng/applications/sandbox/tsconfig.app.json
  packages/ng/libraries/formly/src/lib/wrappers/error.ts
Labels: enhancement, minor, package ng

#818 dependencies update
  CODEOWNERS
  README.md
  package-lock.json
  package.json
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/scss/package-lock.json
  packages/scss/package.json
  packages/scss/src/components/inputs/field/_field.scss
Labels: dependencies, minor

#793 Feat.textfield.remove.palettes
  packages/scss/demo/components/forms/forms-framed.html
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/src/_utilities.scss
  packages/scss/src/components/_breadcrumb.scss
  packages/scss/src/components/_error-page.scss
  packages/scss/src/components/_grid.scss
  packages/scss/src/components/_header.scss
  packages/scss/src/components/_link.scss
  packages/scss/src/components/_table.scss
  packages/scss/src/components/inputs/field/_field.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/theming/components/_field.theme.scss
  packages/scss/src/utilities/_misc.scss
  packages/scss/src/utilities/_text.scss
  packages/scss/src/utilities/_textfield.scss
Labels: BREAKING CHANGE, enhancement, minor, package scss

#797 Feat.button.moreactions
  packages/scss/demo/components/buttons.html
  packages/scss/src/components/_button.scss
Labels: enhancement, minor, package scss

#860 [772] fix sticky element vertical position
  packages/scss/demo/demo.css
  packages/scss/src/components/_filters.scss
  packages/scss/src/components/_header.scss
Labels: bug, package scss

#871 [fix] typo in luTreeOptionItemTranslations
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.translate.ts
Labels: bug, minor, package ng

#884 [modal] add unsubscribe on the subaction observable
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.ts
Labels: bug, package ng

#885 [layout] mod-withStickyHeader refactor
  packages/scss/demo/components/containers.html
  packages/scss/demo/components/main.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/components/_container.scss
Labels: bug, package scss

#886 [side panel] Default size should be 39 rem
  packages/ng/libraries/core/src/style/components/_sidepanel.scss
  packages/ng/libraries/core/src/style/theme/_popup.theme.scss
Labels: bug, package ng

#887 [loading] fullPage should accept a label
  packages/scss/src/components/_loading.scss
Labels: bug, package scss

#891 Fix/scss.demo
  packages/scss/.gitignore
  packages/scss/demo/lucca-front.css
  packages/scss/demo/lucca-front.css.map
  packages/scss/gulpfile.js
Labels: Priority High, bug, package scss
