Repository LuccaSA/lucca-front, pull requests merged in 2019-07, with the labels that each got.

#678 Centralize hover color in a commons.highlight variable
  packages/ng/libraries/core/src/style/definitions/option/_option-item.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/components/_list.theme.scss
  packages/scss/src/theming/components/_table.theme.scss
Labels: enhancement, package ng, package scss

#676 Rem node sass
  package-lock.json
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/node-sass-end/index.ts
  packages/ng/applications/sandbox/src/app/issues/node-sass-end/node-sass-end.component.html
  packages/ng/applications/sandbox/src/app/issues/node-sass-end/node-sass-end.component.ts
  packages/ng/applications/sandbox/src/app/issues/node-sass-end/node-sass-end.module.ts
  packages/ng/libraries/core/package.json
  packages/ng/libraries/material/src/style/components/_datepicker.scss
  packages/ng/libraries/material/src/style/components/_menu.scss
  packages/ng/libraries/material/src/style/components/_options.scss
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/scss/.browserslistrc
  packages/scss/gulpfile.js
  packages/scss/package-lock.json
  packages/scss/package.json
  packages/scss/src/components/_grid.scss
  packages/scss/src/theming/components/_main.theme.scss
Labels: BREAKING CHANGE, enhancement, major, package ng, package scss

#686 Fix modal/sidepanel
  packages/ng/applications/sandbox/src/app/issues/fix-modal/fix-modal.component.html
  packages/ng/applications/sandbox/src/app/issues/fix-modal/fix-modal.component.ts
  packages/ng/applications/sandbox/src/app/issues/fix-modal/fix-modal.module.ts
  packages/ng/applications/sandbox/src/app/issues/fix-modal/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.module.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.service.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.token.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.module.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.service.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.token.ts
Labels: bug, major, package ng

#687 modal-sidepanel - hide submit button
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/modals-no-submit/index.ts
  packages/ng/applications/sandbox/src/app/issues/modals-no-submit/modals-no-submit.component.html
  packages/ng/applications/sandbox/src/app/issues/modals-no-submit/modals-no-submit.component.ts
  packages/ng/applications/sandbox/src/app/issues/modals-no-submit/modals-no-submit.module.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-panel.component.html
Labels: enhancement, minor

#688 [fix] Select picker overlap
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/select-overlap/index.ts
  packages/ng/applications/sandbox/src/app/issues/select-overlap/select-overlap.component.html
  packages/ng/applications/sandbox/src/app/issues/select-overlap/select-overlap.component.ts
  packages/ng/applications/sandbox/src/app/issues/select-overlap/select-overlap.module.ts
  packages/ng/libraries/core/src/lib/select/input/select-input.component.ts
Labels: minor, package ng

#706 Fix/705.option picker.keyboard.selection
  .travis.yml
  packages/ng/applications/sandbox/src/app/issues/fix-705-select-enter/fix-705-select-enter.component.html
  packages/ng/applications/sandbox/src/app/issues/fix-705-select-enter/fix-705-select-enter.component.ts
  packages/ng/applications/sandbox/src/app/issues/fix-705-select-enter/fix-705-select-enter.module.ts
  packages/ng/applications/sandbox/src/app/issues/fix-705-select-enter/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker-advanced.component.html
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.html
  packages/ng/libraries/core/src/lib/select/input/select-input.component.ts
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker-advanced.component.html
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.component.html
Labels: Priority High, bug, package ng

#712 option items - for some reason lu-option-item had a clientHeight of 0…
  packages/ng/libraries/core/src/lib/option/item/option-item.component.html
  packages/ng/libraries/core/src/lib/option/item/option-item.component.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.html
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.ts
Labels: bug
