Repository LuccaSA/lucca-front, pull requests merged in 2019-06, with the labels that each got.

#658 surge - enable hash navigation
  demo/package.json
  packages/ng/applications/sandbox/src/app/app.module.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/environments/environment.prod.ts
  packages/ng/applications/sandbox/src/environments/environment.ts
  packages/ng/schematics/issue/index.ts
Labels: enhancement

#656 [NG][SCSS] Fix textarea disabled on mod-framed
  packages/ng/docs/demo/src/app/formly/fieldgroup/fieldgroup.ts
  packages/ng/libraries/formly/src/lib/wrappers/textfield-layout.html
  packages/ng/libraries/formly/src/lib/wrappers/textfield-layout.ts
  packages/scss/src/components/inputs/field/_field.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: bug, package ng, package scss

#657 Fix.472
  demo/package.json
  packages/ng/applications/sandbox/src/app/app.module.ts
  packages/ng/applications/sandbox/src/app/issues/fix-472/fix-472.component.html
  packages/ng/applications/sandbox/src/app/issues/fix-472/fix-472.component.ts
  packages/ng/applications/sandbox/src/app/issues/fix-472/fix-472.module.ts
  packages/ng/applications/sandbox/src/app/issues/fix-472/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/environments/environment.prod.ts
  packages/ng/applications/sandbox/src/environments/environment.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.html
  packages/ng/libraries/core/src/lib/option/picker/option-picker.model.ts
  packages/ng/schematics/issue/index.ts
Labels: bug, package ng

#659 [poc] tree option inside a option picker
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/poc-tree/index.ts
  packages/ng/applications/sandbox/src/app/issues/poc-tree/poc-tree.component.html
  packages/ng/applications/sandbox/src/app/issues/poc-tree/poc-tree.component.ts
  packages/ng/applications/sandbox/src/app/issues/poc-tree/poc-tree.module.ts
  packages/ng/libraries/core/src/lib/index.ts
  packages/ng/libraries/core/src/lib/module.ts
  packages/ng/libraries/core/src/lib/tree/index.ts
  packages/ng/libraries/core/src/lib/tree/option/index.ts
  packages/ng/libraries/core/src/lib/tree/option/item/index.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.html
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.scss
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.model.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.module.ts
  packages/ng/libraries/core/src/lib/tree/option/tree-option.module.ts
  packages/ng/libraries/core/src/lib/tree/tree.model.ts
  packages/ng/libraries/core/src/lib/tree/tree.module.ts
Labels: enhancement

#661 Poc.tree.picker
  packages/ng/applications/sandbox/src/app/issues/poc-tree/poc-tree.component.html
  packages/ng/applications/sandbox/src/app/issues/poc-tree/poc-tree.module.ts
  packages/ng/libraries/core/src/lib/option/item/option-item.component.ts
  packages/ng/libraries/core/src/lib/option/item/option-item.model.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker-advanced.component.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker.model.ts
  packages/ng/libraries/core/src/lib/tree/option/index.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.html
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.model.ts
  packages/ng/libraries/core/src/lib/tree/option/picker/index.ts
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.component.html
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.component.scss
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.component.ts
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.model.ts
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.module.ts
  packages/ng/libraries/core/src/lib/tree/option/tree-option.module.ts
Labels: enhancement, package ng

#666 Modal.some.enhancements
  packages/ng/applications/sandbox/src/app/issues/poc-modal/poc-modal.component.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.model.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.translate.ts
  packages/ng/tsconfig.json
Labels: enhancement, package ng

#667 Sidepanel
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/poc-popup/poc-popup.component.html
  packages/ng/applications/sandbox/src/app/issues/poc-popup/poc-popup.component.ts
  packages/ng/applications/sandbox/src/app/issues/sidepanel/index.ts
  packages/ng/applications/sandbox/src/app/issues/sidepanel/sidepanel.component.html
  packages/ng/applications/sandbox/src/app/issues/sidepanel/sidepanel.component.ts
  packages/ng/applications/sandbox/src/app/issues/sidepanel/sidepanel.module.ts
  packages/ng/libraries/core/src/lib/overlay/index.ts
  packages/ng/libraries/core/src/lib/overlay/modal/index.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/overlay.module.ts
  packages/ng/libraries/core/src/lib/overlay/popup/popup-config.model.ts
  packages/ng/libraries/core/src/lib/overlay/popup/popup-ref.model.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/index.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-config.default.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-config.model.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-panel.component.scss
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-ref.factory.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-ref.model.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.intl.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.model.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.module.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.service.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.token.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.translate.ts
Labels: enhancement, package ng

#668 [fix] adds state class for is disabled is readonly
  packages/scss/src/components/inputs/field/_field.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.material.scss
Labels: bug, package scss

#669 [LF][FIX] user-tile > avoid error when user is undefined
  packages/ng/libraries/core/src/lib/user/tile/user-tile.component.html
Labels: bug, package ng

#670 [3.0] SidePanel styles + overlay animations
  packages/ng/libraries/core/src/lib/overlay/modal/modal-config.default.ts
  packages/ng/libraries/core/src/lib/overlay/popup/popup-config.default.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-config.default.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-panel.component.html
  packages/ng/libraries/core/src/style/_components.scss
  packages/ng/libraries/core/src/style/components/_popup.scss
  packages/ng/libraries/core/src/style/components/_sidepanel.scss
  packages/ng/libraries/core/src/style/theme/_popup.theme.scss
Labels: enhancement, package ng

#672 Refacto.option item.selected
  packages/ng/libraries/core/src/lib/option/item/option-item.component.ts
  packages/ng/libraries/core/src/lib/option/item/option-item.model.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker-advanced.component.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.ts
  packages/ng/libraries/core/src/lib/tree/option/item/index.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.html
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.intl.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.module.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.token.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.translate.ts
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker-advanced.component.ts
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.component.ts
Labels: BREAKING CHANGE, package ng

#673 [add] Scroll block and scroll in sidepanel
  packages/ng/libraries/core/src/style/components/_popup.scss
  packages/ng/libraries/core/src/style/components/_sidepanel.scss
  packages/ng/libraries/core/src/style/theme/_popup.theme.scss
Labels: enhancement, package ng
