Repository LuccaSA/lucca-front, pull requests merged in 2019-04, with the labels that each got.

#590 [520] primary & secondary are grey
  packages/ng/docs/demo/src/theme/overrides/_palettes.override.scss
  packages/scss/demo/demo.css
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/theming/_palettes.scss
  packages/scss/src/theming/components/_textfield.theme.scss
Labels: enhancement, scss

#591 [573] table of content
  packages/scss/demo/components/table-of-content.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/demo/templates/side-sections.html
  packages/scss/src/_components.scss
  packages/scss/src/components/_table-of-content.scss
  packages/scss/src/theming/_components.scss
  packages/scss/src/theming/components/_table-of-content.theme.scss
Labels: enhancement, scss

#593 [fix] header misc
  packages/scss/src/_ie11.scss
  packages/scss/src/components/_filters.scss
  packages/scss/src/components/_header.scss
  packages/scss/src/components/_main.scss
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/main.scss
  packages/scss/src/theming/components/_filters.theme.scss
  packages/scss/src/theming/components/_header.theme.scss
Labels: bug, scss

#595 [fix] options height for IE11
  packages/ng/libraries/core/src/style/definitions/option/_option-picker.scss
  packages/ng/libraries/core/src/style/definitions/option/_option-searcher.scss
Labels: bug, ng

#599 [feat] toast/tooltip same color
  packages/ng/libraries/core/src/style/theme/_tooltip.theme.scss
  packages/scss/src/components/_toasts.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/components/_toasts.theme.scss
Labels: enhancement, scss

#600 [ENH] Add mod-withMenu and mod-withMenuCompact
  packages/scss/src/components/_container.scss
  packages/scss/src/components/_main.scss
Labels: enhancement, scss

#601 Fix.options.width
  packages/ng/docs/demo/src/app/select/foundations/basic/basic.html
  packages/ng/docs/demo/tsconfig.app.json
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.html
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.ts
  packages/ng/libraries/core/src/lib/popover/panel/popover-panel.component.ts
  packages/ng/libraries/core/src/lib/popover/panel/popover-panel.model.ts
  packages/ng/libraries/core/src/lib/popover/trigger/popover-trigger.model.ts
  packages/ng/libraries/core/src/style/components/_overlay.scss
  packages/ng/libraries/core/src/style/definitions/option/_option-picker.scss
Labels: enhancement, ng

#604 [fix][SCSS] Tables sorting arrows were inverted
  packages/scss/src/components/_table.scss
Labels: bug, package scss

#613 [bug][ng] Adds a loader when opening an option-picker
  packages/ng/libraries/core/src/lib/option/operator/for-options/for-options.directive.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.html
  packages/ng/libraries/core/src/lib/option/picker/option-picker.model.ts
  packages/ng/libraries/core/src/style/definitions/option/_option-picker.scss
Labels: bug, package ng

#615 [bug][ng] Select padding and picker minwidth
  packages/ng/libraries/core/src/lib/api/select/input/api-select-input.component.scss
  packages/ng/libraries/core/src/lib/select/input/select-input.model.ts
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.component.scss
  packages/ng/libraries/core/src/style/components/_overlay.scss
Labels: bug, package ng

#616 add Sandbox env + schematic
  packages/ng/.angular.json
  packages/ng/applications/sandbox/browserslist
  packages/ng/applications/sandbox/karma.conf.js
  packages/ng/applications/sandbox/src/app/app.component.html
  packages/ng/applications/sandbox/src/app/app.component.ts
  packages/ng/applications/sandbox/src/app/app.module.ts
  packages/ng/applications/sandbox/src/app/issues/bogus/bogus.component.html
  packages/ng/applications/sandbox/src/app/issues/bogus/bogus.component.ts
  packages/ng/applications/sandbox/src/app/issues/bogus/bogus.module.ts
  packages/ng/applications/sandbox/src/app/issues/bogus/index.ts
  packages/ng/applications/sandbox/src/app/issues/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/redirect/index.ts
  packages/ng/applications/sandbox/src/app/redirect/redirect.interceptor.ts
  packages/ng/applications/sandbox/src/app/redirect/redirect.module.ts
  packages/ng/applications/sandbox/src/environments/environment.prod.ts
  packages/ng/applications/sandbox/src/environments/environment.ts
  packages/ng/applications/sandbox/src/index.html
  packages/ng/applications/sandbox/src/main.ts
  packages/ng/applications/sandbox/src/polyfills.ts
  packages/ng/applications/sandbox/src/styles.scss
  packages/ng/applications/sandbox/src/test.ts
  packages/ng/applications/sandbox/tsconfig.app.json
  packages/ng/applications/sandbox/tsconfig.spec.json
  packages/ng/applications/sandbox/tslint.json
  packages/ng/libraries/core/src/lib/option/picker/option-picker.module.ts
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/ng/schematics/.gitignore
  packages/ng/schematics/.npmignore
  packages/ng/schematics/collection.json
  packages/ng/schematics/issue/files/__name__.component.html
  packages/ng/schematics/issue/files/__name__.component.ts
  packages/ng/schematics/issue/files/__name__.module.ts
  packages/ng/schematics/issue/files/index.ts
  packages/ng/schematics/issue/index.ts
  packages/ng/schematics/issue/schema.json
  packages/ng/schematics/issue/schema.ts
  packages/ng/schematics/package-lock.json
  packages/ng/schematics/package.json
  packages/ng/schematics/schema.ts
  packages/ng/schematics/tsconfig.json
Labels: enhancement, package ng

#617 Poc translate
  package-lock.json
  package.json
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/poc-translate/index.ts
  packages/ng/applications/sandbox/src/app/issues/poc-translate/lol.component.ts
  packages/ng/applications/sandbox/src/app/issues/poc-translate/lol.intl.ts
  packages/ng/applications/sandbox/src/app/issues/poc-translate/lol.module.ts
  packages/ng/applications/sandbox/src/app/issues/poc-translate/lol.override.ts
  packages/ng/applications/sandbox/src/app/issues/poc-translate/lol.translate.ts
  packages/ng/applications/sandbox/src/app/issues/poc-translate/poc-translate.component.html
  packages/ng/applications/sandbox/src/app/issues/poc-translate/poc-translate.component.ts
  packages/ng/applications/sandbox/src/app/issues/poc-translate/poc-translate.module.ts
  packages/ng/applications/sandbox/tsconfig.app.json
  packages/ng/schematics/issue/files/__name__.module.ts
Labels: enhancement, package ng

#620 [BC] refacto overlays - tooltips
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays-tooltip/refacto-overlays-tooltip.component.html
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays-tooltip/refacto-overlays-tooltip.module.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays/refacto-overlays.component.html
  packages/ng/libraries/core/src/lib/overlay/index.ts
  packages/ng/libraries/core/src/lib/overlay/overlay.module.ts
  packages/ng/libraries/core/src/lib/overlay/popover/trigger/popover-trigger.directive.ts
  packages/ng/libraries/core/src/lib/overlay/popover/trigger/popover-trigger.model.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/panel/tooltip-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/trigger/tooltip-trigger.directive.ts
Labels: BREAKING CHANGE, package ng

#621 [BC] refato overlay - advanced
  packages/ng/applications/sandbox/src/app/issues/bogus/bogus.component.html
  packages/ng/applications/sandbox/src/app/issues/bogus/bogus.component.ts
  packages/ng/applications/sandbox/src/app/issues/bogus/bogus.module.ts
  packages/ng/applications/sandbox/src/app/issues/bogus/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-overlay-advanced/index.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-overlay-advanced/refacto-overlay-advanced.component.html
  packages/ng/applications/sandbox/src/app/issues/refacto-overlay-advanced/refacto-overlay-advanced.component.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-overlay-advanced/refacto-overlay-advanced.module.ts
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.model.ts
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.module.ts
  packages/ng/libraries/core/src/lib/overlay/popover/target/popover-target.directive.ts
  packages/ng/libraries/core/src/lib/overlay/popover/target/popover-target.model.ts
  packages/ng/libraries/core/src/lib/overlay/popover/trigger/popover-trigger.directive.ts
  packages/ng/libraries/core/src/lib/overlay/popover/trigger/popover-trigger.model.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/panel/tooltip-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/trigger/tooltip-trigger.directive.ts
Labels: BREAKING CHANGE, package ng

#622 [BC] refacto overlays - scroll strat and repositionning
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-overlay-advanced/refacto-overlay-advanced.component.html
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays-reposition/index.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays-reposition/refacto-overlays-reposition.component.html
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays-reposition/refacto-overlays-reposition.component.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays-reposition/refacto-overlays-reposition.module.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-tooltip/index.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-tooltip/refacto-tooltip.component.html
  packages/ng/applications/sandbox/src/app/issues/refacto-tooltip/refacto-tooltip.component.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-tooltip/refacto-tooltip.module.ts
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.model.ts
  packages/ng/libraries/core/src/lib/overlay/popover/target/popover-target.model.ts
  packages/ng/libraries/core/src/lib/overlay/popover/trigger/popover-trigger.model.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/animation/index.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/animation/tooltip.animation.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/index.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/panel/tooltip-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/tooltip/panel/tooltip-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/trigger/tooltip-trigger.directive.ts
  packages/ng/libraries/core/src/style/components/_popover.scss
  packages/ng/libraries/core/src/style/definitions/tooltip/_tooltip.scss
Labels: BREAKING CHANGE, package ng

#623 [BC] refactor popovers - fix select and option picker
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/refactor-api-select/index.ts
  packages/ng/applications/sandbox/src/app/issues/refactor-api-select/refactor-api-select.component.html
  packages/ng/applications/sandbox/src/app/issues/refactor-api-select/refactor-api-select.component.ts
  packages/ng/applications/sandbox/src/app/issues/refactor-api-select/refactor-api-select.module.ts
  packages/ng/applications/sandbox/src/app/issues/refactor-select/index.ts
  packages/ng/applications/sandbox/src/app/issues/refactor-select/refactor-select.component.html
  packages/ng/applications/sandbox/src/app/issues/refactor-select/refactor-select.component.ts
  packages/ng/applications/sandbox/src/app/issues/refactor-select/refactor-select.module.ts
  packages/ng/libraries/core/src/lib/api/select/input/api-select-input.component.ts
  packages/ng/libraries/core/src/lib/index.ts
  packages/ng/libraries/core/src/lib/input/input.model.ts
  packages/ng/libraries/core/src/lib/input/picker/input-picker.model.ts
  packages/ng/libraries/core/src/lib/module.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.html
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker.model.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker.module.ts
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.model.ts
  packages/ng/libraries/core/src/lib/select/input/select-input.model.ts
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.component.ts
Labels: BREAKING CHANGE, package ng

#624 [BC] popover refactor - clean up crew
  packages/ng/libraries/core/src/lib/option/picker/option-picker.model.ts
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.model.ts
  packages/ng/libraries/core/src/lib/overlay/popover/trigger/popover-trigger.directive.ts
  packages/ng/libraries/core/src/lib/overlay/popover/trigger/popover-trigger.model.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/panel/tooltip-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/tooltip/trigger/tooltip-trigger.directive.ts
Labels: BREAKING CHANGE, package ng
