Repository LuccaSA/lucca-front, pull requests merged in 2019-11, with the labels that each got.

#894 buttons, button-groups & iconAction should have a vertical-align: mid…
  packages/scss/src/components/_action-icon.scss
Labels: bug, package scss

#897 modal bottom padding
  packages/ng/libraries/core/src/style/components/_popup.scss
Labels: bug, package ng

#898 fix textfield mod white focus style
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: bug, package scss

#899 [Table] Draggable header alignment
  packages/scss/demo/components/tables.html
  packages/scss/src/components/_table.scss
Labels: bug, package scss

#900 [table] table-body-row-cell alignment
  packages/scss/src/components/_table.scss
Labels: bug, package scss

#828 [Utilities] Comma separator u-comma
  packages/scss/demo/components/utilities.html
  packages/scss/src/utilities/_misc.scss
  packages/scss/src/utilities/_text.scss
Labels: enhancement, package scss

#831 [table] replace before's drag handler by a full HTML element
  packages/scss/demo/components/tables.html
  packages/scss/src/components/_table.scss
Labels: BREAKING CHANGE, enhancement, package scss

#873 [button] Add ghost mod
  packages/scss/demo/components/buttons.html
  packages/scss/src/components/_button.scss
Labels: enhancement, package scss

#849 Feat/modals.enh
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/modal-dismiss/index.ts
  packages/ng/applications/sandbox/src/app/issues/modal-dismiss/modal-dismiss.component.html
  packages/ng/applications/sandbox/src/app/issues/modal-dismiss/modal-dismiss.component.ts
  packages/ng/applications/sandbox/src/app/issues/modal-dismiss/modal-dismiss.module.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/popup/popup-ref.model.ts
Labels: BREAKING CHANGE, enhancement, major, package ng

#892 [table] mod no padding for first/last cell
  packages/scss/demo/components/tables.html
  packages/scss/src/components/_table.scss
Labels: enhancement, package scss

#851 [feat] picker structure
  packages/ng/.angular.json
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/picker-structure/index.ts
  packages/ng/applications/sandbox/src/app/issues/picker-structure/picker-structure.component.html
  packages/ng/applications/sandbox/src/app/issues/picker-structure/picker-structure.component.ts
  packages/ng/applications/sandbox/src/app/issues/picker-structure/picker-structure.module.ts
  packages/ng/libraries/core/src/lib/api/select/input/api-select-input.component.html
  packages/ng/libraries/core/src/lib/api/select/searcher/api-searcher.component.ts
  packages/ng/libraries/core/src/lib/department/select/input/department-select-input.component.html
  packages/ng/libraries/core/src/lib/option/operator/searcher/option-searcher.component.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker-advanced.component.html
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.html
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.scss
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.ts
  packages/ng/libraries/core/src/lib/tree/option/item/tree-option-item.component.scss
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker-advanced.component.html
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.component.html
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker.component.scss
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.component.html
  packages/ng/libraries/core/src/lib/user/select/searcher/user-searcher.component.ts
  packages/ng/libraries/core/src/style/_components.scss
  packages/ng/libraries/core/src/style/_definitions.scss
  packages/ng/libraries/core/src/style/components/_picker.scss
  packages/ng/libraries/core/src/style/components/_popover.scss
  packages/ng/libraries/core/src/style/definitions/option/_option-picker.scss
  packages/ng/libraries/core/src/style/definitions/option/_option-searcher.scss
Labels: BREAKING CHANGE, enhancement, package ng

#852 [feat] options selector
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/option-selector/index.ts
  packages/ng/applications/sandbox/src/app/issues/option-selector/option-selector.component.html
  packages/ng/applications/sandbox/src/app/issues/option-selector/option-selector.component.ts
  packages/ng/applications/sandbox/src/app/issues/option-selector/option-selector.module.ts
  packages/ng/libraries/core/src/lib/department/select/input/department-select-input.component.html
  packages/ng/libraries/core/src/lib/department/select/input/department-select-input.component.scss
  packages/ng/libraries/core/src/lib/department/select/input/department-select-input.module.ts
  packages/ng/libraries/core/src/lib/option/index.ts
  packages/ng/libraries/core/src/lib/option/option.module.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker-advanced.component.ts
  packages/ng/libraries/core/src/lib/option/selector/all/index.ts
  packages/ng/libraries/core/src/lib/option/selector/all/select-all.component.html
  packages/ng/libraries/core/src/lib/option/selector/all/select-all.component.scss
  packages/ng/libraries/core/src/lib/option/selector/all/select-all.component.ts
  packages/ng/libraries/core/src/lib/option/selector/all/select-all.intl.ts
  packages/ng/libraries/core/src/lib/option/selector/all/select-all.module.ts
  packages/ng/libraries/core/src/lib/option/selector/all/select-all.token.ts
  packages/ng/libraries/core/src/lib/option/selector/all/select-all.translate.ts
  packages/ng/libraries/core/src/lib/option/selector/index.ts
  packages/ng/libraries/core/src/lib/option/selector/option-selector.model.ts
  packages/ng/libraries/core/src/lib/option/selector/option-selector.module.ts
  packages/ng/libraries/core/src/lib/tree/option/index.ts
  packages/ng/libraries/core/src/lib/tree/option/picker/tree-option-picker-advanced.component.ts
  packages/ng/libraries/core/src/lib/tree/option/selector/all/index.ts
  packages/ng/libraries/core/src/lib/tree/option/selector/all/select-all.component.html
  packages/ng/libraries/core/src/lib/tree/option/selector/all/select-all.component.scss
  packages/ng/libraries/core/src/lib/tree/option/selector/all/select-all.component.ts
  packages/ng/libraries/core/src/lib/tree/option/selector/all/select-all.intl.ts
  packages/ng/libraries/core/src/lib/tree/option/selector/all/select-all.module.ts
  packages/ng/libraries/core/src/lib/tree/option/selector/all/select-all.token.ts
  packages/ng/libraries/core/src/lib/tree/option/selector/all/select-all.translate.ts
  packages/ng/libraries/core/src/lib/tree/option/selector/index.ts
  packages/ng/libraries/core/src/lib/tree/option/selector/tree-option-selector.model.ts
  packages/ng/libraries/core/src/lib/tree/option/selector/tree-option-selector.module.ts
  packages/ng/libraries/core/src/lib/tree/option/tree-option.module.ts
  packages/ng/libraries/core/src/style/_definitions.scss
  packages/ng/libraries/core/src/style/definitions/option/_option-selector.scss
Labels: enhancement, package ng

#846 [Textfield] auto size height
  packages/ng/applications/sandbox/src/app/issues/fix-472/fix-472.component.html
  packages/ng/applications/sandbox/src/app/issues/fix-472/fix-472.module.ts
  packages/ng/libraries/core/src/style/_components.scss
  packages/ng/libraries/core/src/style/components/_input.scss
  packages/ng/libraries/core/src/style/components/_popup.scss
  packages/ng/libraries/core/src/style/components/cdk/_global.scss
  packages/ng/libraries/core/src/style/components/cdk/_misc.scss
  packages/ng/libraries/core/src/style/components/cdk/_overlay.scss
  packages/ng/libraries/core/src/style/components/cdk/_textarea.scss
Labels: enhancement, minor, package ng

#919 [feat] formly uses the brand new datepicker
  packages/ng/applications/sandbox/src/app/issues/formly/formly.module.ts
  packages/ng/libraries/date/src/lib/native/native-date.module.ts
  packages/ng/libraries/formly/package.json
  packages/ng/libraries/formly/src/lib/formly.module.ts
  packages/ng/libraries/formly/src/lib/types/date.html
  packages/ng/libraries/formly/src/lib/types/date.ts
  packages/ng/libraries/formly/src/lib/types/select.scss
  packages/ng/libraries/formly/src/lib/wrappers/icon.ts
  packages/ng/libraries/root/src/index.ts
Labels: enhancement, package ng

#918 [feat] date - min/max inputs and validation
  packages/ng/applications/sandbox/src/app/issues/date-minmax/date-minmax.component.html
  packages/ng/applications/sandbox/src/app/issues/date-minmax/date-minmax.component.ts
  packages/ng/applications/sandbox/src/app/issues/date-minmax/date-minmax.module.ts
  packages/ng/applications/sandbox/src/app/issues/date-minmax/index.ts
  packages/ng/applications/sandbox/src/app/issues/formly/formly.module.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.ts
  packages/ng/libraries/date/src/lib/input/date-input.directive.ts
  packages/ng/libraries/date/src/lib/native/native-date.module.ts
  packages/ng/libraries/date/src/lib/picker/date-picker.component.html
  packages/ng/libraries/date/src/lib/picker/date-picker.component.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.component.html
  packages/ng/libraries/date/src/lib/select/date-select-input.component.ts
  packages/ng/libraries/formly/package.json
  packages/ng/libraries/formly/src/lib/formly.module.ts
  packages/ng/libraries/formly/src/lib/types/date.html
  packages/ng/libraries/formly/src/lib/types/date.ts
  packages/ng/libraries/formly/src/lib/types/select.scss
  packages/ng/libraries/formly/src/lib/wrappers/icon.ts
  packages/ng/libraries/root/src/index.ts
Labels: enhancement, package ng

#917 [feat] date-select
  packages/ng/applications/sandbox/src/app/issues/date-minmax/date-minmax.component.html
  packages/ng/applications/sandbox/src/app/issues/date-minmax/date-minmax.component.ts
  packages/ng/applications/sandbox/src/app/issues/date-minmax/date-minmax.module.ts
  packages/ng/applications/sandbox/src/app/issues/date-minmax/index.ts
  packages/ng/applications/sandbox/src/app/issues/date-select/date-select.component.html
  packages/ng/applications/sandbox/src/app/issues/date-select/date-select.component.ts
  packages/ng/applications/sandbox/src/app/issues/date-select/date-select.module.ts
  packages/ng/applications/sandbox/src/app/issues/date-select/index.ts
  packages/ng/applications/sandbox/src/app/issues/formly/formly.module.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.ts
  packages/ng/libraries/date/src/lib/date.module.ts
  packages/ng/libraries/date/src/lib/index.ts
  packages/ng/libraries/date/src/lib/input/date-input.directive.ts
  packages/ng/libraries/date/src/lib/native/native-date.module.ts
  packages/ng/libraries/date/src/lib/picker/date-picker.component.html
  packages/ng/libraries/date/src/lib/picker/date-picker.component.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.component.html
  packages/ng/libraries/date/src/lib/select/date-select-input.component.scss
  packages/ng/libraries/date/src/lib/select/date-select-input.component.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.module.ts
  packages/ng/libraries/date/src/lib/select/index.ts
  packages/ng/libraries/formly/package.json
  packages/ng/libraries/formly/src/lib/formly.module.ts
  packages/ng/libraries/formly/src/lib/types/date.html
  packages/ng/libraries/formly/src/lib/types/date.ts
  packages/ng/libraries/formly/src/lib/types/select.scss
  packages/ng/libraries/formly/src/lib/wrappers/icon.ts
  packages/ng/libraries/root/src/index.ts
Labels: enhancement, package ng

#845 [feat] dependencies up to date
  package-lock.json
  packages/icons/package-lock.json
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/scss/package-lock.json
  packages/scss/package.json
Labels: Priority Low, dependencies, enhancement, minor, package ng
