Repository LuccaSA/lucca-front, pull requests merged in 2019-01, with the labels that each got.

#531 [fix] [SCSS] Checkboxesfield mod-row was not properly defined
  packages/scss/src/components/inputs/checkbox/_checkboxesfield.scss
  packages/scss/src/components/inputs/radio/_radiosfield.scss
  packages/scss/src/theming/components/_field.theme.scss
Labels: bug, scss

#536 [fix] minor - textfield* and callout bg
  packages/scss/CHANGELOG.md
  packages/scss/src/components/_callout.scss
  packages/scss/src/mixins/_forms.scss
  packages/scss/src/theming/components/_callout.theme.scss
Labels: bug, enhancement, scss

#515 [feat] ng-formly - api allow orderby
  packages/ng/libraries/formly/src/lib/types/api.html
  packages/ng/libraries/formly/src/lib/types/api.ts
Labels: enhancement, ng

#511 [feat] clean shame - bugfix galore
  packages/ng/libraries/core/src/style/definitions/select/_select-clearer.scss
  packages/ng/libraries/core/src/style/definitions/select/_select-input.scss
  packages/ng/libraries/material/src/style/components/_dialog.scss
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/forms/forms-checkboxes.html
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/demo/components/icons.html
  packages/scss/demo/components/loading.html
  packages/scss/demo/components/tables.html
  packages/scss/demo/components/templates.html
  packages/scss/demo/components/utilities.html
  packages/scss/demo/templates/noside-header-nav.html
  packages/scss/demo/templates/side-header-nav.html
  packages/scss/src/components/_actionIcon.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_card.scss
  packages/scss/src/components/_container.scss
  packages/scss/src/components/_filters.scss
  packages/scss/src/components/_grid.scss
  packages/scss/src/components/_header.scss
  packages/scss/src/components/_link.scss
  packages/scss/src/components/_loading.scss
  packages/scss/src/components/_menu.scss
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/components/_table.scss
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/field/_field.scss
  packages/scss/src/components/inputs/radio/_radio.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/mixins/_loading.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/components/_button.theme.scss
  packages/scss/src/theming/components/_checkbox.theme.scss
  packages/scss/src/theming/components/_header.theme.scss
  packages/scss/src/theming/components/_menu.theme.scss
  packages/scss/src/theming/components/_nav-side.theme.scss
  packages/scss/src/theming/components/_radio.theme.scss
  packages/scss/src/utilities/_animations.scss
  packages/scss/src/utilities/_misc.scss
  packages/scss/src/utilities/_text.scss
Labels: bug, enhancement, scss

#513 [feat] radio buttons
  .travis.yml
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/buttons.html
  packages/scss/demo/components/forms.html
  packages/scss/demo/components/forms/forms-radioButtons.html
  packages/scss/demo/components/forms/forms-radios.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_components.scss
  packages/scss/src/components/_action-icon.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/inputs/radio-buttons/_radio-buttons.scss
  packages/scss/src/theming/_components.scss
  packages/scss/src/theming/_palettes.scss
  packages/scss/src/theming/components/_button.theme.scss
  packages/scss/src/theming/components/_radio-buttons.theme.scss
Labels: scss
