Repository LuccaSA/lucca-front, pull requests merged in 2019-03, with the labels that each got.

#579 add puzzle icon
  packages/icons/demo/mapping.js
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/selection.json
  packages/scss/demo/demo.js
  packages/scss/package-lock.json
Labels: icon

#566 [feat] formly-date - add min/max
  packages/ng/docs/demo/src/app/formly/basic/basic.ts
  packages/ng/libraries/formly/src/lib/types/date.html
Labels: enhancement, ng

#580 [feat] 552 add draggable list mod
  packages/scss/demo/components/lists.html
  packages/scss/src/components/_list.scss
Labels: enhancement, scss

#581 [feat] 563 textfield white
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/demo/demo.css
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: enhancement, scss

#583 [feat] deemphasis table heads
  packages/scss/src/components/_table.scss
Labels: enhancement, scss

#584 [feat] Ng.tooltip.ui
  packages/ng/libraries/core/src/style/definitions/tooltip/_tooltip.scss
  packages/ng/libraries/core/src/style/theme/_tooltip.theme.scss
Labels: enhancement, ng

#585 2.4.0
  lerna.json
  package-lock.json
  package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/ng/docs/demo/src/app/formly/basic/basic.ts
  packages/ng/libraries/core/package.json
  packages/ng/libraries/core/src/lib/api/select/pager/api-pager.model.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker.component.ts
  packages/ng/libraries/core/src/style/definitions/tooltip/_tooltip.scss
  packages/ng/libraries/core/src/style/theme/_tooltip.theme.scss
  packages/ng/libraries/formly/package.json
  packages/ng/libraries/formly/src/lib/types/date.html
  packages/ng/libraries/material/package.json
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/demo/components/lists.html
  packages/scss/demo/demo.css
  packages/scss/package-lock.json
  packages/scss/package.json
  packages/scss/src/components/_container.scss
  packages/scss/src/components/_list.scss
  packages/scss/src/components/_table.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: enhancement, ng, scss

#589 [FIX][NG] Api & User select multiple weren't properly styled
  packages/ng/libraries/core/src/lib/api/select/input/api-select-input.component.html
  packages/ng/libraries/core/src/lib/api/select/input/api-select-input.component.ts
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.component.html
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.component.ts
Labels: bug, ng
