Repository LuccaSA/lucca-front, pull requests merged in 2019-09, with the labels that each got.

#723 [701] options checkbox theming
  packages/ng/libraries/core/src/style/definitions/option/_option-item.scss
  packages/ng/libraries/core/src/style/theme/_options.theme.scss
  packages/scss/src/theming/components/_checkbox.theme.scss
Labels: enhancement, package ng

#724 [704] bind options with commons.selected
  packages/ng/libraries/core/src/style/definitions/option/_option-item.scss
  packages/scss/src/theming/_commons.scss
Labels: enhancement, package ng

#747 Feat - homonyms
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/index.ts
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/user-select-homonyms.component.html
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/user-select-homonyms.component.ts
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/user-select-homonyms.module.ts
  packages/ng/libraries/core/src/lib/user/select/homonyms/index.ts
  packages/ng/libraries/core/src/lib/user/select/homonyms/user-homonyms.component.ts
  packages/ng/libraries/core/src/lib/user/select/homonyms/user-homonyms.module.ts
  packages/ng/libraries/core/src/lib/user/select/homonyms/user-homonyms.service.ts
  packages/ng/libraries/core/src/lib/user/select/index.ts
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.component.html
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.component.scss
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.module.ts
  packages/ng/libraries/core/src/lib/user/select/user-select.module.ts
  packages/ng/libraries/core/src/lib/user/user.model.ts
Labels: enhancement, package ng

#744 [Feat] modal ehancements
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/modal-synched/index.ts
  packages/ng/applications/sandbox/src/app/issues/modal-synched/modal-synched.component.html
  packages/ng/applications/sandbox/src/app/issues/modal-synched/modal-synched.component.ts
  packages/ng/applications/sandbox/src/app/issues/modal-synched/modal-synched.module.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.model.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.module.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.module.ts
  packages/ng/package-lock.json
  packages/ng/package.json
Labels: enhancement, package ng

#722 [692] improve callout links
  packages/scss/src/components/_callout.scss
Labels: enhancement, package scss

#751 [fix] 3.1 - build and homonyms
  packages/ng/libraries/core/src/lib/user/select/homonyms/user-homonyms.service.ts
  packages/ng/package-lock.json
  packages/ng/package.json
Labels: bug, package ng

#753 [grids] u-first / u-last don't work anymore
  packages/scss/src/components/_grid.scss
Labels: bug, package scss

#750 3.1
  lerna.json
  package-lock.json
  package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/ng/applications/sandbox/src/app/issues/fix-472/fix-472.component.html
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/modal-synched/index.ts
  packages/ng/applications/sandbox/src/app/issues/modal-synched/modal-synched.component.html
  packages/ng/applications/sandbox/src/app/issues/modal-synched/modal-synched.component.ts
  packages/ng/applications/sandbox/src/app/issues/modal-synched/modal-synched.module.ts
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/index.ts
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/user-select-homonyms.component.html
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/user-select-homonyms.component.ts
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/user-select-homonyms.module.ts
  packages/ng/docs/demo/src/app/select/multiple/basic/basic.html
  packages/ng/docs/demo/src/app/user/select/scoped/scoped.html
  packages/ng/libraries/core/package.json
  packages/ng/libraries/core/src/lib/department/select/input/department-select-input.component.html
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.model.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.module.ts
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel.module.ts
  packages/ng/libraries/core/src/lib/user/select/homonyms/index.ts
  packages/ng/libraries/core/src/lib/user/select/homonyms/user-homonyms.component.ts
  packages/ng/libraries/core/src/lib/user/select/homonyms/user-homonyms.module.ts
  packages/ng/libraries/core/src/lib/user/select/homonyms/user-homonyms.service.ts
  packages/ng/libraries/core/src/lib/user/select/index.ts
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.component.html
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.component.scss
  packages/ng/libraries/core/src/lib/user/select/input/user-select-input.module.ts
  packages/ng/libraries/core/src/lib/user/select/user-select.module.ts
  packages/ng/libraries/core/src/lib/user/user.model.ts
  packages/ng/libraries/core/src/style/definitions/option/_option-item.scss
  packages/ng/libraries/core/src/style/definitions/select/_select-input.scss
  packages/ng/libraries/core/src/style/theme/_options.theme.scss
  packages/ng/libraries/core/src/style/theme/_select.theme.scss
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/scss/demo/components/buttons.html
  packages/scss/demo/components/tables.html
  packages/scss/demo/components/utilities.html
  packages/scss/package-lock.json
  packages/scss/package.json
  packages/scss/src/components/_breadcrumb.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_callout.scss
  packages/scss/src/components/_gauge.scss
  packages/scss/src/components/_grid.scss
  packages/scss/src/components/_link.scss
  packages/scss/src/components/_table.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/components/_checkbox.theme.scss
  packages/scss/src/utilities/_misc.scss
  packages/scss/src/utilities/_text.scss
Labels: enhancement, minor

#748 [fix] textfiled vertical alignment
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: bug

#759 [FIX][ICON] Conflict issue and demo data
  packages/icons/demo/demo.css
  packages/icons/demo/demo.html
  packages/icons/demo/mapping.js
  packages/icons/gulpfile.js
  packages/icons/icons-list.js
  packages/icons/selection.json
Labels: bug, package icon

#764 [fix] modale close button style
  packages/ng/applications/sandbox/src/app/issues/poc-popup/poc-popup.template.html
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-panel.component.html
Labels: bug, package ng

#777 fix modale / sidepanel scroll
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/sidepanel/sidepanel-panel.component.html
  packages/ng/libraries/core/src/style/components/_popup.scss
  packages/ng/libraries/core/src/style/components/_sidepanel.scss
Labels: bug, package ng
