Repository LuccaSA/lucca-front, pull requests merged in 2019-08, with the labels that each got.

#728 [fix] disabled states with mods
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: bug, package scss

#730 [fix] api-feeder
  packages/ng/libraries/core/src/lib/api/select/feeder/api-feeder.component.ts
Labels: bug, package ng

#735 tree-picker add missing exports for override
  packages/ng/libraries/core/src/lib/tree/option/picker/index.ts
Labels: bug, package ng

#733 [Feat-732] lu-popover template context
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays/refacto-overlays.component.html
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.component.html
  packages/ng/libraries/core/src/lib/overlay/popover/panel/popover-panel.component.ts
Labels: enhancement, package ng
