Repository LuccaSA/lucca-front, pull requests merged in 2019-05, with the labels that each got.

#630 [BC] split operators
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/split-operators-api/index.ts
  packages/ng/applications/sandbox/src/app/issues/split-operators-api/split-operators-api.component.html
  packages/ng/applications/sandbox/src/app/issues/split-operators-api/split-operators-api.component.ts
  packages/ng/applications/sandbox/src/app/issues/split-operators-api/split-operators-api.module.ts
  packages/ng/applications/sandbox/src/app/issues/split-operators/index.ts
  packages/ng/applications/sandbox/src/app/issues/split-operators/split-operators.component.html
  packages/ng/applications/sandbox/src/app/issues/split-operators/split-operators.component.ts
  packages/ng/applications/sandbox/src/app/issues/split-operators/split-operators.module.ts
  packages/ng/libraries/core/src/lib/api/select/pager/api-pager.component.ts
  packages/ng/libraries/core/src/lib/api/select/pager/api-pager.model.ts
  packages/ng/libraries/core/src/lib/api/select/searcher/api-searcher.component.ts
  packages/ng/libraries/core/src/lib/api/select/searcher/api-searcher.model.ts
  packages/ng/libraries/core/src/lib/option/operator/option-operator.model.ts
  packages/ng/libraries/core/src/lib/option/operator/pager/option-pager.component.ts
  packages/ng/libraries/core/src/lib/option/operator/searcher/option-searcher.component.ts
  packages/ng/libraries/core/src/lib/option/picker/option-picker-advanced.component.ts
  packages/ng/libraries/core/src/lib/user/select/searcher/user-searcher.component.ts
Labels: BREAKING CHANGE, package ng

#633 [632] new state colors
  packages/scss/src/components/_callout.scss
  packages/scss/src/components/_label.scss
  packages/scss/src/theming/_palettes.scss
Labels: enhancement, package scss

#634 [629] labels new ui
  packages/scss/src/components/_label.scss
Labels: enhancement, package scss

#635 [628] improve button / textfield alignment & height
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/theming/components/_button.theme.scss
  packages/scss/src/theming/components/_textfield.theme.scss
Labels: enhancement, package scss

#636 [631] set mobile layout toggle in a variable
  packages/scss/src/_ie11.scss
  packages/scss/src/components/_container.scss
  packages/scss/src/components/_filters.scss
  packages/scss/src/components/_header.scss
  packages/scss/src/components/_main.scss
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/theming/_commons.scss
Labels: enhancement, package scss

#637 Feat.611 filters header sticky
  packages/scss/demo/templates/noside-filters.html
  packages/scss/demo/templates/noside-header-nav.html
  packages/scss/demo/templates/noside-header.html
  packages/scss/demo/templates/noside-sections-header.html
  packages/scss/demo/templates/side-filters.html
  packages/scss/demo/templates/side-header-nav.html
  packages/scss/demo/templates/side-header.html
  packages/scss/demo/templates/side-sections-header.html
  packages/scss/src/components/_filters.scss
  packages/scss/src/components/_header.scss
  packages/scss/src/components/_main.scss
Labels: enhancement, package scss

#638 [548] inputs keyboard support
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/radio/_radio.scss
  packages/scss/src/components/inputs/switch/_switch.scss
  packages/scss/src/theming/_commons.scss
Labels: enhancement, package scss

#618 [fix] option-picker async wasnt focusing search input on open
  packages/ng/libraries/core/src/lib/option/picker/option-picker.model.ts
Labels: bug, package ng

#645 Translate typing
  packages/ng/libraries/core/src/lib/index.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal-panel.component.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.intl.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.translate.ts
  packages/ng/libraries/core/src/lib/translate/index.ts
  packages/ng/libraries/core/src/lib/translate/intl.model.ts
  packages/ng/libraries/core/src/lib/translate/translation.model.ts
Labels: enhancement, package ng

#650 Fix.aot
  demo/package.json
  packages/ng/.angular.json
  packages/ng/applications/sandbox/src/app/issues/poc-popup/poc-popup.component.ts
  packages/ng/applications/sandbox/src/app/issues/poc-translate/lol.intl.ts
  packages/ng/applications/sandbox/src/app/issues/split-operators-api/split-operators-api.component.ts
  packages/ng/applications/sandbox/src/app/issues/split-option-picker/split-option-picker.component.html
  packages/ng/applications/sandbox/tsconfig.aot.json
  packages/ng/libraries/core/src/lib/overlay/modal/index.ts
  packages/ng/libraries/core/src/lib/overlay/modal/modal.module.ts
  packages/ng/libraries/core/src/lib/overlay/popup/index.ts
  packages/ng/package.json
Labels: package ng

#649 [SCSS] Error Page
  packages/scss/demo/components/templates.html
  packages/scss/demo/images/403-lucca.svg
  packages/scss/demo/templates/error.html
  packages/scss/src/_components.scss
  packages/scss/src/components/_error-page.scss
  packages/scss/src/theming/_components.scss
  packages/scss/src/theming/components/_error-page.theme.scss
Labels: package scss

#651 trying to fix surge
  demo/server.js
Labels: Priority High, enhancement

#654 deps - angular 8
  package-lock.json
  packages/ng/libraries/core/package.json
  packages/ng/package-lock.json
  packages/ng/package.json
Labels: enhancement, package ng
