Repository LuccaSA/lucca-front, pull requests merged in 2020-06, with the labels that each got.

#997 feat(popup): disableClose config support
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/modal-dismiss/modal-dismiss.component.ts
  packages/ng/applications/sandbox/src/app/issues/modal-undismissable/index.ts
  packages/ng/applications/sandbox/src/app/issues/modal-undismissable/modal-undismissable.component.html
  packages/ng/applications/sandbox/src/app/issues/modal-undismissable/modal-undismissable.component.ts
  packages/ng/applications/sandbox/src/app/issues/modal-undismissable/modal-undismissable.module.ts
  packages/ng/libraries/modal/src/lib/modal-config.default.ts
  packages/ng/libraries/popup/src/lib/popup-config.default.ts
  packages/ng/libraries/popup/src/lib/popup-config.model.ts
  packages/ng/libraries/popup/src/lib/popup-ref.model.ts
  packages/ng/libraries/sidepanel/src/lib/sidepanel-config.default.ts
Labels: enhancement, package ng

#1005 [Fix] Calendar style on IE11
  packages/ng/.angular.json
  packages/ng/applications/sandbox/tsconfig.es5.json
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.scss
  packages/ng/libraries/root/src/style/_theming.overridable.scss
  packages/ng/libraries/root/src/style/_theming.scss
  packages/ng/libraries/root/src/style/overrides/_calendar.override.scss
  packages/ng/libraries/root/src/style/theme/_calendar.theme.scss
  packages/ng/package.json
Labels: bug, package ng

#1004 NavSide new UI
  packages/scss/demo/templates/compact-withBanner.html
  packages/scss/demo/templates/full-withBanner.html
  packages/scss/demo/templates/fullmenu.html
  packages/scss/demo/templates/side-cards.html
  packages/scss/demo/templates/side-filters.html
  packages/scss/demo/templates/side-header-nav.html
  packages/scss/demo/templates/side-header.html
  packages/scss/demo/templates/side-sections-header.html
  packages/scss/demo/templates/side-sections.html
  packages/scss/demo/templates/side.html
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/theming/components/_nav-side.theme.scss
Labels: package scss

#1008 fix a11y for inputs radios and checkboxes with mask
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/radio-buttons/_radio-buttons.scss
  packages/scss/src/components/inputs/radio/_radio.scss
  packages/scss/src/mixins/_utilities.scss
  packages/scss/src/utilities/_visibility.scss
Labels: Accessibility, package scss

#1006 [feat] popover accessibility
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/popover-accessible/index.ts
  packages/ng/applications/sandbox/src/app/issues/popover-accessible/popover-accessible.component.html
  packages/ng/applications/sandbox/src/app/issues/popover-accessible/popover-accessible.component.ts
  packages/ng/applications/sandbox/src/app/issues/popover-accessible/popover-accessible.module.ts
  packages/ng/libraries/popover/src/lib/panel/popover-panel.component.html
  packages/ng/libraries/popover/src/lib/panel/popover-panel.model.ts
  packages/ng/libraries/popover/src/lib/trigger/popover-trigger.directive.ts
  packages/ng/libraries/popover/src/lib/trigger/popover-trigger.model.ts
Labels: enhancement, package ng

#1009 textfield placeholder with palettes
  packages/scss/demo/components/forms/forms-framed.html
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/src/components/inputs/field/_field.framed.scss
  packages/scss/src/components/inputs/field/_field.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.material.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/mixins/_forms.scss
Labels: bug, package scss

#1010 [feat] dropdown first draft
  packages/ng/.angular.json
  packages/ng/applications/sandbox/src/app/issues/dropdown/dropdown.component.html
  packages/ng/applications/sandbox/src/app/issues/dropdown/dropdown.component.ts
  packages/ng/applications/sandbox/src/app/issues/dropdown/dropdown.module.ts
  packages/ng/applications/sandbox/src/app/issues/dropdown/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/libraries/api/src/lib/select/input/api-select-input.component.ts
  packages/ng/libraries/core/src/lib/id/id.generator.ts
  packages/ng/libraries/core/src/lib/id/index.ts
  packages/ng/libraries/core/src/lib/index.ts
  packages/ng/libraries/dropdown/karma.conf.js
  packages/ng/libraries/dropdown/ng-package.json
  packages/ng/libraries/dropdown/package.json
  packages/ng/libraries/dropdown/src/index.ts
  packages/ng/libraries/dropdown/src/lib/dropdown.module.ts
  packages/ng/libraries/dropdown/src/lib/index.ts
  packages/ng/libraries/dropdown/src/lib/item/dropdown-item.directive.ts
  packages/ng/libraries/dropdown/src/lib/item/dropdown-item.model.ts
  packages/ng/libraries/dropdown/src/lib/item/dropdown-item.module.ts
  packages/ng/libraries/dropdown/src/lib/item/index.ts
  packages/ng/libraries/dropdown/src/lib/panel/dropdown-panel.component.html
  packages/ng/libraries/dropdown/src/lib/panel/dropdown-panel.component.ts
  packages/ng/libraries/dropdown/src/lib/panel/dropdown-panel.model.ts
  packages/ng/libraries/dropdown/src/lib/panel/dropdown-panel.module.ts
  packages/ng/libraries/dropdown/src/lib/panel/index.ts
  packages/ng/libraries/dropdown/src/lib/trigger/dropdown-trigger.directive.ts
  packages/ng/libraries/dropdown/src/lib/trigger/dropdown-trigger.module.ts
  packages/ng/libraries/dropdown/src/lib/trigger/index.ts
  packages/ng/libraries/dropdown/src/public-api.ts
  packages/ng/libraries/dropdown/src/test.ts
  packages/ng/libraries/dropdown/tsconfig.lib.json
  packages/ng/libraries/dropdown/tsconfig.lib.prod.json
  packages/ng/libraries/dropdown/tsconfig.spec.json
  packages/ng/libraries/dropdown/tslint.json
  packages/ng/libraries/popover/src/lib/trigger/popover-trigger.directive.ts
  packages/ng/libraries/popover/src/lib/trigger/popover-trigger.model.ts
  packages/ng/libraries/root/src/style/_components.scss
  packages/ng/libraries/root/src/style/_theming.overridable.scss
  packages/ng/libraries/root/src/style/components/_dropdown.scss
  packages/ng/libraries/root/src/style/components/cdk/_misc.scss
  packages/ng/libraries/root/src/style/overrides/_dropdown.override.scss
  packages/ng/libraries/root/src/style/theme/_dropdown.theme.scss
  packages/ng/package.json
  packages/ng/tsconfig.app.json
  packages/ng/tsconfig.json
Labels: enhancement, minor, package ng

#1014 [feat] user-select me option
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/select-me-first/index.ts
  packages/ng/applications/sandbox/src/app/issues/select-me-first/select-me-first.component.html
  packages/ng/applications/sandbox/src/app/issues/select-me-first/select-me-first.component.ts
  packages/ng/applications/sandbox/src/app/issues/select-me-first/select-me-first.module.ts
  packages/ng/libraries/api/src/lib/api.model.ts
  packages/ng/libraries/api/src/lib/select/feeder/api-feeder.component.ts
  packages/ng/libraries/api/src/lib/select/feeder/api-feeder.model.ts
  packages/ng/libraries/api/src/lib/select/feeder/api-feeder.service.ts
  packages/ng/libraries/api/src/lib/select/input/api-select-input.component.ts
  packages/ng/libraries/api/src/lib/select/pager/api-pager.component.ts
  packages/ng/libraries/api/src/lib/select/pager/api-pager.model.ts
  packages/ng/libraries/api/src/lib/select/pager/api-pager.service.ts
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.component.ts
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.model.ts
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.service.ts
  packages/ng/libraries/option/src/lib/picker/option-picker.component.ts
  packages/ng/libraries/user/src/lib/select/index.ts
  packages/ng/libraries/user/src/lib/select/input/user-select-input.component.html
  packages/ng/libraries/user/src/lib/select/input/user-select-input.module.ts
  packages/ng/libraries/user/src/lib/select/input/user-select-input.translate.ts
  packages/ng/libraries/user/src/lib/select/me/index.ts
  packages/ng/libraries/user/src/lib/select/me/me-option.directive.ts
  packages/ng/libraries/user/src/lib/select/me/me-option.module.ts
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.model.ts
  packages/ng/libraries/user/src/lib/select/user-select.module.ts
Labels: BREAKING CHANGE, enhancement, minor, package ng

#1018 [Feat] for group
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/option-groupby/index.ts
  packages/ng/applications/sandbox/src/app/issues/option-groupby/option-groupby.component.html
  packages/ng/applications/sandbox/src/app/issues/option-groupby/option-groupby.component.ts
  packages/ng/applications/sandbox/src/app/issues/option-groupby/option-groupby.module.ts
  packages/ng/libraries/core/src/lib/group/group.interface.ts
  packages/ng/libraries/core/src/lib/group/index.ts
  packages/ng/libraries/core/src/lib/index.ts
  packages/ng/libraries/option/src/lib/operator/for-groups/for-groups.directive.ts
  packages/ng/libraries/option/src/lib/operator/for-groups/for-groups.module.ts
  packages/ng/libraries/option/src/lib/operator/for-groups/index.ts
  packages/ng/libraries/option/src/lib/operator/index.ts
  packages/ng/libraries/option/src/lib/operator/option-operator.module.ts
Labels: enhancement, minor, package ng

#1015 [feat] select - placeholder when there is no options
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/select-option-placeholder/index.ts
  packages/ng/applications/sandbox/src/app/issues/select-option-placeholder/select-option-placeholder.component.html
  packages/ng/applications/sandbox/src/app/issues/select-option-placeholder/select-option-placeholder.component.ts
  packages/ng/applications/sandbox/src/app/issues/select-option-placeholder/select-option-placeholder.module.ts
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.component.html
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.model.ts
  packages/ng/libraries/department/src/lib/select/input/department-select-input.component.html
  packages/ng/libraries/department/src/lib/select/input/department-select-input.module.ts
  packages/ng/libraries/option/src/lib/operator/searcher/index.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.component.html
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.component.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.intl.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.module.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.token.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.translate.ts
  packages/ng/libraries/option/src/lib/operator/searcher/tree-option-searcher.component.ts
  packages/ng/libraries/option/src/lib/operator/searcher/tree-option-searcher.module.ts
  packages/ng/libraries/root/src/style/definitions/option/_option-searcher.scss
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.component.html
Labels: enhancement, minor, package ng

#1021 [SCSS] [Fix] label mod-number
  packages/scss/src/components/_label.scss
Labels: bug, package scss

#1023 [fix] dropdown focus comportment
  packages/ng/applications/sandbox/src/app/issues/dropdown/dropdown.component.html
  packages/ng/libraries/dropdown/src/lib/item/dropdown-item.directive.ts
  packages/ng/libraries/dropdown/src/lib/item/dropdown-item.model.ts
  packages/ng/libraries/dropdown/src/lib/panel/dropdown-panel.component.ts
Labels: bug, minor, package ng

#1024 [fix] option p;laceholder
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.component.html
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.model.ts
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.module.ts
  packages/ng/libraries/option/src/lib/index.ts
  packages/ng/libraries/option/src/lib/operator/searcher/index.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.component.html
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.component.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.intl.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.module.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.token.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.translate.ts
  packages/ng/libraries/option/src/lib/operator/searcher/tree-option-searcher.component.ts
  packages/ng/libraries/option/src/lib/operator/searcher/tree-option-searcher.module.ts
  packages/ng/libraries/option/src/lib/option.module.ts
  packages/ng/libraries/option/src/lib/placeholder/index.ts
  packages/ng/libraries/option/src/lib/placeholder/option-placeholder.component.html
  packages/ng/libraries/option/src/lib/placeholder/option-placeholder.component.scss
  packages/ng/libraries/option/src/lib/placeholder/option-placeholder.component.ts
  packages/ng/libraries/option/src/lib/placeholder/option-placeholder.intl.ts
  packages/ng/libraries/option/src/lib/placeholder/option-placeholder.module.ts
  packages/ng/libraries/option/src/lib/placeholder/option-placeholder.token.ts
  packages/ng/libraries/option/src/lib/placeholder/option-placeholder.translate.ts
  packages/ng/libraries/root/src/style/_definitions.scss
  packages/ng/libraries/root/src/style/definitions/option/_option-placeholder.scss
  packages/ng/libraries/root/src/style/definitions/option/_option-searcher.scss
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.component.html
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.module.ts
Labels: bug, package ng

#1032 [SCSS] New Palettes
  packages/scss/src/theming/_palettes.scss
Labels: package scss

#1042 [Fix] ng popover events
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/overlays-events/index.ts
  packages/ng/applications/sandbox/src/app/issues/overlays-events/overlays-events.component.html
  packages/ng/applications/sandbox/src/app/issues/overlays-events/overlays-events.component.ts
  packages/ng/applications/sandbox/src/app/issues/overlays-events/overlays-events.module.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-overlay-advanced/refacto-overlay-advanced.component.html
  packages/ng/applications/sandbox/src/app/issues/refacto-overlay-advanced/refacto-overlay-advanced.component.ts
  packages/ng/libraries/dropdown/src/lib/trigger/dropdown-trigger.directive.ts
  packages/ng/libraries/popover/src/lib/trigger/popover-trigger.directive.ts
  packages/ng/libraries/popover/src/lib/trigger/popover-trigger.model.ts
  packages/ng/libraries/select/src/lib/input/select-input.component.ts
  packages/ng/libraries/tooltip/src/lib/trigger/tooltip-trigger.directive.ts
Labels: bug, package ng
