Repository LuccaSA/lucca-front, pull requests merged in 2020-12, with the labels that each got.

#1189 feat(icons) Add new icons
  packages/icons/font/lucca-Icons.woff2
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/icons-list.js
  packages/icons/selection.json
  packages/icons/src/_mappings.scss
Labels: package icon

#1192 chore(scss-icons) upd deps in scss and icons
  packages/icons/package.json
  packages/scss/package-lock.json
  packages/scss/package.json
Labels: dependencies

#1168 feat(scss) Positions and placements utilities
  packages/scss/demo/components/utilities.html
  packages/scss/src/_utilities.scss
  packages/scss/src/utilities/_position.scss
Labels: enhancement, package scss

#1180 feat(ng) support angular 11
  packages/ng/libraries/api/src/lib/service/api-v3.service.ts
  packages/ng/libraries/api/src/lib/service/api-v4.service.ts
  packages/ng/package-lock.json
  packages/ng/package.json
Labels: enhancement, major, package ng

#1190 feat(scss) new layout
  lerna.json
  package-lock.json
  package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/ng/libraries/animations/package.json
  packages/ng/libraries/api/package.json
  packages/ng/libraries/core/package.json
  packages/ng/libraries/date/package.json
  packages/ng/libraries/department/package.json
  packages/ng/libraries/dropdown/package.json
  packages/ng/libraries/formly/package.json
  packages/ng/libraries/input/package.json
  packages/ng/libraries/material/package.json
  packages/ng/libraries/modal/package.json
  packages/ng/libraries/number/package.json
  packages/ng/libraries/option/package.json
  packages/ng/libraries/picker/package.json
  packages/ng/libraries/popover/package.json
  packages/ng/libraries/popup/package.json
  packages/ng/libraries/root/package.json
  packages/ng/libraries/safe-content/package.json
  packages/ng/libraries/scroll/package.json
  packages/ng/libraries/select/package.json
  packages/ng/libraries/sidepanel/package.json
  packages/ng/libraries/tooltip/package.json
  packages/ng/libraries/user/package.json
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/scss/demo/components/layout.html
  packages/scss/demo/demo.css
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/demo/layout/childrens.html
  packages/scss/demo/layout/full.html
  packages/scss/demo/layout/modifiers.html
  packages/scss/package-lock.json
  packages/scss/package.json
  packages/scss/src/_components.scss
  packages/scss/src/components/_layout.scss
  packages/scss/src/theming/_components.scss
  packages/scss/src/theming/components/_aside.theme.scss
Labels: enhancement, major, package scss
