Repository LuccaSA/lucca-front, pull requests merged in 2020-10, with the labels that each got.

#1115 feat(scss) New framed form
  packages/ng/libraries/material/src/style/components/_datepicker.scss
  packages/ng/libraries/root/src/style/theme/_select.theme.scss
  packages/scss/demo/components/forms/forms-framed.html
  packages/scss/src/_shame.scss
  packages/scss/src/_typo.scss
  packages/scss/src/components/_action-icon.scss
  packages/scss/src/components/_box.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_callout.scss
  packages/scss/src/components/_card.scss
  packages/scss/src/components/_chips.scss
  packages/scss/src/components/_code.scss
  packages/scss/src/components/_error-page.scss
  packages/scss/src/components/_filters.scss
  packages/scss/src/components/_form.scss
  packages/scss/src/components/_gauge.scss
  packages/scss/src/components/_header.scss
  packages/scss/src/components/_label.scss
  packages/scss/src/components/_link.scss
  packages/scss/src/components/_list.scss
  packages/scss/src/components/_menu.scss
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/components/_progress.scss
  packages/scss/src/components/_section.scss
  packages/scss/src/components/_table-of-content.scss
  packages/scss/src/components/_table.scss
  packages/scss/src/components/_tag.scss
  packages/scss/src/components/_toasts.scss
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/checkbox/_checkboxesfield.scss
  packages/scss/src/components/inputs/field/_field.framed.scss
  packages/scss/src/components/inputs/field/_field.scss
  packages/scss/src/components/inputs/file/_file.scss
  packages/scss/src/components/inputs/radio-buttons/_radio-buttons.scss
  packages/scss/src/components/inputs/radio/_radio.scss
  packages/scss/src/components/inputs/radio/_radiosfield.scss
  packages/scss/src/components/inputs/switch/_switch.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.material.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/mixins/_forms.scss
  packages/scss/src/mixins/_loading.scss
  packages/scss/src/mixins/_utilities.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/components/_field.theme.scss
  packages/scss/src/theming/components/_textfield.theme.scss
  packages/scss/src/utilities/_misc.scss
Labels: Accessibility, BREAKING CHANGE, enhancement, package ng, package scss

#1070 feat(scss) Table sort
  packages/scss/demo/components/tables.html
  packages/scss/src/components/_table.scss
  packages/scss/src/mixins/_utilities.scss
Labels: Accessibility, enhancement, package scss

#1120 feat(scss) Timelines
  packages/scss/demo/components/timelines.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_components.scss
  packages/scss/src/components/_timeline.scss
Labels: enhancement, package scss

#1127 feat(scss) Breadcrumbs
  packages/scss/CHANGELOG.md
  packages/scss/demo/components/breadcrumb.html
  packages/scss/demo/components/breadcrumbs.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_components.overridable.scss
  packages/scss/src/_components.scss
  packages/scss/src/components/_breadcrumb.scss
  packages/scss/src/components/_breadcrumbs.scss
Labels: enhancement, minor, package scss

#1130 feat(scss) Flex utilities
  packages/scss/demo/components/utilities.html
  packages/scss/src/_utilities.scss
  packages/scss/src/utilities/_flex.scss
Labels: enhancement, package scss

#1138 feat(scss) Collapse with details/summary
  packages/scss/demo/components/collapse.html
  packages/scss/src/components/_collapse.scss
Labels: Accessibility, enhancement, package scss

#1142 fix(ng) add style for FormerEmployee checkbox
  packages/ng/libraries/root/src/style/definitions/option/_option-searcher.scss
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.component.html
Labels: minor, package ng

#1145 feat(ng-formly) establishment field
  packages/ng/CHANGELOG.md
  packages/ng/applications/sandbox/src/app/issues/formly/formly.component.ts
  packages/ng/libraries/formly/src/lib/formly.config.ts
  packages/ng/libraries/formly/src/lib/formly.module.ts
  packages/ng/libraries/formly/src/lib/types/establishment.html
  packages/ng/libraries/formly/src/lib/types/establishment.ts
  packages/ng/libraries/formly/src/lib/types/index.ts
Labels: enhancement, minor, package ng

#1083 feat(scss) Lines table clickable
  packages/scss/demo/components/tables.html
  packages/scss/src/components/_table.scss
Labels: Accessibility, enhancement, package scss

#1135 feat(scss) Display utilities
  packages/scss/demo/components/utilities.html
  packages/scss/src/_utilities.scss
  packages/scss/src/utilities/_display.scss
Labels: enhancement, package scss

#1141 fix(scss) box-shadows and adding elevate utilities
  packages/scss/demo/components/mixins.html
  packages/scss/demo/components/utilities.html
  packages/scss/demo/demo.css
  packages/scss/src/_utilities.scss
  packages/scss/src/mixins/_elevation.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/utilities/_elevation.scss
Labels: bug, minor, package scss

#1147 feat(scss) Refactoring responsive utilities
  README.md
  packages/scss/demo/components/mixins.html
  packages/scss/demo/demo.css
  packages/scss/src/mixins/_responsiveness.scss
  packages/scss/src/theming/_breakpoints.scss
  packages/scss/src/theming/components/_container.theme.scss
Labels: enhancement, package scss

#1140 fix(scss) button link shadow on hover/focus
  packages/scss/src/components/_button.scss
Labels: bug, minor, package scss

#1125 feat(scss) pagination component
  packages/scss/demo/components/pagination.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_components.scss
  packages/scss/src/components/_pagination.scss
Labels: enhancement, package scss

#1121 feat(scss) table header .mod-twoLines
  packages/scss/demo/components/tables.html
  packages/scss/src/components/_table.scss
Labels: enhancement, package scss

#1146 feat(ng) lu-ets-xxx input filters
  packages/ng/applications/sandbox/src/app/issues/establishment/establishment.component.html
  packages/ng/applications/sandbox/src/app/issues/establishment/establishment.component.ts
  packages/ng/libraries/api/src/lib/service/api-hybrid.service.ts
  packages/ng/libraries/api/src/lib/service/api-v4.service.ts
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.component.html
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.component.ts
  packages/ng/libraries/establishment/src/lib/select/pager/establishment-pager.component.ts
  packages/ng/libraries/establishment/src/lib/select/searcher/establishment-searcher.component.ts
  packages/ng/libraries/establishment/src/lib/service/establishment.service.ts
Labels: enhancement, minor, package ng

#1128 feat(ng) style for cdk drag n drop
  packages/ng/applications/sandbox/src/app/issues/drag-drop/drag-drop.component.html
  packages/ng/applications/sandbox/src/app/issues/drag-drop/drag-drop.component.ts
  packages/ng/applications/sandbox/src/app/issues/drag-drop/drag-drop.module.ts
  packages/ng/applications/sandbox/src/app/issues/drag-drop/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/libraries/root/src/style/_components.scss
  packages/ng/libraries/root/src/style/components/cdk/_dragDrop.scss
Labels: package ng

#1152 fix(ng) lu-clearer - cant have a button in a label
  packages/ng/libraries/input/src/lib/clearer/clearer.component.html
Labels: bug, minor, package ng

#1154 fix(scss) mod framed standalone
  packages/scss/demo/components/forms/forms-framed.html
  packages/scss/src/components/_form.scss
  packages/scss/src/components/_pagination.scss
  packages/scss/src/components/_table.scss
  packages/scss/src/utilities/_elevation.scss
Labels: bug, package scss

#1156 fix(scss) radisofield mod framed
  packages/scss/demo/components/forms/forms-framed.html
  packages/scss/demo/demo.css
  packages/scss/src/components/_form.scss
Labels: bug, minor, package scss

#1155 fix(ng-formly) checkboxes and radios in mod-framed
  packages/ng/libraries/formly/src/lib/types/radios.html
  packages/ng/libraries/formly/src/lib/wrappers/radiosfield-layout.html
  packages/ng/libraries/formly/src/style/_components.scss
Labels: bug, minor, package ng

#1157 fix(ng-formly) cb layout
  packages/ng/libraries/formly/src/lib/wrappers/checkbox-layout.html
Labels: bug, minor, package ng

#1158 feat(ng) hideable clearer in date-select
  packages/ng/applications/sandbox/src/app/issues/date-select/date-select.component.html
  packages/ng/applications/sandbox/src/app/issues/date-select/date-select.component.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.component.html
  packages/ng/libraries/date/src/lib/select/date-select-input.component.ts
Labels: enhancement, minor, package ng

#1159 Fix ng- states
  packages/ng/libraries/root/src/style/components/_input.scss
  packages/scss/demo/components/forms/forms-framed.html
  packages/scss/src/components/_form.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/mixins/_forms.scss
Labels: bug, package ng, package scss
