Repository LuccaSA/lucca-front, pull requests merged in 2020-07, with the labels that each got.

#981 ng-modal - header is h3 and not h2
  packages/ng/libraries/modal/src/lib/modal-panel.component.html
  packages/ng/libraries/sidepanel/src/lib/sidepanel-panel.component.html
Labels: package ng

#1050 [PDN-647] Adding font styles
  packages/scss/src/_typo.scss
Labels: enhancement, package scss

#1044 [ng] date inputs - add granularity option
  packages/ng/applications/sandbox/src/app/issues/date-granularity/date-granularity.component.html
  packages/ng/applications/sandbox/src/app/issues/date-granularity/date-granularity.component.ts
  packages/ng/applications/sandbox/src/app/issues/date-granularity/date-granularity.module.ts
  packages/ng/applications/sandbox/src/app/issues/date-granularity/index.ts
  packages/ng/applications/sandbox/src/app/issues/date-input/date-input.component.html
  packages/ng/applications/sandbox/src/app/issues/date-input/date-input.module.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/libraries/core/src/lib/date/date-adapter.class.ts
  packages/ng/libraries/core/src/lib/date/date-adapter.interface.ts
  packages/ng/libraries/core/src/lib/date/native/native-date.adapter.ts
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.ts
  packages/ng/libraries/date/src/lib/input/date-input.directive.ts
  packages/ng/libraries/date/src/lib/input/date-input.translate.ts
  packages/ng/libraries/date/src/lib/picker/date-picker.component.html
  packages/ng/libraries/date/src/lib/picker/date-picker.component.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.component.html
  packages/ng/libraries/date/src/lib/select/date-select-input.component.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.intl.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.module.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.token.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.translate.ts
Labels: enhancement, minor, package ng

#1064 Mixin for I.E. 11
  packages/scss/demo/components/mixins.html
  packages/scss/demo/components/utilities.html
  packages/scss/src/_ie11.scss
  packages/scss/src/components/_filters.scss
  packages/scss/src/components/_header.scss
  packages/scss/src/main.scss
  packages/scss/src/mixins/_utilities.scss
Labels: enhancement, package scss

#1060 Implicit labels
  packages/scss/demo/components/forms/forms-checkboxes.html
  packages/scss/demo/components/forms/forms-framed.html
  packages/scss/demo/components/forms/forms-radioButtons.html
  packages/scss/demo/components/forms/forms-radios.html
  packages/scss/demo/components/forms/forms-switches.html
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/src/components/_form.scss
  packages/scss/src/components/inputs/radio/_radiosfield.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: Accessibility, enhancement, package scss

#1058 [SCSS][PDN-664] Chips
  packages/scss/demo/components/chips.html
  packages/scss/src/components/_chips.scss
Labels: enhancement, minor, package scss

#1052 [INT] add class is-disabled
  packages/ng/libraries/root/src/style/components/_dropdown.scss
Labels: enhancement, minor, package ng

#1053 [SCSS][Add] Mod-small for radio/checkbox/switch and their various states
  packages/scss/demo/components/forms/forms-checkboxes.html
  packages/scss/demo/components/forms/forms-radios.html
  packages/scss/demo/components/forms/forms-switches.html
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/radio/_radio.scss
  packages/scss/src/components/inputs/switch/_switch.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/_palettes.scss
  packages/scss/src/theming/components/_checkbox.theme.scss
  packages/scss/src/theming/components/_radio.theme.scss
  packages/scss/src/theming/components/_switch.theme.scss
Labels: enhancement, package scss

#1063 [ng] api-select - rework to force refresh on open
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.component.ts
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.model.ts
  packages/ng/libraries/option/src/lib/picker/option-picker-advanced.component.html
  packages/ng/libraries/option/src/lib/picker/option-picker-advanced.component.ts
  packages/ng/libraries/option/src/lib/picker/tree-option-picker-advanced.component.html
  packages/ng/libraries/option/src/lib/picker/tree-option-picker-advanced.component.ts
  packages/ng/libraries/root/src/style/components/_picker.scss
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.component.ts
Labels: bug, package ng

#1054 [NG][SCSS] Options item and searcher style
  packages/ng/libraries/root/src/style/definitions/option/_option-item.scss
  packages/ng/libraries/root/src/style/definitions/option/_option-searcher.scss
  packages/ng/libraries/root/src/style/theme/_options.theme.scss
  packages/scss/src/theming/_commons.scss
Labels: bug, enhancement, package ng, package scss

#1066 Spacings + borders + fix lint
  packages/scss/demo/components/utilities.html
  packages/scss/src/_icons.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_label.scss
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/utilities/_spacing.scss
  packages/scss/src/utilities/_textfield.scss
  packages/scss/src/utilities/_visibility.scss
Labels: enhancement, package scss

#1072 Fix hyphen
  packages/scss/src/utilities/_spacing.scss
Labels: Priority High, bug, package scss

#1074 [FIX] Hover State for chip kill
  packages/scss/src/components/_chips.scss
  packages/scss/src/theming/_components.scss
  packages/scss/src/theming/components/_chips.theme.scss
Labels: bug, package scss

#1079 Focus for actionIcon, button-group and button states
  packages/scss/demo/demo.css
  packages/scss/src/components/_action-icon.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/inputs/radio-buttons/_radio-buttons.scss
Labels: bug, package scss

#1086 [SCSS][fix] white and black colors needs to be a map with color
  packages/scss/src/theming/_palettes.scss
Labels: bug, package scss

#1090 fix scss transpil error
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/switch/_switch.scss
Labels: Priority High, bug, package scss

#1091 [fix] api-select on open loading placeholder
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.component.html
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.component.ts
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.model.ts
  packages/ng/libraries/option/src/lib/picker/option-picker-advanced.component.html
  packages/ng/libraries/option/src/lib/picker/option-picker-advanced.component.ts
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.component.html
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.component.ts
Labels: bug, minor, package ng
