Repository LuccaSA/lucca-front, pull requests merged in 2020-08, with the labels that each got.

#1096 Fix mod-smaller button
  packages/scss/src/components/_button.scss
Labels: bug, package scss

#1095 Add en-GB date format
  packages/ng/libraries/date/src/lib/input/date-input.translate.ts
Labels: package ng

#1097 Fix table mod-Borderless
  packages/scss/src/components/_table.scss
Labels: bug, package scss

#1088 angular 10 and other dependencies
  packages/ng/libraries/modal/src/lib/modal-panel.component.ts
  packages/ng/libraries/option/src/lib/picker/option-picker-advanced.component.ts
  packages/ng/libraries/option/src/lib/picker/option-picker.component.ts
  packages/ng/libraries/option/src/lib/picker/tree-option-picker-advanced.component.ts
  packages/ng/libraries/option/src/lib/picker/tree-option-picker.component.ts
  packages/ng/libraries/root/ng-package.json
  packages/ng/libraries/root/package.json
  packages/ng/libraries/root/src/index.ts
  packages/ng/libraries/root/src/lib/index.ts
  packages/ng/libraries/root/src/lib/module.ts
  packages/ng/libraries/select/src/lib/input/select-input.component.ts
  packages/ng/package-lock.json
  packages/ng/package.json
Labels: BREAKING CHANGE, enhancement, major, package ng

#1071 More utilities for resetting
  packages/scss/src/_typo.scss
  packages/scss/src/mixins/_utilities.scss
  packages/scss/src/utilities/_misc.scss
Labels: enhancement, package scss

#1080 Overload palettes for grouped buttons
  packages/scss/demo/components/buttons.html
  packages/scss/src/components/_button.scss
Labels: bug, package scss

#1100 Fix files
  packages/scss/demo/components/forms/forms-files.html
Labels: package scss

#1109 [fix] radio buttons default palette
  packages/scss/src/components/inputs/radio-buttons/_radio-buttons.scss
  packages/scss/src/theming/components/_radio-buttons.theme.scss
Labels: bug, package scss

#1073 Keyboard navigation for list items
  packages/scss/src/components/_action-icon.scss
  packages/scss/src/components/_list.scss
Labels: Accessibility, enhancement, package scss
