Repository LuccaSA/lucca-front, pull requests merged in 2020-09, with the labels that each got.

#1062 Update normalize.scss
  packages/scss/src/_normalize.scss
Labels: dependencies, package scss

#1067 Fix overlapping breakpoints + u-wrap
  packages/scss/demo/components/mixins.html
  packages/scss/demo/demo.css
  packages/scss/src/_typo.scss
  packages/scss/src/components/_container.scss
  packages/scss/src/components/_section.scss
  packages/scss/src/mixins/_responsiveness.scss
  packages/scss/src/utilities/_misc.scss
Labels: enhancement, package scss

#1068 Accessibility for icons
  packages/icons/README.md
  packages/icons/demo/demo.html
  packages/ng/applications/sandbox/src/app/issues/node-sass-end/node-sass-end.component.html
  packages/ng/applications/sandbox/src/app/issues/poc-popup/poc-popup.template.html
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.html
  packages/ng/libraries/formly/src/lib/wrappers/icon.html
  packages/ng/libraries/input/src/lib/clearer/clearer.component.html
  packages/ng/libraries/modal/src/lib/modal-panel.component.html
  packages/ng/libraries/option/src/lib/item/tree-option-item.component.html
  packages/ng/libraries/sidepanel/src/lib/sidepanel-panel.component.html
  packages/scss/demo/components/boxes.html
  packages/scss/demo/components/buttons.html
  packages/scss/demo/components/callouts.html
  packages/scss/demo/components/forms/forms-files.html
  packages/scss/demo/components/icons.html
  packages/scss/demo/components/lists.html
  packages/scss/demo/components/tables.html
  packages/scss/demo/components/toasts.html
  packages/scss/demo/components/utilities.html
  packages/scss/demo/demo.js
  packages/scss/demo/details/full-menu.html
  packages/scss/demo/templates/compact-withBanner.html
  packages/scss/demo/templates/full-withBanner.html
  packages/scss/demo/templates/fullmenu.html
  packages/scss/demo/templates/side-cards.html
  packages/scss/demo/templates/side-filters.html
  packages/scss/demo/templates/side-header-nav.html
  packages/scss/demo/templates/side-header.html
  packages/scss/demo/templates/side-sections-header.html
  packages/scss/demo/templates/side-sections.html
  packages/scss/demo/templates/side.html
Labels: Accessibility, enhancement, package icon, package ng, package scss

#1076 Rework on input file
  packages/scss/demo/components/forms/forms-files.html
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_chips.scss
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/file/_file.scss
  packages/scss/src/components/inputs/radio/_radio.scss
  packages/scss/src/components/inputs/switch/_switch.scss
Labels: Accessibility, enhancement, package scss

#1112 [ng] support for api-v4
  packages/ng/applications/sandbox/src/app/issues/api-v4/api-v4.component.html
  packages/ng/applications/sandbox/src/app/issues/api-v4/api-v4.component.ts
  packages/ng/applications/sandbox/src/app/issues/api-v4/api-v4.module.ts
  packages/ng/applications/sandbox/src/app/issues/api-v4/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/libraries/api/src/lib/select/feeder/api-feeder.component.ts
  packages/ng/libraries/api/src/lib/select/input/api-select-input.component.ts
  packages/ng/libraries/api/src/lib/select/pager/api-pager.component.ts
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.component.ts
  packages/ng/libraries/api/src/lib/service/api-hybrid.service.ts
  packages/ng/libraries/api/src/lib/service/api-v4.service.ts
  packages/ng/libraries/api/src/lib/service/index.ts
  packages/ng/libraries/establishment/src/lib/service/establishment.service.ts
Labels: enhancement, major, package ng

#1118 [add] Border card and mod elevate
  packages/scss/demo/components/cards.html
  packages/scss/src/components/_card.scss
  packages/scss/src/theming/components/_card.theme.scss
Labels: BREAKING CHANGE, package scss

#1122 added standard to supported templateoptions of type api
  packages/ng/libraries/formly/src/lib/types/api.html
  packages/ng/libraries/formly/src/lib/types/api.ts
Labels: enhancement, package ng

#1124 fix normalize ^7 + input type=search
  packages/scss/src/_shame.scss
Labels: bug

#1111 fix radio buitton default palette
  packages/scss/src/components/inputs/radio-buttons/_radio-buttons.scss
Labels: bug, package scss

#1126 fix user/api-select placeholder showing while loading
  packages/ng/libraries/establishment/src/lib/select/searcher/establishment-searcher.component.html
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.component.html
Labels: bug, package ng

#1139 fix fields=fields error on api-searcher
  packages/ng/libraries/api/src/lib/service/api-hybrid.service.ts
Labels: bug, package ng
