Repository LuccaSA/lucca-front, pull requests merged in 2020-11, with the labels that each got.

#1164 fix(scss) remove pointer event on label
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
Labels: Accessibility, bug, package scss

#1167 fix(ng) ts transpil error with typescript 4
  packages/ng/libraries/department/src/lib/select/feeder/department-feeder.component.ts
  packages/ng/libraries/option/src/lib/operator/option-operator.model.ts
  packages/ng/libraries/option/src/lib/operator/pager/option-pager.component.ts
  packages/ng/libraries/option/src/lib/operator/pager/tree-option-pager.component.ts
  packages/ng/libraries/option/src/lib/operator/searcher/option-searcher.component.ts
  packages/ng/libraries/option/src/lib/operator/searcher/tree-option-searcher.component.ts
  packages/ng/libraries/option/src/lib/picker/option-picker.component.ts
  packages/ng/libraries/option/src/lib/selector/all/select-all.component.ts
  packages/ng/libraries/option/src/lib/selector/all/tree-select-all.component.ts
Labels: bug, package ng

#1174 fix(scss) Remove z-index and fix position text
  packages/scss/src/components/inputs/file/_file.scss
Labels: bug, package scss

#1176 fix(ng) last ts4 transpil error
  packages/ng/libraries/date/src/lib/select/date-select-input.component.ts
Labels: Priority High, bug, package ng

#1178 fix(scss) timeline and pagination imports
  packages/scss/src/_components.overridable.scss
  packages/scss/src/components/_timeline.scss
Labels: bug

#1179 fix(scss) field invalid state
  packages/scss/src/components/inputs/field/_field.scss
Labels: bug, package scss
