Repository LuccaSA/lucca-front, pull requests merged in 2020-01, with the labels that each got.

#943 [RC] Revert "[ui] navside"
  packages/scss/demo/templates/compact-withBanner.html
  packages/scss/demo/templates/full-withBanner.html
  packages/scss/demo/templates/fullmenu.html
  packages/scss/demo/templates/side-cards.html
  packages/scss/demo/templates/side-filters.html
  packages/scss/demo/templates/side-header-nav.html
  packages/scss/demo/templates/side-header.html
  packages/scss/demo/templates/side-sections-header.html
  packages/scss/demo/templates/side-sections.html
  packages/scss/demo/templates/side.html
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/theming/components/_nav-side.theme.scss
Labels: package scss

#945 [RC] Fixes post feedacks
  packages/ng/libraries/root/src/style/definitions/option/_option-item.scss
  packages/ng/libraries/root/src/style/definitions/option/_option-searcher.scss
  packages/ng/libraries/root/src/style/definitions/select/_select-input.scss
  packages/ng/libraries/root/src/style/definitions/tooltip/_tooltip.scss
  packages/scss/src/components/_table.scss
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
Labels: bug, package scss

#947 [fix] build broken after angular@9.0.0-rc.8
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/tsconfig.aot.json
  packages/ng/applications/sandbox/tsconfig.app.json
  packages/ng/libraries/api/src/lib/select/input/api-select-input.component.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.component.ts
  packages/ng/libraries/input/src/lib/input.model.ts
  packages/ng/libraries/picker/src/lib/input-picker.model.ts
  packages/ng/libraries/popover/src/lib/panel/popover-panel.model.ts
  packages/ng/libraries/popover/src/lib/trigger/popover-trigger.model.ts
  packages/ng/libraries/select/src/lib/input/select-input.component.ts
  packages/ng/libraries/select/src/lib/input/select-input.model.ts
  packages/ng/libraries/user/src/lib/select/input/user-select-input.component.ts
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/scss/src/components/inputs/field/_field.compact.scss
Labels: Priority High, bug, package ng
