Repository LuccaSA/lucca-front, pull requests merged in 2020-02, with the labels that each got.

#952 ng - added possibility to inject classes to option picker panel and c…
  packages/ng/libraries/option/src/lib/picker/option-picker.component.ts
Labels: enhancement, package ng

#954 [Formly][Fix] Input name templateOptions
  packages/ng/applications/sandbox/src/app/issues/formly/formly.component.ts
  packages/ng/libraries/formly/src/lib/types/checkboxes.html
  packages/ng/libraries/formly/src/lib/types/input.html
  packages/ng/libraries/formly/src/lib/types/radios.html
  packages/ng/libraries/formly/src/lib/types/textarea.html
Labels: bug

#953 [fix] select touched
  packages/ng/applications/sandbox/src/app/issues/split-select/split-select.component.html
  packages/ng/applications/sandbox/src/app/issues/split-select/split-select.component.ts
  packages/ng/applications/sandbox/src/app/issues/split-select/split-select.module.ts
  packages/ng/libraries/select/src/lib/input/select-input.component.ts
  packages/ng/libraries/select/src/lib/input/select-input.model.ts
Labels: bug, package ng

#955 [RC][fix][NG][add] styles for modal sizes
  packages/ng/libraries/root/src/style/components/_popup.scss
  packages/ng/libraries/root/src/style/components/_sidepanel.scss
Labels: bug, package ng

#960 [add] optionComparer input on option-pickers
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/option-comparer/index.ts
  packages/ng/applications/sandbox/src/app/issues/option-comparer/option-comparer.component.html
  packages/ng/applications/sandbox/src/app/issues/option-comparer/option-comparer.component.ts
  packages/ng/applications/sandbox/src/app/issues/option-comparer/option-comparer.module.ts
  packages/ng/libraries/api/src/lib/select/input/api-select-input.component.html
  packages/ng/libraries/api/src/lib/select/input/api-select-input.component.ts
  packages/ng/libraries/department/src/lib/select/input/department-select-input.component.html
  packages/ng/libraries/department/src/lib/select/input/department-select-input.component.ts
  packages/ng/libraries/option/src/lib/picker/option-picker.component.ts
  packages/ng/libraries/option/src/lib/picker/option-picker.model.ts
  packages/ng/libraries/option/src/lib/picker/tree-option-picker.component.ts
  packages/ng/libraries/user/src/lib/select/input/user-select-input.component.html
  packages/ng/libraries/user/src/lib/select/input/user-select-input.component.ts
Labels: enhancement, package ng
