Repository LuccaSA/lucca-front, pull requests merged in 2021-09, with the labels that each got.

#1442 [ICONS] add new icons & fixes discount
  packages/icons/font/lucca-Icons.woff2
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/icons-list.js
  packages/icons/selection.json
  packages/icons/src/_mappings.scss
Labels: package icon, :bookmark::bug: FIX

#1443 Fix palettes colors
  packages/scss/src/theming/_palettes.scss
Labels: :bookmark::bug: FIX

#1410 nolog(sb) add scss/toasts story
  stories/scss/toasts/toasts.stories.html
  stories/scss/toasts/toasts.stories.ts
  to-migrate/scss/components/toasts.html
Labels: :bookmark::sparkles: Feature

#1441 hx mixins
  packages/scss/src/_mixins.scss
  packages/scss/src/_typo.scss
  packages/scss/src/mixins/_typo.scss
  packages/scss/src/utilities/_text.scss
Labels: package scss, :bookmark::sparkles: Feature
