Repository LuccaSA/lucca-front, pull requests merged in 2021-12, with the labels that each got.

#1480 Fix disabled state on checkboxes and radios buttons
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/radio/_radio.scss
Labels: enhancement, package scss, minor

#1483 upd(scss) use grey palette for disabled state on switch component
  packages/scss/src/components/inputs/switch/_switch.scss
  packages/scss/src/theming/components/_switch.theme.scss
  stories/scss/form/switch/switch.stories.html
  stories/scss/form/switch/switch.stories.ts
Labels: :bookmark::sparkles: Feature

#1479 [disabled-textfield]
  packages/scss/src/components/inputs/textfield/_textfield.outlined.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/theming/components/_textfield.theme.scss
Labels: enhancement, package scss, minor

#1490 feat(scss) use grey palette for disabled state on framed form components
  packages/scss/src/components/_form.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/mixins/_forms.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/components/_radio.theme.scss
  stories/scss/form/framed/framed.stories.html
  stories/scss/form/framed/framed.stories.ts
Labels: :bookmark::sparkles: Feature

#1487 feat(scss) use grey palette for disabled state on radioButtons component
  packages/scss/src/components/inputs/radio-buttons/_radio-buttons.scss
  stories/scss/form/radio-button/radio-button.stories.html
  stories/scss/form/radio-button/radio-button.stories.ts
Labels: :bookmark::sparkles: Feature

#1478 FIX(scss) disabled states for interactive elements
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_form.scss
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/radio-buttons/_radio-buttons.scss
  packages/scss/src/components/inputs/radio/_radio.scss
  packages/scss/src/components/inputs/switch/_switch.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.outlined.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/mixins/_forms.scss
  packages/scss/src/theming/_commons.scss
  packages/scss/src/theming/components/_radio.theme.scss
  packages/scss/src/theming/components/_switch.theme.scss
  packages/scss/src/theming/components/_textfield.theme.scss
  stories/scss/button/button-basic.stories.html
  stories/scss/button/button-basic.stories.ts
  stories/scss/form/checkbox/checkbox.stories.html
  stories/scss/form/checkbox/checkbox.stories.ts
  stories/scss/form/framed/framed.stories.html
  stories/scss/form/framed/framed.stories.ts
  stories/scss/form/radio-button/radio-button.stories.html
  stories/scss/form/radio-button/radio-button.stories.ts
  stories/scss/form/radio/radio.stories.html
  stories/scss/form/radio/radio.stories.ts
  stories/scss/form/switch/switch.stories.html
  stories/scss/form/switch/switch.stories.ts
  stories/scss/form/textfields/textfield.stories.html
  stories/scss/form/textfields/textfield.stories.ts
Labels: enhancement, package scss, minor

#1495 FIX(scss) Hover states for fields in mod-framed
  packages/scss/src/components/_form.scss
  packages/scss/src/components/inputs/field/_field.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
Labels: package scss, :bookmark::bug: FIX, Graphic adjustment

#1496 FIX(scss) Remove ng-invalid + fix variable
  packages/scss/src/components/_form.scss
  packages/scss/src/components/inputs/field/_field.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.framed.scss
  packages/scss/src/components/inputs/textfield/_textfield.outlined.scss
Labels: package scss, :bookmark::bug: FIX
