Repository LuccaSA/lucca-front, pull requests merged in 2021-04, with the labels that each got.

#1257 feat(scss) password toggle
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_communicationBanner.scss
  packages/scss/src/components/_divider.scss
  packages/scss/src/components/_toasts.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: :bookmark::sparkles: Feature, package scss

#1262 feat(ng-tooltip) Accessible tooltip
  packages/ng/libraries/tooltip/src/lib/panel/tooltip-panel.component.html
  packages/ng/libraries/tooltip/src/lib/trigger/tooltip-trigger.directive.ts
Labels: Accessibility, package ng

#1269 feat(scss) utilities for hx
  packages/scss/demo/components/sections.html
  packages/scss/demo/components/typography.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_typo.scss
  packages/scss/src/components/_card.scss
  packages/scss/src/components/_title-section.scss
Labels: package scss

#1271 6.2 rc
  lerna.json
  package-lock.json
  package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/ng/libraries/animations/package.json
  packages/ng/libraries/api/package.json
  packages/ng/libraries/api/src/lib/select/input/api-select-input.component.html
  packages/ng/libraries/api/src/lib/select/input/api-select-input.component.ts
  packages/ng/libraries/core/package.json
  packages/ng/libraries/date/package.json
  packages/ng/libraries/department/package.json
  packages/ng/libraries/dropdown/package.json
  packages/ng/libraries/formly/package.json
  packages/ng/libraries/input/package.json
  packages/ng/libraries/material/package.json
  packages/ng/libraries/modal/package.json
  packages/ng/libraries/number/package.json
  packages/ng/libraries/option/package.json
  packages/ng/libraries/picker/package.json
  packages/ng/libraries/popover/package.json
  packages/ng/libraries/popup/package.json
  packages/ng/libraries/root/package.json
  packages/ng/libraries/safe-content/package.json
  packages/ng/libraries/scroll/package.json
  packages/ng/libraries/select/package.json
  packages/ng/libraries/sidepanel/package.json
  packages/ng/libraries/tooltip/package.json
  packages/ng/libraries/tooltip/src/lib/panel/tooltip-panel.component.html
  packages/ng/libraries/tooltip/src/lib/trigger/tooltip-trigger.directive.ts
  packages/ng/libraries/user/package.json
  packages/ng/libraries/user/src/lib/select/input/user-select-input.component.html
  packages/ng/libraries/user/src/lib/select/input/user-select-input.component.ts
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/demo/components/pagination.html
  packages/scss/demo/components/sections.html
  packages/scss/demo/components/typography.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/package-lock.json
  packages/scss/package.json
  packages/scss/src/_typo.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_card.scss
  packages/scss/src/components/_communicationBanner.scss
  packages/scss/src/components/_divider.scss
  packages/scss/src/components/_title-section.scss
  packages/scss/src/components/_toasts.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: :bookmark::sparkles: Feature, minor

#1274 Edge + mod-password
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: :bookmark::bug: FIX, package scss

#1276 fix(ng): add es translations
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.translate.ts
  packages/ng/libraries/modal/src/lib/modal.translate.ts
  packages/ng/libraries/sidepanel/src/lib/sidepanel.translate.ts
  packages/ng/libraries/user/src/lib/select/input/user-select-input.translate.ts
  packages/ng/libraries/user/src/lib/select/searcher/user-searcher.translate.ts
Labels: enhancement, minor
