Repository LuccaSA/lucca-front, pull requests merged in 2021-03, with the labels that each got.

#1224 feat(scss) Add new component for divider
  packages/scss/demo/components/divider.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_components.overridable.scss
  packages/scss/src/_components.scss
  packages/scss/src/components/_divider.scss
Labels: :bookmark::sparkles: Feature, package scss

#1230 feat(scss) Timelines with small numbers and add step option
  packages/scss/demo/components/gauge.html
  packages/scss/demo/components/timelines.html
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_icons.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_callout.scss
  packages/scss/src/components/_chips.scss
  packages/scss/src/components/_gauge.scss
  packages/scss/src/components/_nav-side.scss
  packages/scss/src/components/_table.scss
  packages/scss/src/components/_timeline.scss
  packages/scss/src/components/inputs/field/_field.scss
  packages/scss/src/theming/components/_gauge.theme.scss
Labels: enhancement, package scss

#1238 feat(scss) Full width button
  packages/scss/src/components/_button.scss
Labels: package scss

#1243 feat(scss) textfield mod-outline
  packages/scss/demo/components/forms/forms-textfields.html
  packages/scss/src/components/inputs/textfield/_textfield.outlined.scss
  packages/scss/src/components/inputs/textfield/_textfield.scss
  packages/scss/src/theming/components/_textfield.theme.scss
Labels: :bookmark::sparkles: Feature, package scss

#1244 feat(scss) u-listReset for dl
  packages/scss/demo/components/utilities.html
  packages/scss/src/mixins/_utilities.scss
  packages/scss/src/utilities/_misc.scss
Labels: :bookmark::sparkles: Feature, package scss

#1246 feat(scss) Utilities + doc
  packages/scss/demo/components/utilities.html
  packages/scss/src/components/_table.scss
  packages/scss/src/utilities/_flex.scss
  packages/scss/src/utilities/_misc.scss
  packages/scss/src/utilities/_spacing.scss
  packages/scss/src/utilities/_text.scss
Labels: enhancement, package scss

#1240 feat(scss) Comm in app
  packages/ng/applications/sandbox/src/app/issues/comm-in-app-modal/comm-in-app-modal.component.html
  packages/ng/applications/sandbox/src/app/issues/comm-in-app-modal/comm-in-app-modal.component.ts
  packages/ng/applications/sandbox/src/app/issues/comm-in-app-modal/comm-in-app-modal.module.ts
  packages/ng/applications/sandbox/src/app/issues/comm-in-app-modal/comm-modal.html
  packages/ng/applications/sandbox/src/app/issues/comm-in-app-modal/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/libraries/root/src/style/components/_popup.scss
  packages/ng/package-lock.json
  packages/scss/demo/components/comm-in-app.html
  packages/scss/demo/demo.js
  packages/scss/demo/images/commInApp.svg
  packages/scss/demo/images/ico-timmi-timesheet.svg
  packages/scss/demo/includes/demo-main-content.html
  packages/scss/demo/includes/demo-menu.html
  packages/scss/src/_components.overridable.scss
  packages/scss/src/_components.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/components/_communicationBanner.scss
  packages/scss/src/components/_toasts.scss
  packages/scss/src/theming/components/_toasts.theme.scss
Labels: :bookmark::sparkles: Feature, package ng, package scss

#1239 feat(ng) Enhance lu-establishment-picker
  packages/ng/applications/sandbox/src/app/issues/establishment/establishment.component.html
  packages/ng/applications/sandbox/src/app/issues/establishment/establishment.component.ts
  packages/ng/libraries/api/src/lib/select/searcher/api-searcher.component.ts
  packages/ng/libraries/api/src/lib/service/api-hybrid.service.ts
  packages/ng/libraries/api/src/lib/service/api-v4.service.ts
  packages/ng/libraries/establishment/src/lib/establishment.model.ts
  packages/ng/libraries/establishment/src/lib/select/establishment-select.module.ts
  packages/ng/libraries/establishment/src/lib/select/for-legal-units/for-legal-units.directive.ts
  packages/ng/libraries/establishment/src/lib/select/for-legal-units/for-legal-units.module.ts
  packages/ng/libraries/establishment/src/lib/select/for-legal-units/index.ts
  packages/ng/libraries/establishment/src/lib/select/index.ts
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.component.html
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.component.scss
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.component.ts
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.module.ts
  packages/ng/libraries/establishment/src/lib/select/input/index.ts
  packages/ng/libraries/establishment/src/lib/select/legal-unit-selector/index.ts
  packages/ng/libraries/establishment/src/lib/select/legal-unit-selector/legal-unit-selector.directive.ts
  packages/ng/libraries/establishment/src/lib/select/legal-unit-selector/legal-unit-selector.module.ts
  packages/ng/libraries/establishment/src/lib/select/pager/establishment-pager.component.ts
  packages/ng/libraries/establishment/src/lib/select/searcher/establishment-searcher.component.ts
  packages/ng/libraries/establishment/src/lib/select/select-all/establishment-select-all.component.html
  packages/ng/libraries/establishment/src/lib/select/select-all/establishment-select-all.component.scss
  packages/ng/libraries/establishment/src/lib/select/select-all/establishment-select-all.component.ts
  packages/ng/libraries/establishment/src/lib/select/select-all/establishment-select-all.module.ts
  packages/ng/libraries/establishment/src/lib/select/select-all/establishment-select-all.translate.ts
  packages/ng/libraries/establishment/src/lib/select/select-all/index.ts
  packages/ng/libraries/establishment/src/lib/service/establishment-service.model.ts
  packages/ng/libraries/establishment/src/lib/service/establishment.service.ts
  packages/ng/libraries/option/src/lib/operator/for-groups/for-groups.directive.ts
  packages/ng/libraries/option/src/lib/picker/option-picker-advanced.component.ts
  packages/ng/libraries/option/src/lib/selector/all/select-all.component.ts
  packages/ng/libraries/root/src/style/definitions/option/_option-item.scss
  packages/ng/libraries/root/src/style/theme/_options.theme.scss
Labels: enhancement, package ng

#1245 chore(all) upd deps
  package-lock.json
  package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/ng/package-lock.json
  packages/ng/package.json
  packages/scss/package-lock.json
  packages/scss/package.json
Labels: :hammer: Technical, minor

#1248 fix(scss) add ellipsis on chip in lu-select to prevent multiline
  packages/ng/libraries/root/src/style/definitions/select/_select-input.scss
Labels: :bookmark::bug: FIX, bug

#1251 fix(ng) quick fixes
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.html
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.ts
  packages/ng/libraries/establishment/src/lib/select/select-all/establishment-select-all.translate.ts
  packages/ng/libraries/option/src/lib/selector/all/select-all.translate.ts
  packages/ng/libraries/root/src/style/components/_popup.scss
Labels: :bookmark::bug: FIX

#1252 feat(ng-ets) add inputs for filters and scope
  packages/ng/applications/sandbox/src/app/issues/establishment/establishment.component.html
  packages/ng/libraries/api/src/lib/service/api-v4.service.ts
  packages/ng/libraries/establishment/src/lib/select/establishment-select.module.ts
  packages/ng/libraries/establishment/src/lib/select/index.ts
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.component.html
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.component.ts
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.module.ts
  packages/ng/libraries/establishment/src/lib/select/input/index.ts
  packages/ng/libraries/establishment/src/lib/select/legal-unit-selector/legal-unit-selector.directive.ts
  packages/ng/libraries/establishment/src/lib/select/pager/establishment-pager.component.ts
  packages/ng/libraries/establishment/src/lib/select/pager/establishment-pager.module.ts
  packages/ng/libraries/establishment/src/lib/select/pager/index.ts
  packages/ng/libraries/establishment/src/lib/select/searcher/establishment-searcher.component.ts
  packages/ng/libraries/establishment/src/lib/select/select-all/establishment-select-all.component.ts
  packages/ng/libraries/establishment/src/lib/service/establishment.service.ts
  packages/ng/libraries/formly/src/lib/types/establishment.html
Labels: :bookmark::sparkles: Feature, package ng

#1253 fix(ng) user picture fallback
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/user-select-homonyms.component.html
  packages/ng/applications/sandbox/src/app/issues/user-select-homonyms/user-select-homonyms.component.ts
  packages/ng/libraries/user/src/lib/picture/user-picture.component.ts
  packages/ng/libraries/user/src/lib/user.model.ts
Labels: :bookmark::bug: FIX

#1254 fix(scss) timeline gauge left position
  packages/scss/src/components/_timeline.scss
Labels: :bookmark::bug: FIX

#1258 fix(scss) icon rendering
  packages/scss/src/_typo.scss
Labels: bug, package scss

#1260 fix(ng) tooltip and select shenanigans
  packages/ng/applications/sandbox/src/app/issues/refacto-tooltip/refacto-tooltip.component.html
  packages/ng/applications/sandbox/src/app/issues/refacto-tooltip/refacto-tooltip.component.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-tooltip/refacto-tooltip.module.ts
  packages/ng/applications/sandbox/src/app/issues/refactor-select/refactor-select.component.html
  packages/ng/applications/sandbox/src/app/issues/refactor-select/refactor-select.component.ts
  packages/ng/applications/sandbox/src/app/issues/refactor-select/refactor-select.module.ts
  packages/ng/libraries/dropdown/src/lib/trigger/dropdown-trigger.directive.ts
  packages/ng/libraries/popover/src/lib/trigger/popover-trigger.directive.ts
  packages/ng/libraries/select/src/lib/input/select-input.component.ts
  packages/ng/libraries/select/src/lib/input/select-input.model.ts
  packages/ng/libraries/tooltip/src/lib/trigger/tooltip-trigger.directive.ts
Labels: :bookmark::bug: FIX, package ng

#1261 nolog(scss) pagination examples
  packages/scss/demo/components/pagination.html
Labels: :bookmark::bug: FIX, package scss

#1263 fix(ng) establishment-picker selects the same value more than once
  packages/ng/libraries/establishment/src/lib/select/input/establishment-select-input.component.ts
  packages/ng/libraries/establishment/src/lib/select/legal-unit-selector/legal-unit-selector.directive.ts
Labels: :bookmark::bug: FIX, package ng

#1265 fix(ng) ets-select loading
  packages/ng/libraries/option/src/lib/operator/for-groups/for-groups.directive.ts
Labels: :bookmark::bug: FIX, package ng
