Repository LuccaSA/lucca-front, pull requests merged in 2021-02, with the labels that each got.

#1233 fix(ng-select) add sub clean up on destroy
  packages/ng/libraries/select/src/lib/input/select-input.component.ts
  packages/ng/libraries/select/src/lib/input/select-input.model.ts
Labels: :bookmark::bug: FIX, package ng

#1231 fix(icons) font smoothing
  packages/icons/src/_font.scss
Labels: bug, package icon

#1229 fix(scss) collapse
  packages/scss/src/components/_collapse.scss
Labels: :bookmark::bug: FIX, package scss

#1228 fix(scss) remove box-shadow none from textfield mod-filter
  packages/scss/src/components/inputs/textfield/_textfield.scss
Labels: :bookmark::bug: FIX, Accessibility, package scss
