Repository LuccaSA/lucca-front, pull requests merged in 2021-01, with the labels that each got.

#1194 feat(scss) optimize SCSS dist size by using autoprefixer options
  packages/scss/.browserslistrc
Labels: package scss

#1205 fix(scss) add layout to overridable distrib
  packages/scss/src/_components.overridable.scss
  packages/scss/src/components/_layout.scss
Labels: bug, minor, package scss

#1207 feat(ng) modals enhancements
  packages/ng/applications/sandbox/src/app/issues/modal-a11y/modal-a11y.component.ts
  packages/ng/libraries/modal/src/lib/modal-panel.component.html
  packages/ng/libraries/modal/src/lib/modal-panel.component.ts
  packages/ng/libraries/modal/src/lib/modal.model.ts
  packages/ng/libraries/sidepanel/src/lib/sidepanel-panel.component.html
  packages/scss/src/components/_button.scss
Labels: enhancement, package ng, package scss

#1208 feat(ng-date) date-inputs - better disabling - startOn
  packages/ng/applications/sandbox/src/app/issues/date-select-enh/date-select-enh.component.html
  packages/ng/applications/sandbox/src/app/issues/date-select-enh/date-select-enh.component.ts
  packages/ng/applications/sandbox/src/app/issues/date-select-enh/date-select-enh.module.ts
  packages/ng/applications/sandbox/src/app/issues/date-select-enh/index.ts
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/select-option-placeholder/select-option-placeholder.component.ts
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.html
  packages/ng/libraries/date/src/lib/calendar/calendar-input.component.ts
  packages/ng/libraries/date/src/lib/calendar/calendar-item.class.ts
  packages/ng/libraries/date/src/lib/calendar/calendar-item.interface.ts
  packages/ng/libraries/date/src/lib/picker/date-picker.component.html
  packages/ng/libraries/date/src/lib/picker/date-picker.component.ts
  packages/ng/libraries/date/src/lib/select/date-select-input.component.html
  packages/ng/libraries/date/src/lib/select/date-select-input.component.ts
Labels: enhancement, package ng

#1203 feat(scss) scroll smooth utilities
  packages/scss/demo/components/utilities.html
  packages/scss/src/utilities/_misc.scss
Labels: enhancement, minor, package scss, shame

#1204 refactor(scss) remove flex basis utilities
  packages/scss/demo/components/utilities.html
  packages/scss/src/utilities/_flex.scss
Labels: enhancement, minor, package scss

#1206 feat(ng) modal-sp a11y
  packages/ng/applications/sandbox/src/app/issues/issues.router.ts
  packages/ng/applications/sandbox/src/app/issues/modal-a11y/index.ts
  packages/ng/applications/sandbox/src/app/issues/modal-a11y/modal-a11y.component.html
  packages/ng/applications/sandbox/src/app/issues/modal-a11y/modal-a11y.component.ts
  packages/ng/applications/sandbox/src/app/issues/modal-a11y/modal-a11y.module.ts
  packages/ng/libraries/modal/src/lib/modal-panel.component.html
  packages/ng/libraries/modal/src/lib/modal-panel.component.ts
  packages/ng/libraries/modal/src/lib/modal.model.ts
  packages/ng/libraries/sidepanel/src/lib/sidepanel-panel.component.html
  packages/scss/src/components/_button.scss
Labels: enhancement, minor, package ng

#1215 feat(scss) arrows in nav
  packages/scss/src/components/_nav-side.scss
Labels: enhancement, minor, package scss

#1216 fix(scss) timelines values
  packages/scss/src/components/_timeline.scss
Labels: bug, minor, package scss

#1217 fix(scss) callout icon color
  packages/scss/src/components/_callout.scss
Labels: enhancement, minor, package scss

#1221 fix(scss) loading actionIcon in table with mod-actions
  packages/scss/src/components/_table.scss
Labels: :bookmark::bug: FIX, package scss

#1219 fix(scss) checkboxes : palette take precedence over disabled on hover
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
Labels: :bookmark::bug: FIX, package scss

#1213 feat(ng) enable strict templates
  packages/ng/applications/sandbox/src/app/issues/date-minmax/date-minmax.component.html
  packages/ng/applications/sandbox/src/app/issues/date-picker-width/date-picker-width.component.html
  packages/ng/applications/sandbox/src/app/issues/date-picker-width/date-picker-width.component.ts
  packages/ng/applications/sandbox/src/app/issues/date-picker/date-picker.component.html
  packages/ng/applications/sandbox/src/app/issues/ivy-tree/ivy-tree.component.ts
  packages/ng/applications/sandbox/src/app/issues/option-selector/option-selector.component.ts
  packages/ng/applications/sandbox/src/app/issues/poc-tree/poc-tree.component.ts
  packages/ng/applications/sandbox/src/app/issues/refacto-overlay-advanced/refacto-overlay-advanced.component.html
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays-tooltip/refacto-overlays-tooltip.component.html
  packages/ng/applications/sandbox/src/app/issues/refacto-overlays/refacto-overlays.component.html
  packages/ng/applications/sandbox/src/app/issues/select-option-placeholder/select-option-placeholder.component.ts
  packages/ng/applications/sandbox/src/app/issues/select-overlap/select-overlap.component.html
  packages/ng/applications/sandbox/src/app/issues/select-overlap/select-overlap.component.ts
  packages/ng/applications/sandbox/src/app/issues/tree-picker-advanced/tree-picker-advanced.component.ts
  packages/ng/libraries/date/src/lib/picker/date-picker.component.ts
  packages/ng/libraries/formly/src/lib/types/api.ts
  packages/ng/libraries/formly/src/lib/types/checkbox.ts
  packages/ng/libraries/formly/src/lib/types/date.ts
  packages/ng/libraries/formly/src/lib/types/department.ts
  packages/ng/libraries/formly/src/lib/types/establishment.ts
  packages/ng/libraries/formly/src/lib/types/input.ts
  packages/ng/libraries/formly/src/lib/types/radios.ts
  packages/ng/libraries/formly/src/lib/types/select.ts
  packages/ng/libraries/formly/src/lib/types/textarea.ts
  packages/ng/libraries/formly/src/lib/types/user.ts
  packages/ng/libraries/formly/src/lib/wrappers/error.ts
  packages/ng/tsconfig.base.json
Labels: enhancement, major, package ng

#1220 fix(scss) radioButton : palette color at root level doesn't works
  packages/scss/src/components/inputs/radio-buttons/_radio-buttons.scss
Labels: :bookmark::bug: FIX, package scss

#1210 fix(ng-popup) max-size responsiveness
  packages/ng/libraries/root/src/style/components/_popup.scss
Labels: enhancement, package ng

#1222 ref(ng-modal|sp) hide the error thingy in the modal|sidepanel footer
  packages/ng/libraries/modal/src/lib/modal-panel.component.html
  packages/ng/libraries/sidepanel/src/lib/sidepanel-panel.component.html
Labels: enhancement, package ng

#1223 feat(icons) clean up how icons package works
  packages/icons/src/_classes.scss
  packages/icons/src/_font.scss
  packages/icons/src/_icons.scss
  packages/icons/src/_mixins.scss
  packages/icons/src/_partials.scss
  packages/icons/src/main.scss
  packages/scss/src/_icons.scss
  packages/scss/src/components/_callout.scss
  packages/scss/src/components/_chips.scss
  packages/scss/src/theming/_icons.scss
Labels: enhancement, package icon
