Repository LuccaSA/lucca-front, pull requests merged in 2022-02, with the labels that each got.

#1512 add api v4 sorting on LuApiPagedSearcher
  packages/ng/api/src/lib/select/input/api-select-input.component.html
  packages/ng/api/src/lib/select/input/api-select-input.component.ts
  packages/ng/api/src/lib/select/searcher/api-searcher.component.ts
  packages/ng/qualification/src/lib/select/input/qualification-select-input.component.html
  packages/ng/qualification/src/lib/select/input/qualification-select-input.component.ts
  stories/ng/api/select/api-select.stories.html
Labels: :bookmark::bug: FIX, :hammer: Technical

#1527 REF Update codeowners
  CODEOWNERS
Labels: :see_no_evil: No log, :hammer: Technical

#1530 REF Tiny throw refactor
  packages/ng/establishment/src/lib/select/for-legal-units/for-legal-units.directive.ts
  packages/ng/popover/src/lib/target/popover-target.error.ts
  packages/ng/popover/src/lib/target/popover-target.model.ts
  packages/ng/popover/src/lib/trigger/popover-trigger.error.ts
  packages/ng/popover/src/lib/trigger/popover-trigger.model.ts
Labels: package ng, :hammer: Technical

#1531 FIX emit empty array when clearing multiple select
  packages/ng/input/src/lib/clearer/clearer.component.ts
  packages/ng/select/src/lib/input/select-input.model.ts
Labels: package ng, BREAKING CHANGE, :bookmark::bug: FIX

#1389 feat(scss) Timeline
  packages/scss/src/components/_timeline.scss
  stories/qa/timelines/timelines.stories.html
  stories/scss/timeline/timeline.stories.html
  stories/scss/timeline/timeline.stories.ts
Labels: BREAKING CHANGE, DS to LF, Graphic adjustment

#1510 upd(scss) use design system colours in palettes
  packages/scss/src/theming/_palettes.scss
Labels: :bookmark::sparkles: Feature

#1423 feat(scss&qa) tabs bars
  packages/scss/src/components/_menu.scss
  packages/scss/src/components/_page-header.scss
  stories/qa/menu/menu.stories.html
  stories/qa/page-header/page-header.stories.html
  stories/scss/menu/menu.stories.html
  stories/scss/menu/menu.stories.ts
  stories/scss/page-header/page-header-basic.stories.html
Labels: DS to LF

#1526 add mod-noShadow to pageHeader
  packages/scss/src/components/_page-header.scss
  stories/qa/page-header/page-header.stories.html
  stories/scss/page-header/page-header-basic.stories.html
  stories/scss/page-header/page-header-basic.stories.ts
Labels: package scss, :bookmark::sparkles: Feature

#1492 Icons pause and stop
  packages/icons/README.md
  packages/icons/font/lucca-Icons.woff2
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/icons-list.js
  packages/icons/selection.json
  packages/icons/src/_mappings.scss
Labels: package icon, :bookmark::sparkles: Feature

#1533 remove useless selector
  packages/ng/style/components/cdk/_global.scss
Labels: :bookmark::bug: FIX, DS to LF

#1541 Aria-required support
  packages/scss/src/components/_form.scss
  packages/scss/src/components/inputs/checkbox/_checkbox.scss
  packages/scss/src/components/inputs/field/_field.scss
  packages/scss/src/components/inputs/radio/_radio.scss
  packages/scss/src/mixins/_forms.scss
  stories/scss/form/checkbox/checkbox.stories.html
  stories/scss/form/checkbox/checkbox.stories.ts
  stories/scss/form/framed/framed.stories.html
  stories/scss/form/framed/framed.stories.ts
  stories/scss/form/radio/radio.stories.html
  stories/scss/form/radio/radio.stories.ts
  stories/scss/form/textfields/textfield.stories.html
  stories/scss/form/textfields/textfield.stories.ts
Labels: enhancement, package scss, minor, Accessibility, :bookmark::sparkles: Feature

#1476 Line height for titles
  packages/scss/src/_typo.scss
  packages/scss/src/mixins/_typo.scss
  packages/scss/src/theming/_sizes.scss
  stories/qa/typography/typography.stories.html
Labels: enhancement, package scss, Graphic adjustment

#1536 [Select] Cover palettes on icons / placeholders
  packages/ng/style/definitions/select/_select-clearer.scss
  packages/ng/style/definitions/select/_select-input.scss
  packages/ng/style/theme/_select.theme.scss
Labels: package ng, BREAKING CHANGE, :bookmark::sparkles: Feature

#1535 add new icons crown and unarchive
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/icons-list.js
  packages/icons/selection.json
  packages/icons/src/_mappings.scss
Labels: package icon, :bookmark::sparkles: Feature

#1544 Responsive for boutons grouped
  packages/scss/src/_components.scss
  packages/scss/src/components/_button-group.scss
  packages/scss/src/components/_button.scss
  packages/scss/src/theming/components/_button.theme.scss
  stories/scss/button/button-basic.stories.html
  stories/scss/button/button-stories.scss
  stories/scss/button/button.stories.html
  stories/scss/button/button.stories.ts
Labels: enhancement, package scss, minor, :bookmark::sparkles: Feature, Graphic adjustment

#1434 feat(scss) Link
  packages/scss/src/components/_callout.scss
  packages/scss/src/components/_link.scss
  stories/qa/links/links.stories.html
Labels: DS to LF, Graphic adjustment

#1545 review warning icon
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/selection.json
Labels: package icon, :bookmark::bug: FIX
