Repository LuccaSA/lucca-front, pull requests merged in 2022-08, with the labels that each got.

#1794 [textfield] width variables
  packages/scss/src/components/field/vars.scss
  packages/scss/src/components/textfield/mods.scss
Labels: 🐞 Bug, 📦 Package SCSS, 📖 Documentation changes

#1791 [Options multiple] Fix checkbox cliping + icon size harmonization
  packages/ng/styles/definitions/option/_option-item.scss
Labels: 🐞 Bug, 📦 Package NG

#1792 [Radio buttons] States colors
  packages/scss/src/components/radioButtons/component.scss
  packages/scss/src/components/radioButtons/vars.scss
Labels: 📦 Package SCSS, 🎨 UI Adjustments, 📖 Documentation changes

#1793 [Table] Fix handlers position
  packages/scss/src/components/table/mods.scss
Labels: 🐞 Bug, 📦 Package SCSS

#1797 [E2E][ADD] UiDiff on checkboxes
  e2e/LuccaFront.Tests.e2e/Features/Checkboxes.feature
  e2e/LuccaFront.Tests.e2e/Features/Textfield.feature
  e2e/LuccaFront.Tests.e2e/Steps/CheckboxesSteps.cs
  e2e/LuccaFront.Tests.e2e/Steps/ModSteps.cs
Labels: :hammer: Technical

#1796 [Textfield] Framed placeholder color
  packages/ng/styles/definitions/select/_select-input.scss
  packages/scss/src/components/field/component.scss
  packages/scss/src/components/field/mods.scss
  packages/scss/src/components/field/states.scss
  packages/scss/src/components/textfield/mods.scss
Labels: 📦 Package NG, 📦 Package SCSS, 🎨 UI Adjustments

#1803 [Navside] Arrows size
  packages/scss/src/components/navside/component.scss
Labels: 📦 Package SCSS, 🎨 UI Adjustments

#1805 [Popup] Fix double overlay animation
  packages/ng/styles/components/cdk/_overlay.scss
Labels: 🐞 Bug, 📦 Package NG

#1808 FIX material / formly scss export
  packages/ng/material/style/components/_datepicker.scss
  packages/ng/ng-package.json
Labels: 🐞 Bug, 📦 Package NG

#1801 [ADD] Select advanced stories
  stories/documentation/forms/select/select-advanced.stories.ts
Labels: :hammer: Technical

#1815 Fix Jenkins issue related to lack of camelCase on a mixin
  packages/ng/material/style/components/_datepicker.scss
Labels: 🐞 Bug, 👥 Guilde Design

#1819 Fix font variable condition
  packages/scss/src/commons/base.scss
Labels: 🐞 Bug, 👥 Guilde Design

#1823 [Stories] ajout de nouvelle stories
  packages/ng/user/src/lib/picture/user-picture.component.ts
  packages/ng/user/src/lib/picture/user-picture.spec.ts
  stories/documentation/navigation/sidepanel/sidepanel.stories.ts
  stories/documentation/overlays/tooltip/tooltip.stories.html
  stories/documentation/overlays/tooltip/tooltip.stories.ts
  stories/documentation/toolbox/animations/animations.scss
  stories/documentation/toolbox/animations/fade-animations.stories.ts
  stories/documentation/toolbox/animations/scale-animations.stories.ts
  stories/documentation/toolbox/animations/slide-animations.stories.ts
  stories/documentation/toolbox/numbers/numbers.stories.html
  stories/documentation/toolbox/numbers/numbers.stories.ts
  stories/documentation/toolbox/numbers/precision.stories.ts
  stories/documentation/users/display/display.stories.ts
  stories/documentation/users/picture/picture.stories.ts
Labels: :hammer: Technical

#1820 [field] Add field's max width to fix basic responsive issues
  packages/scss/src/components/field/component.scss
Labels: 👥 Guilde Design, 🎨 UI Adjustments

#1830 fix(department select): issue with angular 12
  packages/ng/option/src/lib/item/tree-option-item.component.ts
Labels: 🐞 Bug

#1826 Animations : fix css vars
  packages/scss/src/components/util/index.scss
Labels: 🐞 Bug

#1827 [Tech] Toujours plus de spec
  packages/ng/department/src/lib/department-select.spec.ts
  packages/ng/establishment/src/lib/establishment-select.spec.ts
  packages/ng/establishment/src/lib/select/searcher/establishment-searcher.component.html
  packages/ng/establishment/src/lib/select/searcher/establishment-searcher.component.ts
  stories/documentation/actions/action-icon/action-icon-basic.stories.ts
  stories/documentation/actions/action-icon/action-icon.spec.ts
  stories/documentation/actions/button/button-basic.stories.ts
  stories/documentation/actions/button/button-counter.stories.ts
  stories/documentation/actions/button/button-group.stories.ts
  stories/documentation/actions/button/button-icon.stories.ts
  stories/documentation/actions/button/button.spec.ts
  stories/documentation/actions/links/link-basic.stories.ts
  stories/documentation/actions/links/links.spec.ts
  stories/documentation/forms/department/department-select.stories.html
  stories/documentation/forms/establishment-select/establishment-select.stories.ts
Labels: 👥 Guilde Front, :hammer: Technical, 📖 Documentation changes
