Repository LuccaSA/lucca-front, pull requests merged in 2023-05, with the labels that each got.

#2109 Docs/modals
  stories/documentation/forms/date/select/date-select.stories.ts
  stories/documentation/forms/select/simple-select.stories.ts
  stories/documentation/overlays/modal/modal.stories.ts
  stories/helpers/stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2112 Fix auto-translate
  packages/ng/date/src/lib/calendar/calendar-input.component.html
  packages/ng/date/src/lib/select/date-select-input.component.html
  packages/ng/input/src/lib/clearer/clearer.component.html
  stories/documentation/feedback/box/box-killable.stories.ts
  stories/qa/box/box.stories.html
  stories/qa/callout/callout.stories.html
  stories/qa/forms/files.stories.html
  stories/qa/forms/textfields.stories.html
  stories/qa/icon/icon.stories.html
  stories/qa/table/table.stories.html
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2107 [Components v3] Breadcrumbs
  packages/scss/src/components/breadcrumbs/component.scss
  stories/documentation/navigation/breadcrumbs/breadcrumbs-basic.stories.ts
  stories/documentation/navigation/breadcrumbs/breadcrumbs-compact.stories.ts
  stories/qa/breadcrumb/breadcrumb.stories.html
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2111 [Components v3] Modal
  packages/ng/modal/src/lib/modal-panel.component.html
  packages/ng/styles/components/_popup.scss
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/vars.scss
Labels: :bookmark::sparkles: Feature

#2113 [Components v3] Textfield / Select
  packages/ng/input/src/lib/clearer/clearer.component.html
  packages/ng/simple-select/src/lib/input/select-input.component.html
  packages/ng/styles/components/_picker.scss
  packages/ng/styles/components/_popover.scss
  packages/ng/styles/definitions/option/_option-item.scss
  packages/ng/styles/definitions/option/_option-searcher.scss
  packages/ng/styles/definitions/select/_select-clearer.scss
  packages/ng/styles/definitions/select/_select-input.scss
  packages/scss/src/commons/config.scss
  packages/scss/src/components/field/component.scss
  packages/scss/src/components/field/mods.scss
  packages/scss/src/components/field/states.scss
  packages/scss/src/components/field/vars.scss
  packages/scss/src/components/textfield/component.scss
  packages/scss/src/components/textfield/index.scss
  packages/scss/src/components/textfield/mods.scss
  packages/scss/src/components/textfield/states.scss
  packages/scss/src/components/textfield/vars.scss
  stories/documentation/forms/textfields/textfield-basic.stories.ts
  stories/documentation/forms/textfields/textfield-clearable.stories.ts
  stories/documentation/forms/textfields/textfield-filter.stories.ts
  stories/documentation/forms/textfields/textfield-messages.stories.ts
  stories/documentation/forms/textfields/textfield-multiline.stories.ts
  stories/documentation/forms/textfields/textfield-password.stories.ts
  stories/documentation/forms/textfields/textfield-suffixes.stories.ts
  stories/qa/forms/textfields.stories.html
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2075 Remove secondary from the documentation
  stories/documentation/actions/button/button-basic.stories.ts
  stories/documentation/actions/button/button-basic2.stories.ts
  stories/documentation/feedback/callout/callout-basic.stories.ts
  stories/documentation/feedback/callout/callout-killable.stories.ts
  stories/documentation/forms/textfields/textfield-basic.stories.ts
  stories/documentation/forms/timepicker/timepicker-basic.stories.ts
  stories/documentation/loaders/gauge/gauge-basic.stories.ts
  stories/documentation/loaders/gauge/gauge-vertical.stories.ts
  stories/documentation/texts/labels/label-basic.stories.ts
  stories/documentation/texts/tags/tags.stories.ts
Labels: :bookmark::sparkles: Feature, 📖 Documentation changes, :book: Documentation changes

#2119 Font family inherit for button and forms
  packages/ng/material/style/main.scss
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/field/component.scss
  packages/scss/src/components/link/component.scss
  stories/qa/typography/typography.stories.html
Labels: :hammer: Technical, :bookmark::bug: FIX, :book: Documentation changes

#2121 Update Jenkins shared library version
  Jenkinsfile
Labels: :hammer: Technical, :see_no_evil: No log

#2083 [Readme] Update LF
  README.md
Labels: :hammer: Technical

#2074 More css vars for progress component
  packages/scss/src/components/progress/component.scss
  packages/scss/src/components/progress/index.scss
  packages/scss/src/components/progress/mods.scss
  packages/scss/src/components/progress/states.scss
  packages/scss/src/components/progress/vars.scss
Labels: :bookmark::sparkles: Feature

#2120 16.1 Fixes
  packages/scss/src/commons/config.scss
  packages/scss/src/components/breadcrumbs/mods.scss
  packages/scss/src/components/buttonGroup/component.scss
  packages/scss/src/components/field/component.scss
  packages/scss/src/components/field/mods.scss
  packages/scss/src/components/link/index.scss
  packages/scss/src/components/link/mods.scss
  packages/scss/src/components/radio/component.scss
  packages/scss/src/components/switch/component.scss
  packages/scss/src/components/title/component.scss
  stories/documentation/actions/button/button-group.stories.ts
  stories/documentation/actions/links/link-basic.stories.ts
  stories/documentation/forms/checkbox/checkbox-basic.stories.ts
  stories/qa/button/button.stories.html
  stories/qa/links/links.stories.html
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2114 Angular 16 support
  .eslintrc
  .storybook/public/mockServiceWorker.js
  STANDALONE COMPONENTS.md
  angular.json
  jest.config.json
  package-lock.json
  package.json
  packages/icons/package.json
  packages/ng/formly/src/lib/formly.config.ts
  packages/ng/formly/src/lib/formly.utils.ts
  packages/ng/formly/src/lib/types/api.html
  packages/ng/formly/src/lib/types/api.ts
  packages/ng/formly/src/lib/types/checkbox.html
  packages/ng/formly/src/lib/types/checkbox.ts
  packages/ng/formly/src/lib/types/date.html
  packages/ng/formly/src/lib/types/date.ts
  packages/ng/formly/src/lib/types/department.html
  packages/ng/formly/src/lib/types/department.ts
  packages/ng/formly/src/lib/types/establishment.html
  packages/ng/formly/src/lib/types/establishment.ts
  packages/ng/formly/src/lib/types/input.html
  packages/ng/formly/src/lib/types/input.ts
  packages/ng/formly/src/lib/types/qualification.html
  packages/ng/formly/src/lib/types/qualification.ts
  packages/ng/formly/src/lib/types/radios.html
  packages/ng/formly/src/lib/types/radios.ts
  packages/ng/formly/src/lib/types/select.html
  packages/ng/formly/src/lib/types/select.ts
  packages/ng/formly/src/lib/types/textarea.html
  packages/ng/formly/src/lib/types/textarea.ts
  packages/ng/formly/src/lib/types/user.html
  packages/ng/formly/src/lib/types/user.ts
  packages/ng/formly/src/lib/wrappers/checkbox-layout.ts
  packages/ng/formly/src/lib/wrappers/error.html
  packages/ng/formly/src/lib/wrappers/error.ts
  packages/ng/formly/src/lib/wrappers/helper.html
  packages/ng/formly/src/lib/wrappers/helper.ts
  packages/ng/formly/src/lib/wrappers/icon.html
  packages/ng/formly/src/lib/wrappers/icon.ts
  packages/ng/formly/src/lib/wrappers/radiosfield-layout.ts
  packages/ng/formly/src/lib/wrappers/suffix.html
  packages/ng/formly/src/lib/wrappers/suffix.ts
  packages/ng/formly/src/lib/wrappers/textfield-layout.ts
  packages/ng/package.json
  packages/ng/styles/definitions/select/_select-input.scss
  packages/ng/title/src/lib/title.model.ts
  packages/ng/title/src/lib/title.strategy.spec.ts
  stories/qa/formly/formly.stories.ts
  tsconfig.spec.json
Labels: :hammer: Technical, :book: Documentation changes

#2127 [Icons] levels + teacher
  packages/icons/font/lucca-icons.eot
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/icons-list.js
  packages/icons/selection.json
  packages/icons/src/commons/config.scss
Labels: :bookmark::sparkles: Feature
