Repository LuccaSA/lucca-front, pull requests merged in 2023-08, with the labels that each got.

#2202 [Components v3] Form label
  README.md
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/formLabel/exports.scss
  packages/scss/src/components/formLabel/index.scss
  packages/scss/src/components/formLabel/mods.scss
  packages/scss/src/components/formLabel/states.scss
  packages/scss/src/components/formLabel/vars.scss
  packages/scss/src/components/index.scss
  stories/documentation/forms/form-label/form-label.stories.ts
  stories/qa/form-label/form-label.stories.html
  stories/qa/form-label/form-label.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2199 Fix warning
  packages/scss/src/components/pagination/component.scss
Labels: :bookmark::bug: FIX

#2204 Fix UserTile stories
  stories/documentation/users/tile/user-tile-format.stories.ts
  stories/documentation/users/tile/user-tile.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2136 [Form v2] Checkbox
  packages/scss/src/components/checkbox/mods.scss
  packages/scss/src/components/checkboxField/component.scss
  packages/scss/src/components/checkboxField/exports.scss
  packages/scss/src/components/checkboxField/index.scss
  packages/scss/src/components/checkboxField/mods.scss
  packages/scss/src/components/checkboxField/states.scss
  packages/scss/src/components/checkboxField/vars.scss
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/formLabel/mods.scss
  packages/scss/src/components/formLabel/states.scss
  packages/scss/src/components/formLabel/vars.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/inlineMessage/component.scss
  packages/scss/src/components/inlineMessage/states.scss
  stories/documentation/forms/checkbox-legacy/checkbox-basic.stories.ts
  stories/documentation/forms/checkbox-legacy/checkbox-incomplete.stories.ts
  stories/documentation/forms/checkbox/checkbox-basic.stories.ts
  stories/documentation/forms/form-label/form-label.stories.ts
  stories/documentation/forms/framed/framed.stories.html
  stories/qa/form-label/form-label.stories.html
  stories/qa/forms/checkbox-legacy.stories.html
  stories/qa/forms/checkbox-legacy.stories.ts
  stories/qa/forms/checkbox.stories.html
  stories/qa/forms/checkbox.stories.ts
  stories/qa/forms/checkboxes.stories.ts
  stories/qa/inline-message/inline-message.stories.html
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2188 [Components v3] Footer
  packages/scss/src/components/footer/component.scss
  packages/scss/src/components/footer/exports.scss
  packages/scss/src/components/footer/index.scss
  packages/scss/src/components/footer/mods.scss
  packages/scss/src/components/footer/states.scss
  packages/scss/src/components/footer/vars.scss
  packages/scss/src/components/index.scss
  stories/documentation/structure/footer/footer-basic.stories.ts
  stories/qa/footer/footer.stories.html
  stories/qa/footer/footer.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2152 [Components V3] Mobile header
  packages/scss/src/components/index.scss
  packages/scss/src/components/mobileHeader/component.scss
  packages/scss/src/components/mobileHeader/exports.scss
  packages/scss/src/components/mobileHeader/index.scss
  packages/scss/src/components/mobileHeader/mods.scss
  packages/scss/src/components/mobileHeader/states.scss
  packages/scss/src/components/mobileHeader/vars.scss
  stories/documentation/structure/mobile-header/mobile-header-basic.stories.ts
  stories/qa/mobile-header/mobile-header.stories.html
  stories/qa/mobile-header/mobile-header.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2185 [Components v3] New Badge
  packages/scss/src/components/index.scss
  packages/scss/src/components/newBadge/component.scss
  packages/scss/src/components/newBadge/exports.scss
  packages/scss/src/components/newBadge/index.scss
  packages/scss/src/components/newBadge/mods.scss
  packages/scss/src/components/newBadge/states.scss
  packages/scss/src/components/newBadge/vars.scss
  stories/documentation/texts/new-badge/new-badge.stories.ts
  stories/qa/new-badge/new-badge.stories.html
  stories/qa/new-badge/new-badge.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2205 [Form v2] Radio
  packages/scss/src/components/index.scss
  packages/scss/src/components/radioField/component.scss
  packages/scss/src/components/radioField/exports.scss
  packages/scss/src/components/radioField/index.scss
  packages/scss/src/components/radioField/mods.scss
  packages/scss/src/components/radioField/states.scss
  packages/scss/src/components/radioField/vars.scss
  stories/documentation/forms/radio-legacy/radio-legacy-basic.stories.ts
  stories/documentation/forms/radio-legacy/radio-legacy-helper.stories.ts
  stories/documentation/forms/radio/radio-basic.stories.ts
  stories/qa/forms/radio-legacy.stories.html
  stories/qa/forms/radio-legacy.stories.ts
  stories/qa/forms/radio.stories.html
  stories/qa/forms/radio.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2207 [Form v2] Switch
  packages/scss/src/components/index.scss
  packages/scss/src/components/switchField/component.scss
  packages/scss/src/components/switchField/exports.scss
  packages/scss/src/components/switchField/index.scss
  packages/scss/src/components/switchField/mods.scss
  packages/scss/src/components/switchField/states.scss
  packages/scss/src/components/switchField/vars.scss
  stories/documentation/forms/switch-legacy/switch-legacy-basic.stories.ts
  stories/documentation/forms/switch-legacy/switch-legacy-helper.stories.ts
  stories/documentation/forms/switch/switch-basic.stories.ts
  stories/qa/forms/switch-legacy.stories.html
  stories/qa/forms/switch-legacy.stories.ts
  stories/qa/forms/switch.stories.html
  stories/qa/forms/switch.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2189 [Components v3] Mobile navigation
  packages/scss/src/components/index.scss
  packages/scss/src/components/mobileNavigation/component.scss
  packages/scss/src/components/mobileNavigation/exports.scss
  packages/scss/src/components/mobileNavigation/index.scss
  packages/scss/src/components/mobileNavigation/mods.scss
  packages/scss/src/components/mobileNavigation/states.scss
  packages/scss/src/components/mobileNavigation/vars.scss
  stories/documentation/navigation/mobile-navigation/mobile-navigation-basic.stories.ts
  stories/qa/mobile-navigation/mobile-navigation.stories.html
  stories/qa/mobile-navigation/mobile-navigation.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2208 [Form v2] Textfield
  packages/scss/src/components/index.scss
  packages/scss/src/components/textfield/component.scss
  packages/scss/src/components/textfield/index.scss
  packages/scss/src/components/textfield/mods.scss
  packages/scss/src/components/textfield/states.scss
  packages/scss/src/components/textfield/vars.scss
  packages/scss/src/components/textfields/component.scss
  packages/scss/src/components/textfields/exports.scss
  packages/scss/src/components/textfields/index.scss
  packages/scss/src/components/textfields/mods.scss
  packages/scss/src/components/textfields/states.scss
  packages/scss/src/components/textfields/vars.scss
  stories/documentation/forms/textfield-legacy/textfield-basic.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-clearable.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-feedback.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-filter.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-messages.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-multiline.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-password.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-radio.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-suffixes.stories.ts
  stories/documentation/forms/textfield/textfield-basic.stories.ts
  stories/qa/forms/textfield-legacy.stories.html
  stories/qa/forms/textfield-legacy.stories.ts
  stories/qa/forms/textfield.stories.html
  stories/qa/forms/textfield.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2209 Fix translation on deselect
  packages/ng/establishment/src/lib/select/select-all/establishment-select-all.translate.ts
Labels: :bookmark::bug: FIX

#2215 chore(tech): use lucca.tech url in PRs
  Jenkinsfile
Labels: :hammer: Technical, :see_no_evil: No log

#2218 [Tooltip] Center text
  packages/ng/styles/definitions/tooltip/_tooltip.scss
Labels: :bookmark::bug: FIX

#2212 feat(inline-message): angular wrapper for inline message
  packages/ng/inline-message/inline-message.component.html
  packages/ng/inline-message/inline-message.component.scss
  packages/ng/inline-message/inline-message.component.ts
  packages/ng/inline-message/ng-package.json
  packages/ng/inline-message/public-api.ts
  stories/documentation/forms/inline-message/inline-message-basic.stories.ts
  stories/documentation/forms/inline-message/inline-message-status.stories.ts
Labels: 👥 Guilde Front, :hammer: Technical, :book: Documentation changes, :construction: Angular wrapper

#2171 feat(numeric-badge): Angular wrapper
  packages/ng/numeric-badge/ng-package.json
  packages/ng/numeric-badge/numeric-badge/numeric-badge.component.html
  packages/ng/numeric-badge/numeric-badge/numeric-badge.component.scss
  packages/ng/numeric-badge/numeric-badge/numeric-badge.component.ts
  packages/ng/numeric-badge/public-api.ts
  stories/documentation/feedback/numeric-badge/numeric-badge.stories.ts
Labels: :hammer: Technical, :book: Documentation changes, :construction: Angular wrapper

#2221 [Button & Action icons] Darker hover/active states
  packages/scss/src/components/actionIcon/component.scss
  packages/scss/src/components/actionIcon/mods.scss
  packages/scss/src/components/button/mods.scss
Labels: :hammer: Technical, 🎨 UI Adjustments

#2225 [Radio Button] Fix component breaking modal scroll
  packages/scss/src/components/radioButtons/component.scss
Labels: :bookmark::bug: FIX

#2229 feat(ci): use commentOnPR script
  Jenkinsfile
Labels: :hammer: Technical, :see_no_evil: No log

#2232 16.3 fixes
  packages/ng/new-badge/new-badge.component.scss
  packages/ng/numeric-badge/numeric-badge/numeric-badge.component.scss
  packages/scss/src/components/callout/component.scss
  packages/scss/src/components/field/vars.scss
  packages/scss/src/components/textfield/component.scss
  packages/scss/src/components/textfields/mods.scss
  packages/scss/src/components/textfields/states.scss
  packages/scss/src/components/timeline/mods.scss
  stories/documentation/forms/textfield/textfield-basic.stories.ts
  stories/qa/forms/textfield-legacy.stories.html
  stories/qa/forms/textfield.stories.html
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2227 [Button] Fix link element button hover state
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/button/mods.scss
  stories/qa/button/button.stories.html
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2226 Material style as deprecated
  packages/ng/material/style/_components.scss
  packages/ng/material/style/components/_autocomplete.scss
  packages/ng/material/style/components/_buttons.scss
  packages/ng/material/style/components/_datepicker.scss
  packages/ng/material/style/components/_dialog.scss
  packages/ng/material/style/components/_input.scss
  packages/ng/material/style/components/_menu.scss
  packages/ng/material/style/components/_mixins.scss
  packages/ng/material/style/components/_options.scss
  packages/ng/material/style/components/_select.scss
  packages/ng/material/style/components/_tooltip.scss
  packages/ng/material/style/main.scss
  packages/ng/styles/definitions/user/user-picture.scss
Labels: :hammer: Technical, :book: Documentation changes

#2233 Improve titles weight rendering
  packages/scss/src/components/title/component.scss
Labels: :bookmark::bug: FIX

#2223 Fix date select with undefined/handle startOn
  packages/ng/date/select/date-select-input.component.ts
  stories/documentation/forms/date/select/date-select.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2236 fix(callout): title => heading renaming, hidden now a two way binding
  packages/ng/callout/callout.component.html
  packages/ng/callout/callout.component.ts
  stories/documentation/feedback/callout/callout-basic.stories.ts
  stories/documentation/feedback/callout/callout-icons.stories.ts
  stories/documentation/feedback/callout/callout-killable.stories.ts
  stories/documentation/feedback/callout/callout-tiny.stories.ts
Labels: 👥 Guilde Front, :bookmark::bug: FIX

#2237 Fix horizontzal
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/selection.json
Labels: :bookmark::bug: FIX

#2238 fix(callout): rename `hidden` input to `removed` to avoid HTML attribute conflicts
  packages/ng/callout/callout.component.html
  packages/ng/callout/callout.component.ts
Labels: 👥 Guilde Front, :bookmark::bug: FIX, :construction: Angular wrapper

#2203 Improve ZH stories integration
  stories/documentation/actions/button/button-basic2.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2240 ZH — Improve stories format
  stories/documentation/forms/checkbox-legacy/checkbox-basic.stories.ts
  stories/documentation/forms/checkbox-legacy/checkbox-incomplete.stories.ts
  stories/documentation/forms/checkbox/checkbox-basic.stories.ts
  stories/documentation/forms/radio-legacy/radio-legacy-basic.stories.ts
  stories/documentation/forms/radio-legacy/radio-legacy-helper.stories.ts
  stories/documentation/forms/radio/radio-basic.stories.ts
  stories/documentation/forms/switch-legacy/switch-legacy-basic.stories.ts
  stories/documentation/forms/switch-legacy/switch-legacy-helper.stories.ts
  stories/documentation/forms/switch/switch-basic.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-basic.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-clearable.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-feedback.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-filter.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-messages.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-multiline.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-password.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-radio.stories.ts
  stories/documentation/forms/textfield-legacy/textfield-suffixes.stories.ts
  stories/documentation/forms/textfield/textfield-basic.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2241 Zh.stories.angular+css
  stories/documentation/feedback/callout/angular/callout-basic.stories.ts
  stories/documentation/feedback/callout/angular/callout-icons.stories.ts
  stories/documentation/feedback/callout/angular/callout-killable.stories.ts
  stories/documentation/feedback/callout/angular/callout-tiny.stories.ts
  stories/documentation/feedback/callout/html&css/callout-basic.stories.ts
  stories/documentation/feedback/callout/html&css/callout-icons.stories.ts
  stories/documentation/feedback/callout/html&css/callout-killable.stories.ts
  stories/documentation/feedback/callout/html&css/callout-tiny.stories.ts
  stories/documentation/forms/inline-message/angular/inline-message-basic.stories.ts
  stories/documentation/forms/inline-message/html&css/inline-message-basic.stories.ts
  stories/documentation/texts/new-badge/angular/new-badge.stories.ts
  stories/documentation/texts/new-badge/html&css/new-badge.stories.ts
  stories/documentation/texts/numeric-badge/angular/numeric-badge.stories.ts
  stories/documentation/texts/numeric-badge/html&css/numeric-badge-basic.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2243 [Storybook] Fix inline message category URL
  stories/documentation/forms/inline-message/html&css/inline-message-basic.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2244 [icon] Fix states
  packages/scss/src/components/file/states.scss
  packages/scss/src/components/textfields/states.scss
Labels: :bookmark::bug: FIX

#2245 Fix chevrons alias
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/selection.json
Labels: :bookmark::bug: FIX

#2247 Select fixes
  packages/ng/api/select/input/api-select-input.component.scss
  packages/ng/department/select/input/department-select-input.component.scss
  packages/ng/establishment/select/input/establishment-select-input.component.scss
  packages/ng/simple-select/input/select-input.component.scss
  packages/ng/styles/definitions/select/_select-input.scss
  packages/ng/user/select/input/user-select-input.component.scss
  packages/scss/src/components/button/mods.scss
Labels: :bookmark::bug: FIX

#2248 Fix clearer position condition
  packages/ng/styles/definitions/select/_select-input.scss
Labels: :bookmark::bug: FIX
