Repository LuccaSA/lucca-front, pull requests merged in 2024-08, with the labels that each got.

#2995 [Documentation] Add HiddenLabel description
  packages/ng/form-field/form-field.component.ts
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
  stories/documentation/forms/fields/multi-select/angular/multi-select.stories.ts
  stories/documentation/forms/fields/number/angular/numberfield.stories.ts
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
  stories/documentation/forms/fields/simple-select/angular/simple-select.stories.ts
  stories/documentation/forms/fields/switch/angular/switchfield.stories.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
  stories/documentation/forms/time/duration-picker-angular.stories.ts
  stories/documentation/forms/time/time-picker-angular.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2916 Toast position when footer is present
  packages/scss/src/components/toast/component.scss
  packages/scss/src/components/toast/vars.scss
Labels: :bookmark::sparkles: Feature

#2994 [Stories] Remove default size in code preview
  stories/documentation/feedback/callout-disclosure/angular/callout-disclosure.stories.ts
  stories/documentation/feedback/callout/angular/callout-basic.stories.ts
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
  stories/documentation/forms/fields/multi-select/angular/multi-select.stories.ts
  stories/documentation/forms/fields/number/angular/numberfield.stories.ts
  stories/documentation/forms/fields/simple-select/angular/simple-select.stories.ts
  stories/documentation/forms/fields/switch/angular/switchfield.stories.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
  stories/documentation/forms/time/duration-picker-angular.stories.ts
  stories/documentation/forms/time/time-picker-angular.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2498 New component: viewTabs
  packages/scss/src/components/index.scss
  packages/scss/src/components/viewTabs/component.scss
  packages/scss/src/components/viewTabs/exports.scss
  packages/scss/src/components/viewTabs/index.scss
  packages/scss/src/components/viewTabs/mods.scss
  packages/scss/src/components/viewTabs/states.scss
  packages/scss/src/components/viewTabs/vars.scss
  stories/documentation/navigation/viewTabs/viewTabs-basic.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes, 🎨 Design sync

#2997 fix(core-select): fix former employees param for users core select
  packages/ng/core-select/user/users.directive.ts
Labels: :bookmark::bug: FIX

#2991 feat(popover2): handled popover2 resize after content changed
  packages/ng/popover2/content/popover-content/popover-content.component.html
  packages/ng/popover2/content/popover-content/popover-content.component.ts
  packages/ng/popover2/popover.directive.ts
Labels: 👥 Front, :bookmark::sparkles: Feature

#3002 fix(icons): config path
  packages/icons/src/commons/core.scss
Labels: :bookmark::bug: FIX

#3006 [Menu] Fix mod-header with legacy
  packages/scss/src/components/menu/component.scss
  stories/qa/menu/menu.stories.html
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3005 fix(dialog): content is `null` when using `[luDialogConfig]` in a template-driven approach
  packages/ng/dialog/directives/dialog-open.directive.ts
Labels: :bookmark::bug: FIX

#3007 fix(story): dialog story not opening with focus set to first-input
  stories/documentation/overlays/dialog/dialog.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#3008 [18.1.4] Update RC
  packages/icons/src/commons/core.scss
  packages/ng/button/button.component.ts
  packages/ng/callout/callout-disclosure/callout-disclosure.component.html
  packages/ng/callout/callout-disclosure/callout-disclosure.component.ts
  packages/ng/callout/callout-feedback-list/callout-feedback-list.component.ts
  packages/ng/callout/callout-popover/callout-popover.component.html
  packages/ng/callout/callout-popover/callout-popover.component.ts
  packages/ng/callout/callout/callout.component.html
  packages/ng/callout/callout/callout.component.ts
  packages/ng/dialog/directives/dialog-open.directive.ts
  packages/ng/empty-state/empty-state-section/empty-state-section.component.html
  packages/ng/empty-state/empty-state-section/empty-state-section.component.ts
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
  packages/ng/forms/radio-group-input/radio/radio.component.ts
  packages/ng/icon/icon.component.html
  packages/ng/icon/icon.component.ts
  packages/ng/inline-message/inline-message.component.ts
  packages/ng/numeric-badge/numeric-badge.component.ts
  packages/ng/tag/tag.component.html
  packages/ng/tag/tag.component.ts
  packages/scss/src/commons/core.scss
  packages/scss/src/components/menu/component.scss
  packages/scss/src/components/numericBadge/component.scss
  stories/documentation/actions/button/angular/button-basic.stories.ts
  stories/documentation/actions/button/angular/button-counter.stories.ts
  stories/documentation/actions/button/angular/button-icon.stories.ts
  stories/documentation/feedback/callout-disclosure/angular/callout-disclosure.stories.ts
  stories/documentation/feedback/callout-popover/angular/callout-popover.stories.ts
  stories/documentation/feedback/callout/angular/callout-basic.stories.ts
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
  stories/documentation/forms/fields/form-field.stories.ts
  stories/documentation/forms/fields/multi-select/angular/multi-select.stories.ts
  stories/documentation/forms/fields/number/angular/numberfield.stories.ts
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
  stories/documentation/forms/fields/simple-select/angular/simple-select.stories.ts
  stories/documentation/forms/fields/switch/angular/switchfield.stories.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
  stories/documentation/forms/inline-message/angular/inline-message-basic.stories.ts
  stories/documentation/forms/time/duration-picker-angular.stories.ts
  stories/documentation/forms/time/time-picker-angular.stories.ts
  stories/documentation/integration/utilities/display.stories.ts
  stories/documentation/integration/utilities/print.stories.ts
  stories/documentation/texts/icons/Angular/icon-angular.stories.ts
  stories/documentation/texts/numeric-badge/angular/numeric-badge.stories.ts
  stories/documentation/texts/tags/angular/tag.stories.ts
  stories/qa/menu/menu.stories.html
Labels: :bookmark::sparkles: Feature, :hammer: Technical, :bookmark::bug: FIX, :book: Documentation changes

#3012 [Page header] Component padding
  packages/scss/src/components/pageHeader/component.scss
  packages/scss/src/components/pageHeader/vars.scss
Labels: :bookmark::bug: FIX

#2901 feat(dialog-routing): Open dialog through routes
  packages/ng/dialog/dialog-routing/dialog-routing.component.ts
  packages/ng/dialog/dialog-routing/dialog-routing.models.ts
  packages/ng/dialog/dialog-routing/dialog-routing.utils.spec.ts
  packages/ng/dialog/dialog-routing/dialog-routing.utils.ts
  packages/ng/dialog/dialog-routing/index.ts
  packages/ng/dialog/public-api.ts
  stories/documentation/overlays/dialog/dialog-routing.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3016 [Comment] Fix gap + S size
  packages/scss/src/components/comment/component.scss
  packages/scss/src/components/comment/mods.scss
  packages/scss/src/components/comment/vars.scss
Labels: :bookmark::bug: FIX

#3011 fix: add default valeur for max input #3009
  packages/ng/time/time-picker/time-picker.component.ts
Labels: :bookmark::bug: FIX

#3021 [Popover2] Fix focustrap
  packages/ng/popover2/content/popover-content/popover-content.component.ts
  packages/ng/popover2/popover.directive.ts
Labels: :bookmark::bug: FIX

#2890 i18n-text-input
  docs/dialog.md
  packages/ng/forms/multilanguage-input/model/multilanguage-translation.ts
  packages/ng/forms/multilanguage-input/multilanguage-input.component.html
  packages/ng/forms/multilanguage-input/multilanguage-input.component.scss
  packages/ng/forms/multilanguage-input/multilanguage-input.component.ts
  packages/ng/forms/multilanguage-input/multilanguage-input.translate.ts
  packages/ng/forms/multilanguage-input/translations.ts
  packages/ng/forms/multilanguage-input/validators.ts
  packages/ng/forms/public-api.ts
  packages/ng/forms/text-input/text-input.component.html
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/popover/component.scss
  packages/scss/src/components/textField/component.scss
  packages/scss/src/components/textField/mods.scss
  packages/scss/src/components/textField/vars.scss
  stories/documentation/forms/fields/multilanguage/angular/multilanguagefield.stories.ts
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
  stories/documentation/overlays/dialog/dialog-routing.stories.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
  stories/qa/dialog/dialog.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3018 [Divider] Fix margins & icon color
  packages/scss/src/components/divider/component.scss
  packages/scss/src/components/divider/vars.scss
Labels: :bookmark::bug: FIX

#2858 indexTable sortable
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/components/box/index.scss
  packages/scss/src/components/breadcrumbs/index.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTableSorted/component.scss
  packages/scss/src/components/indexTableSorted/index.scss
  packages/scss/src/components/indexTableSorted/mods.scss
  packages/scss/src/components/indexTableSorted/states.scss
  packages/scss/src/components/indexTableSorted/vars.scss
  packages/scss/src/components/list/index.scss
  packages/scss/src/components/table/index.scss
  packages/scss/src/components/tableSortable/component.scss
  packages/scss/src/components/tableSortable/exports.scss
  packages/scss/src/components/tableSortable/index.scss
  packages/scss/src/components/tableSortable/mods.scss
  packages/scss/src/components/tableSortable/states.scss
  packages/scss/src/components/tableSortable/vars.scss
  packages/scss/src/components/tableSorted/component.scss
  packages/scss/src/components/tableSorted/exports.scss
  packages/scss/src/components/tableSorted/index.scss
  packages/scss/src/components/tableSorted/vars.scss
  packages/scss/src/components/tag/index.scss
  stories/documentation/listings/index-table/index-table-sortable.stories.ts
  stories/documentation/listings/index-table/index-table-sorted.stories.ts
  stories/documentation/listings/table/table-sortable.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes, :skull: Deprecate

#3025 [Callout] Add action story
  stories/documentation/feedback/callout/html&css/callout-actions.stories.ts
  stories/documentation/feedback/callout/html&css/callout-basic.stories.ts
  stories/documentation/feedback/callout/html&css/callout-icons.stories.ts
  stories/documentation/feedback/callout/html&css/callout-killable.stories.ts
  stories/documentation/feedback/callout/html&css/callout-title.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2940 [User tile] Move NG style in CSS package
  packages/ng/styles/_definitions.scss
  packages/ng/styles/definitions/user/user-tile.scss
  packages/ng/user/tile/user-tile.component.html
  packages/ng/user/tile/user-tile.component.scss
  packages/ng/user/tile/user-tile.component.ts
  packages/scss/src/components/index.scss
  packages/scss/src/components/userTile/component.scss
  packages/scss/src/components/userTile/exports.scss
  packages/scss/src/components/userTile/index.scss
  packages/scss/src/components/userTile/mods.scss
  packages/scss/src/components/userTile/states.scss
  packages/scss/src/components/userTile/vars.scss
  stories/documentation/users/tile/angular/user-tile-format.stories.html
  stories/documentation/users/tile/angular/user-tile-format.stories.ts
  stories/documentation/users/tile/angular/user-tile.stories.html
  stories/documentation/users/tile/angular/user-tile.stories.ts
  stories/documentation/users/tile/html&css/basic.stories.ts
  stories/documentation/users/tile/html&css/sizes.stories.ts
  stories/qa/user-tile/user-tile.stories.html
  stories/qa/user-tile/user-tile.stories.scss
  stories/qa/user-tile/user-tile.stories.ts
Labels: :hammer: Technical, :book: Documentation changes, :skull: Deprecate

#3015 [Avatar] Move style in SCSS
  packages/ng/popup-employee/card/panel/user-popover-panel.component.html
  packages/ng/popup-employee/card/panel/user-popover-panel.component.scss
  packages/ng/styles/_definitions.scss
  packages/ng/styles/definitions/user/user-picture.scss
  packages/ng/user/picture/user-picture.component.html
  packages/ng/user/picture/user-picture.component.scss
  packages/ng/user/picture/user-picture.component.ts
  packages/scss/src/components/avatar/component.scss
  packages/scss/src/components/avatar/index.scss
  packages/scss/src/components/avatar/mods.scss
  packages/scss/src/components/avatar/vars.scss
  packages/scss/src/components/userPopover/component.scss
  packages/scss/src/components/userTile/component.scss
  packages/scss/src/components/userTile/index.scss
  packages/scss/src/components/userTile/mods.scss
  packages/scss/src/components/userTile/vars.scss
  stories/documentation/users/avatars/basic.stories.ts
  stories/documentation/users/avatars/group.stories.ts
  stories/documentation/users/popover/html&css/popover.stories.ts
  stories/documentation/users/tile/html&css/basic.stories.ts
  stories/qa/avatar/avatar.stories.html
  stories/qa/avatar/avatar.stories.scss
  stories/qa/avatar/avatar.stories.ts
Labels: :hammer: Technical, :book: Documentation changes, :skull: Deprecate

#3023 fix(lu-form-field): aria-labelledby sometimes filling with label id again and again
  packages/ng/form-field/form-field.component.ts
Labels: :bookmark::bug: FIX

#3027 [Popover2] Add option to remove keyboard close button
  packages/ng/forms/multilanguage-input/multilanguage-input.component.html
  packages/ng/popover2/content/popover-content/popover-content.component.html
  packages/ng/popover2/content/popover-content/popover-content.component.ts
  packages/ng/popover2/popover-tokens.ts
  packages/ng/popover2/popover.directive.ts
  stories/documentation/overlays/popover2/popover2.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3026 [DurationPicker] Fix legend
  stories/documentation/forms/time/duration-picker-angular.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2935 Replace absolute position with grid
  packages/scss/src/components/checkboxField/component.scss
  packages/scss/src/components/radioField/component.scss
Labels: :bookmark::sparkles: Feature

#2950 ref(core-select)!: optionKey is mandatory on ApiDirectives
  packages/ng/core-select/api/api.directive.spec.ts
  packages/ng/core-select/api/api.directive.ts
Labels: 💥 Breaking change, :hammer: Technical, :book: Documentation changes

#3022 feat(forms): new phone number input component
  package-lock.json
  package.json
  packages/ng/forms/phone-number-input/formatter.ts
  packages/ng/forms/phone-number-input/ng-package.json
  packages/ng/forms/phone-number-input/phone-number-format.pipe.ts
  packages/ng/forms/phone-number-input/phone-number-input.component.html
  packages/ng/forms/phone-number-input/phone-number-input.component.scss
  packages/ng/forms/phone-number-input/phone-number-input.component.ts
  packages/ng/forms/phone-number-input/public-api.ts
  packages/ng/forms/phone-number-input/types.ts
  packages/ng/forms/phone-number-input/validators.ts
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/forms/text-input/text-input.component.ts
  packages/ng/styles/definitions/option/_option-item.scss
  packages/ng/time/core/base-picker.component.ts
  packages/scss/src/components/simpleSelect/states.scss
  stories/documentation/forms/fields/phone-number-input/angular/phone-number-input.stories.ts
Labels: 👥 Front, :bookmark::sparkles: Feature, 🔴 P1, :book: Documentation changes, :triangular_ruler: Angular wrapper

#3028 Fix indexTable, checkbox-radio, tableSortable
  packages/scss/src/components/checkboxField/component.scss
  packages/scss/src/components/file/component.scss
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/tableSortable/component.scss
  packages/scss/src/components/tableSortable/index.scss
  packages/scss/src/components/tableSortable/mods.scss
  stories/documentation/listings/index-table/index-table-basic.stories.ts
  stories/documentation/listings/index-table/index-table-sortable.stories.ts
  stories/documentation/listings/table/table-sortable.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3032 [tableSortable] Fix + alignCenter + alignRight
  packages/scss/src/components/tableSortable/index.scss
  packages/scss/src/components/tableSortable/mods.scss
  packages/scss/src/components/tableSortable/states.scss
  stories/documentation/listings/index-table/index-table-sortable.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3031 [Emptystate] Fix page mod content padding
  packages/scss/src/components/emptyState/component.scss
  packages/scss/src/components/emptyState/mods.scss
Labels: :bookmark::bug: FIX

#3036 [viewTabs] Removing mod-vertical
  stories/documentation/navigation/viewTabs/viewTabs-basic.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3038 fix(schematics): support nx migration logic
  packages/ng/schematics/action-icon/index.ts
  packages/ng/schematics/empty-state-title/index.ts
  packages/ng/schematics/new-icons/index.ts
  packages/ng/schematics/palettes/index.ts
  packages/ng/schematics/tokens-spacing/index.ts
Labels: :bookmark::bug: FIX

#3039 [Avatars] HTML stories + fix
  packages/scss/src/components/avatar/mods.scss
  stories/documentation/users/avatars/angular/basic.stories.ts
  stories/documentation/users/avatars/angular/group.stories.ts
  stories/documentation/users/avatars/html&css/basic.stories.ts
  stories/documentation/users/avatars/html&css/display.stories.ts
  stories/documentation/users/avatars/html&css/group/basic.stories.ts
  stories/documentation/users/avatars/html&css/group/clickable.stories.ts
  stories/documentation/users/avatars/html&css/group/more.stories.ts
  stories/documentation/users/avatars/html&css/sizes.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3037 ci: strip "v" from env.BRANCH_NAME if it's a release or pre-release
  Jenkinsfile
Labels: :hammer: Technical

#3040 [18.2] Update stories documentation
  stories/documentation/feedback/empty-state/angular/empty-state-page.stories.ts
  stories/documentation/feedback/plg-push/angular/plg-push-basic.stories.ts
  stories/documentation/forms/fields/number-format/angular/numberFormatfield.stories.ts
  stories/documentation/forms/fields/phone-number-input/angular/phone-number-input.stories.ts
  stories/documentation/forms/inline-message/angular/inline-message-basic.stories.ts
  stories/documentation/forms/time/time-picker-angular.stories.ts
  stories/documentation/listings/index-table/index-table-sortable.stories.ts
  stories/documentation/listings/table/table-sortable.stories.ts
  stories/documentation/navigation/viewTabs/viewTabs-basic.stories.ts
  stories/documentation/overlays/popover2/popover2.stories.ts
  stories/documentation/overlays/tooltip/tooltip.stories.ts
  stories/documentation/structure/divider/divider-basic.stories.ts
  stories/documentation/users/avatars/html&css/basic.stories.ts
  stories/documentation/users/avatars/html&css/display.stories.ts
  stories/documentation/users/avatars/html&css/group/basic.stories.ts
  stories/documentation/users/avatars/html&css/group/clickable.stories.ts
  stories/documentation/users/avatars/html&css/group/more.stories.ts
  stories/documentation/users/avatars/html&css/sizes.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#3041 [18.2] Master 2 RC
  packages/ng/schematics/action-icon/index.ts
  packages/ng/schematics/empty-state-title/index.ts
  packages/ng/schematics/new-icons/index.ts
  packages/ng/schematics/palettes/index.ts
  packages/ng/schematics/tokens-spacing/index.ts
  packages/scss/src/components/avatar/mods.scss
  packages/scss/src/components/emptyState/component.scss
  packages/scss/src/components/emptyState/mods.scss
  packages/scss/src/components/tableSortable/index.scss
  packages/scss/src/components/tableSortable/mods.scss
  packages/scss/src/components/tableSortable/states.scss
  stories/documentation/feedback/empty-state/angular/empty-state-page.stories.ts
  stories/documentation/feedback/plg-push/angular/plg-push-basic.stories.ts
  stories/documentation/forms/fields/number-format/angular/numberFormatfield.stories.ts
  stories/documentation/forms/fields/phone-number-input/angular/phone-number-input.stories.ts
  stories/documentation/forms/inline-message/angular/inline-message-basic.stories.ts
  stories/documentation/forms/time/time-picker-angular.stories.ts
  stories/documentation/listings/index-table/index-table-sortable.stories.ts
  stories/documentation/listings/table/table-sortable.stories.ts
  stories/documentation/navigation/viewTabs/viewTabs-basic.stories.ts
  stories/documentation/overlays/popover2/popover2.stories.ts
  stories/documentation/overlays/tooltip/tooltip.stories.ts
  stories/documentation/structure/divider/divider-basic.stories.ts
  stories/documentation/users/avatars/angular/basic.stories.ts
  stories/documentation/users/avatars/angular/group.stories.ts
  stories/documentation/users/avatars/html&css/basic.stories.ts
  stories/documentation/users/avatars/html&css/display.stories.ts
  stories/documentation/users/avatars/html&css/group/basic.stories.ts
  stories/documentation/users/avatars/html&css/group/clickable.stories.ts
  stories/documentation/users/avatars/html&css/group/more.stories.ts
  stories/documentation/users/avatars/html&css/sizes.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#3048 chore(deps): use GitHub for NuGet packages
  Jenkinsfile
  e2e/NuGet.Config
Labels: :hammer: Technical, :see_no_evil: No log
