Repository LuccaSA/lucca-front, pull requests merged in 2024-02, with the labels that each got.

#2542 Button dependencies
  packages/scss/src/components/calloutFeedbackList/component.scss
  packages/scss/src/components/calloutFeedbackList/index.scss
  packages/scss/src/components/calloutFeedbackList/mods.scss
  packages/scss/src/components/divider/index.scss
  packages/scss/src/components/divider/mods.scss
  stories/documentation/structure/divider/divider-basic.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2545 [ActionIcon] Replace components & documentation references by button
  packages/ng/date/calendar/calendar-input.component.html
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/modal/modal-panel.component.html
  packages/scss/src/components/calloutFeedbackList/component.scss
  packages/scss/src/components/calloutFeedbackList/index.scss
  packages/scss/src/components/calloutFeedbackList/mods.scss
  packages/scss/src/components/divider/component.scss
  packages/scss/src/components/divider/index.scss
  packages/scss/src/components/divider/mods.scss
  packages/scss/src/components/divider/vars.scss
  stories/documentation/listings/table/table-actions.stories.ts
  stories/documentation/navigation/pagination/pagination-basic.stories.ts
  stories/documentation/navigation/pagination/pagination-compact.stories.ts
  stories/documentation/navigation/pagination/pagination-pages.stories.ts
  stories/documentation/navigation/skip-links/skip-links-basic.stories.ts
  stories/documentation/structure/box/box-killable.stories.ts
  stories/documentation/structure/cards/cards-action.stories.ts
  stories/documentation/structure/divider/divider-basic.stories.ts
  stories/documentation/structure/mobile-header/mobile-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-breadcrumb.stories.ts
  stories/documentation/structure/page-header/page-header-menu.stories.ts
  stories/qa/box/box.stories.html
  stories/qa/card/card.stories.html
  stories/qa/divider/divider.stories.html
  stories/qa/icon/icon.stories.html
  stories/qa/mobile-header/mobile-header.stories.html
  stories/qa/page-header/page-header.stories.html
  stories/qa/pagination/pagination.stories.html
  stories/qa/table/table.stories.html
Labels: :hammer: Technical, :book: Documentation changes

#2543 Wrapped components fix default display
  packages/ng/callout/callout-disclosure/callout-disclosure.component.scss
  packages/ng/callout/callout-popover/callout-popover.component.scss
  packages/ng/callout/callout/callout.component.scss
  packages/ng/icon/icon.component.scss
Labels: :bookmark::bug: FIX

#2550 [Callouts] Fix icons alignement with S size
  packages/ng/icon/icon.component.scss
  stories/documentation/feedback/callout-popover/html&css/basic.stories.ts
  stories/documentation/feedback/callout-popover/html&css/size.stories.ts
  stories/qa/callout/callout.stories.html
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2548 Clean states for buttons
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/button/index.scss
  packages/scss/src/components/button/mods.scss
  packages/scss/src/components/button/states.scss
  packages/scss/src/components/divider/index.scss
Labels: :bookmark::bug: FIX

#2551 [Documentation] Improve stories
  stories/documentation/feedback/callout-disclosure/angular/callout-disclosure.stories.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/integration/utilities/borders-radius.stories.ts
  stories/documentation/integration/utilities/borders.stories.ts
  stories/documentation/integration/utilities/comma.stories.ts
  stories/documentation/integration/utilities/ellipsis.stories.ts
  stories/documentation/integration/utilities/float.stories.ts
  stories/documentation/integration/utilities/help.stories.ts
  stories/documentation/integration/utilities/reset.stories.ts
  stories/documentation/integration/utilities/shadows.stories.ts
  stories/documentation/integration/utilities/spin.stories.ts
  stories/documentation/integration/utilities/text-color.stories.ts
  stories/documentation/integration/utilities/text-size.stories.ts
  stories/documentation/integration/utilities/text-style.stories.ts
  stories/documentation/integration/utilities/units.stories.ts
  stories/documentation/integration/utilities/vertical-align.stories.ts
  stories/documentation/structure/grids/grids-auto-responsive.stories.ts
  stories/documentation/texts/status-badge/status-badge-basic.stories.ts
  stories/documentation/users/picture/picture.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2549 [Titles & Texts] Add missing styles
  stories/documentation/texts/text/text.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2536 fix(commons): delete wrong parentheses usage in condition
  packages/scss/src/commons/utils/reset.scss
Labels: :bookmark::bug: FIX

#2525 Link icon with no wrap before icon
  packages/scss/src/components/callout/component.scss
  packages/scss/src/components/link/mods.scss
  stories/documentation/actions/links/link-basic.stories.ts
  stories/documentation/actions/links/link-disabled.stories.ts
  stories/documentation/actions/links/link-external.stories.ts
  stories/documentation/actions/links/link-hover.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2508 [2506] LuNumericBadge : Support string type
  packages/ng/numeric-badge/numeric-badge.component.ts
  stories/documentation/texts/numeric-badge/angular/numeric-badge.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2507 Remove section in header
  stories/documentation/structure/page-header/page-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-breadcrumb.stories.ts
  stories/documentation/structure/page-header/page-header-menu.stories.ts
  stories/qa/page-header/page-header.stories.html
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2553 [Departement] Fix checkbox & sort icon position
  packages/ng/option/item/tree-option-item.component.scss
Labels: :bookmark::bug: FIX

#2540 [Table] States colors & checkbox alignement fixes
  packages/scss/src/components/checkbox/mods.scss
  packages/scss/src/components/table/index.scss
  packages/scss/src/components/table/mods.scss
  packages/scss/src/components/table/vars.scss
  stories/documentation/listings/table/table-selectable.stories.ts
  stories/qa/table/table.stories.html
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2547 Select fixes and refacto
  packages/ng/core-select/api/api-v3.directive.spec.ts
  packages/ng/core-select/api/api-v3.directive.ts
  packages/ng/core-select/api/api-v4.directive.ts
  packages/ng/core-select/api/api.directive.spec.ts
  packages/ng/core-select/api/api.directive.ts
  packages/ng/core-select/api/ng-package.json
  packages/ng/core-select/api/public-api.ts
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/core-select/option/option.component.ts
  packages/ng/multi-select/displayer/default-displayer.component.ts
  packages/ng/multi-select/input/panel-ref.factory.ts
  packages/ng/multi-select/input/select-input.component.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/multi-select/select.model.ts
  packages/ng/simple-select/api/api-v3.directive.ts
  packages/ng/simple-select/api/api-v4.directive.ts
  packages/ng/simple-select/api/api.directive.ts
  packages/ng/simple-select/input/panel-ref.factory.ts
  packages/ng/simple-select/input/select-input.component.ts
  packages/ng/simple-select/panel/option-selected.pipe.ts
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.ts
  packages/ng/simple-select/select.model.ts
  packages/ng/styles/definitions/option/_option-item.scss
  setup-jest.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
  stories/helpers/common-arg-types.ts
  stories/helpers/stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes, 🦕 Deprecate

#2556 fix(establishment): LuEstablishmentService is now overridable
  packages/ng/establishment/select/establishment-select.token.ts
  packages/ng/establishment/select/input/establishment-select-input.component.ts
  packages/ng/establishment/select/legal-unit-selector/legal-unit-selector.directive.ts
  packages/ng/establishment/select/searcher/establishment-searcher.component.ts
  packages/ng/establishment/select/select-all/establishment-select-all.component.ts
Labels: :bookmark::bug: FIX

#2559 Fix checkbox border
  packages/scss/src/components/checkbox/component.scss
  packages/scss/src/components/checkbox/states.scss
Labels: :bookmark::bug: FIX

#2531 Avatars
  packages/scss/src/components/avatar/component.scss
  packages/scss/src/components/avatar/exports.scss
  packages/scss/src/components/avatar/index.scss
  packages/scss/src/components/avatar/mods.scss
  packages/scss/src/components/avatar/states.scss
  packages/scss/src/components/avatar/vars.scss
  packages/scss/src/components/clear/component.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/inlineMessage/mods.scss
  packages/scss/src/components/link/mods.scss
  stories/documentation/users/avatars/avatars.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2564 Fix gap for legacy mandatory checkbox
  packages/scss/src/components/checkbox/component.scss
Labels: :bookmark::bug: FIX

#2514 enh(button): dynamically add mod-onlyIcon & withIcon classes
  packages/ng/button/button.component.ts
  stories/documentation/actions/button/angular/button-icon.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2570 Fix chevron for simple Select
  packages/scss/src/components/simpleSelect/component.scss
Labels: :bookmark::bug: FIX

#2557 refactor(dialog): new LuDialogService approach for dialog boxes
  .storybook/styles.scss
  packages/ng/button/button.component.ts
  packages/ng/dialog/dialog-content/dialog-content.component.ts
  packages/ng/dialog/dialog-footer/dialog-footer.component.scss
  packages/ng/dialog/dialog-footer/dialog-footer.component.ts
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/dialog/dialog-header/dialog-header.component.scss
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog-header/dialog-header.translate.ts
  packages/ng/dialog/dialog.provider.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/dialog/dialog.component.ts
  packages/ng/dialog/directives/dialog-close.directive.ts
  packages/ng/dialog/directives/dialog-dismiss.directive.ts
  packages/ng/dialog/directives/dialog-open.directive.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/dialog/model/index.ts
  packages/ng/dialog/model/injectors.ts
  packages/ng/dialog/ng-package.json
  packages/ng/dialog/public-api.ts
  packages/ng/form-field/input.directive.ts
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/exports.scss
  packages/scss/src/components/dialog/index.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/dialog/states.scss
  packages/scss/src/components/dialog/vars.scss
  packages/scss/src/components/footer/component.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/keyframe/mods.scss
  stories/documentation/actions/button/angular/button-icon.stories.ts
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
  stories/documentation/overlays/dialog/dialog-drawerFromBottom.stories.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Labels: 👥 Front, :bookmark::sparkles: Feature, :book: Documentation changes

#2571 [Titles] Reduce H2 padding
  packages/scss/src/commons/config.scss
Labels: :bookmark::bug: FIX

#2573 grey -> neutral
  packages/scss/src/components/dialog/component.scss
Labels: :bookmark::bug: FIX

#2461 [Token] Elevation (surface + shadow)
  packages/ng/date/calendar/calendar-input.component.scss
  packages/ng/empty-state/empty-state-page/empty-state-page.component.ts
  packages/ng/empty-state/empty-state-section/empty-state-section.component.html
  packages/ng/styles/components/_dropdown.scss
  packages/ng/styles/components/_picker.scss
  packages/ng/styles/components/_popover.scss
  packages/ng/styles/components/_popup.scss
  packages/ng/styles/components/cdk/_overlay.scss
  packages/scss/src/commons/base.scss
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/vars.scss
  packages/scss/src/components/actionIcon/mods.scss
  packages/scss/src/components/avatar/vars.scss
  packages/scss/src/components/box/component.scss
  packages/scss/src/components/box/mods.scss
  packages/scss/src/components/box/vars.scss
  packages/scss/src/components/button/mods.scss
  packages/scss/src/components/card/mods.scss
  packages/scss/src/components/card/vars.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/emptyState/vars.scss
  packages/scss/src/components/errorPage/vars.scss
  packages/scss/src/components/file/states.scss
  packages/scss/src/components/filters/vars.scss
  packages/scss/src/components/footer/component.scss
  packages/scss/src/components/header/component.scss
  packages/scss/src/components/header/vars.scss
  packages/scss/src/components/layout/component.scss
  packages/scss/src/components/layout/states.scss
  packages/scss/src/components/list/component.scss
  packages/scss/src/components/mobileHeader/component.scss
  packages/scss/src/components/mobileNavigation/component.scss
  packages/scss/src/components/mobileNavigation/index.scss
  packages/scss/src/components/mobileNavigation/mods.scss
  packages/scss/src/components/notchBox/vars.scss
  packages/scss/src/components/pageHeader/mods.scss
  packages/scss/src/components/section/component.scss
  packages/scss/src/components/section/mods.scss
  packages/scss/src/components/sortableList/component.scss
  packages/scss/src/components/switch/component.scss
  packages/scss/src/components/switchField/component.scss
  packages/scss/src/components/table/component.scss
  packages/scss/src/components/tableSticked/mods.scss
  packages/scss/src/components/textfields/component.scss
  packages/scss/src/components/timepicker/component.scss
  packages/scss/src/components/verticalNavigation/component.scss
  packages/scss/src/components/verticalNavigation/vars.scss
  stories/documentation/feedback/empty-state/angular/empty-state-page.stories.ts
  stories/documentation/feedback/empty-state/html&css/empty-state-page.stories.html
  stories/documentation/feedback/empty-state/html&css/empty-state-section-center.stories.html
  stories/documentation/feedback/empty-state/html&css/empty-state-section-palette.stories.html
  stories/documentation/feedback/empty-state/html&css/empty-state-section.stories.html
  stories/qa/empty-state/empty-state-page.stories.html
  stories/qa/empty-state/empty-state-section.stories.html
  stories/qa/tokens/tokens.stories.html
  stories/qa/tokens/tokens.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes, 🎨 Design sync

#2574 SimpleSelect/Multiselect – Add imports for clear and utilities
  packages/ng/multi-select/input/select-input.component.scss
  packages/ng/simple-select/input/select-input.component.scss
Labels: :bookmark::bug: FIX

#2575 Fix checkbox margin
  packages/scss/src/components/checkbox/component.scss
Labels: :bookmark::bug: FIX

#2583 text-wrap: balance -> pretty
  packages/scss/src/components/title/component.scss
Labels: :bookmark::bug: FIX

#2582 [User Select / Qualification][Deprecated] Fix options gap
  packages/ng/qualification/select/input/qualification-select-input.component.html
  stories/documentation/users/select/user-homonyms.stories.html
  stories/documentation/users/select/user-homonyms.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2580 chore(form-field): stories improvement and change detection fixes
  packages/ng/form-field/form-field.component.scss
  packages/ng/form-field/form-field.component.ts
  packages/ng/forms/checkbox-input/checkbox-input.component.ts
  packages/ng/forms/switch-input/switch-input.component.ts
  packages/ng/forms/text-input/text-input.component.scss
  packages/ng/forms/text-input/text-input.component.ts
  stories/documentation/forms/fields/form-field.stories.ts
Labels: 👥 Front, :bookmark::bug: FIX, :book: Documentation changes

#2568 feat(select): add directives for user/establishment/job-qualification selection
  .storybook/msw/handlers.ts
  .storybook/msw/helpers.ts
  .storybook/msw/mocks.ts
  .vscode/settings.json
  README.md
  packages/ng/api/api.model.ts
  packages/ng/core-select/api/api-v4.directive.ts
  packages/ng/core-select/api/api.directive.ts
  packages/ng/core-select/establishment/establishment-grouping.component.ts
  packages/ng/core-select/establishment/establishment-grouping.service.ts
  packages/ng/core-select/establishment/establishments.directive.ts
  packages/ng/core-select/establishment/models.ts
  packages/ng/core-select/establishment/ng-package.json
  packages/ng/core-select/establishment/public-api.ts
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/core-select/job-qualification/job-qualification-grouping.component.ts
  packages/ng/core-select/job-qualification/job-qualifications.directive.ts
  packages/ng/core-select/job-qualification/models.ts
  packages/ng/core-select/job-qualification/ng-package.json
  packages/ng/core-select/job-qualification/public-api.ts
  packages/ng/core-select/option/group.directive.ts
  packages/ng/core-select/user/me.provider.ts
  packages/ng/core-select/user/ng-package.json
  packages/ng/core-select/user/public-api.ts
  packages/ng/core-select/user/user-displayer.component.ts
  packages/ng/core-select/user/user-homonym.service.ts
  packages/ng/core-select/user/user-option.component.ts
  packages/ng/core-select/user/user-option.model.ts
  packages/ng/core-select/user/user.translate.ts
  packages/ng/core-select/user/users.directive.ts
  packages/ng/core/portal/portal-content.ts
  packages/ng/core/portal/portal.directive.ts
  packages/ng/multi-select/panel/not-selected.pipe.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/multi-select/select.translate.ts
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.ts
  packages/ng/styles/components/_picker.scss
  stories/documentation/forms/select/custom-establishment-example.component.ts
  stories/documentation/forms/select/custom-user-example.component.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#2585 fix(select): strange option selection when clue change
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/multi-select/panel/panel.component.ts
Labels: :bookmark::bug: FIX

#2586 feat(dialog): stories improvements and LuModal mapping
  angular.json
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/dialog/model/index.ts
  packages/ng/dialog/model/injectors.ts
  packages/ng/dialog/public-api.ts
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.html
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.ts
  packages/ng/modal/dialog-adapter/dialog-ref-adapter.ts
  packages/ng/modal/modal.module.ts
  packages/ng/modal/modal.service.spec.ts
  packages/ng/modal/modal.service.ts
  packages/scss/src/components/dialog/component.scss
  stories/documentation/overlays/dialog/dialog.stories.ts
  stories/documentation/overlays/modal/modal.stories.ts
Labels: 👥 Front, :bookmark::sparkles: Feature, :book: Documentation changes

#2592 [Secondary navigation] Minor spacings fixes
  packages/scss/src/components/navside/component.scss
Labels: :bookmark::bug: FIX

#2594 chore(rc): style and template-driven fixes
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/directives/dialog-open.directive.ts
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#2597 [Dialog] Fix zindex header
  packages/scss/src/components/dialog/component.scss
Labels: :bookmark::bug: FIX

#2598 [Navside] fix icon size
  packages/scss/src/components/navside/component.scss
Labels: :bookmark::bug: FIX

#2610 17.3 documentation & stories improvements
  stories/documentation/actions/button/angular/button-icon.stories.ts
  stories/documentation/actions/links/link-basic.stories.ts
  stories/documentation/forms/fields/form-field.stories.ts
  stories/documentation/texts/clear/clear.stories.ts
  stories/documentation/texts/numeric-badge/angular/numeric-badge.stories.ts
  stories/documentation/texts/tags/basic.stories.ts
  stories/documentation/texts/tags/clickable.stories.ts
  stories/documentation/texts/tags/outlined.stories.ts
  stories/documentation/texts/tags/palettes.stories.ts
  stories/documentation/texts/tags/sizes.stories.ts
  stories/documentation/texts/tags/tags.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#2609 fix(lu-modal-adapter): connect size and mode config with LuModal
  packages/ng/dialog/dialog-header/dialog-header.translate.ts
  packages/ng/modal/modal.service.ts
  packages/ng/modal/modal.translate.ts
  stories/documentation/overlays/modal/modal.stories.ts
Labels: 👥 Front, :bookmark::bug: FIX, :book: Documentation changes

#2608 Add neutral 400 for rgb colors
  packages/scss/src/commons/config.scss
Labels: :bookmark::bug: FIX

#2607 Transparent background for outlined tags
  packages/scss/src/components/tag/mods.scss
Labels: :bookmark::bug: FIX

#2613 Add animation for submenus
  packages/scss/src/components/navside/component.scss
  stories/documentation/navigation/menu-secondary/menu-secondary-basic.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes
