Repository LuccaSA/lucca-front, pull requests merged in 2025-08, with the labels that each got.

#3799 [Page header] Fixed inverted mobile condition
  packages/scss/src/components/pageHeader/mods.scss
Labels: :bookmark::bug: FIX

#3803 fix(front) : typo header -> headers
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-nested-sub-totals.stories.ts
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-nested.stories.ts
Labels: :book: Documentation changes

#3797 [Icons] Update deprecated names
  packages/ng/date2/date-input/date-input.component.html
  packages/ng/date2/date-range-input/date-range-input.component.html
  stories/documentation/listings/data-table/html&css/sort.stories.ts
  stories/documentation/listings/index-table/index-table-sortable.stories.ts
  stories/documentation/listings/table/table-sortable.stories.ts
  stories/qa/data-table/data-table.stories.html
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3800 chore(stylelint): Update deprecated versions, changed on last release
  packages/stylelint-config/LFDeprecatedProperties.mjs
  packages/stylelint-config/LFDeprecatedSelectors.mjs
Labels: :bookmark::bug: FIX

#3810 [callout] fix popover size with XS
  packages/ng/callout/callout-popover/callout-popover.component.ts
Labels: :bookmark::bug: FIX

#3762 fix(divider) mod vertical margins
  packages/scss/src/components/divider/component.scss
  packages/scss/src/components/divider/mods.scss
  packages/scss/src/components/divider/vars.scss
Labels: 👥 UI, :bookmark::bug: FIX, 🟢 P3

#3754 [dialog] add a slot for action
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/vars.scss
  stories/documentation/overlays/dialog/dialog.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3790 FEAT checklist modifier for checkbox component
  packages/ng/forms/checkbox-input/checkbox-input.component.ts
  packages/scss/src/components/checkbox/component.scss
  packages/scss/src/components/checkboxField/component.scss
  packages/scss/src/components/checkboxField/index.scss
  packages/scss/src/components/checkboxField/mods.scss
  packages/scss/src/components/checkboxField/states.scss
  packages/scss/src/components/checkboxField/vars.scss
  packages/scss/src/components/radioField/states.scss
  packages/scss/src/components/switch/states.scss
  packages/scss/src/components/switchField/component.scss
  packages/scss/src/components/switchField/states.scss
  stories/documentation/forms/checkbox/checkbox-basic.stories.ts
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
  stories/documentation/forms/fields/checkbox/html&css/checkboxfield-checklist.stories.ts
  stories/documentation/overlays/popover2/popover2.stories.ts
  stories/qa/forms/checkbox.stories.html
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3811 [Icon] People folder
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/icons-list.ts
  packages/icons/index.d.ts
  packages/icons/selection.json
  packages/icons/src/commons/config.scss
Labels: :bookmark::sparkles: Feature

#3727 feat(rich-text): add tag plugin
  docs/rich-text-input.md
  package-lock.json
  package.json
  packages/ng/forms/rich-text-input/formatters/markdown/markdown-formatter.ts
  packages/ng/forms/rich-text-input/plugins/tag/index.ts
  packages/ng/forms/rich-text-input/plugins/tag/tag-node.ts
  packages/ng/forms/rich-text-input/plugins/tag/tag.component.html
  packages/ng/forms/rich-text-input/plugins/tag/tag.component.ts
  packages/ng/forms/rich-text-input/plugins/tag/tag.model.ts
  packages/ng/forms/rich-text-input/plugins/tag/tag.transformers.ts
  packages/ng/forms/rich-text-input/plugins/toolbar/toolbar.component.scss
  packages/ng/forms/rich-text-input/plugins/toolbar/toolbar.component.ts
  packages/ng/forms/rich-text-input/public-api.ts
  packages/ng/forms/rich-text-input/rich-text-input.component.html
  packages/ng/forms/rich-text-input/rich-text-input.component.ts
  packages/ng/forms/rich-text-input/rich-text-input.translate.ts
  packages/ng/forms/rich-text-input/translations.ts
  packages/ng/package.json
  packages/scss/src/components/richText/component.scss
  stories/documentation/forms/fields/rich-text/angular/rich-text-input.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3720 [a11y] audit feedbacks
  packages/ng/api/api.spec.ts
  packages/ng/date2/calendar2/calendar2.component.html
  packages/ng/department/department-select.spec.ts
  packages/ng/establishment/establishment-select.spec.ts
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/option/picker/option-picker-advanced.component.html
  packages/ng/option/picker/option-picker.component.html
  packages/ng/option/picker/tree-option-picker-advanced.component.html
  packages/ng/option/picker/tree-option-picker.component.html
  stories/documentation/forms/date2/basic-html.stories.ts
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
  stories/documentation/forms/fields/multi-select/angular/multi-select.stories.ts
  stories/documentation/forms/fields/number/angular/numberfield.stories.ts
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
  stories/documentation/forms/fields/simple-select/angular/simple-select.stories.ts
  stories/documentation/forms/fields/switch/angular/switchfield.stories.ts
  stories/documentation/forms/fields/text/html&css/textfield-prefix-suffix.stories.ts
  stories/documentation/forms/fields/textarea/angular/textareafield.stories.ts
  stories/documentation/forms/time/duration-picker-angular.stories.ts
  stories/documentation/forms/time/time-picker-angular.stories.ts
  stories/documentation/listings/data-table/html&css/basic.stories.ts
  stories/documentation/listings/data-table/html&css/editable.stories.ts
  stories/documentation/listings/index-table/index-table-actions-subAction.stories.ts
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/qa/data-table/data-table.stories.html
  stories/qa/forms/textfield.stories.html
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3824 [former user] update translation
  packages/ng/core-select/user/translations.ts
  packages/ng/user/select/searcher/translations.ts
Labels: :bookmark::bug: FIX

#3826 [User tile] Add size input
  packages/ng/user/tile/user-tile.component.ts
  stories/documentation/users/tile/angular/user-tile.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3830 [Empty states] Add visuals + fix icon spacing
  packages/scss/src/components/emptyState/component.scss
  stories/documentation/feedback/empty-state/angular/empty-state-page.stories.ts
Labels: :bookmark::sparkles: Feature, :bookmark::bug: FIX, :book: Documentation changes

#3835 Clean ref to v16/17 + add missing v20.2 info
  stories/documentation/actions/button/angular/button-basic.stories.ts
  stories/documentation/actions/button/angular/button-counter.stories.ts
  stories/documentation/actions/button/angular/button-icon.stories.ts
  stories/documentation/feedback/callout-disclosure/angular/callout-disclosure.stories.ts
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/forms/fields/textarea/angular/textareafield.stories.ts
  stories/documentation/texts/status-badge/angular/status-badge-angular.stories.ts
  stories/documentation/users/avatars/angular/basic.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#3852 fix(dialog): Fix dialog data check type
  packages/ng/dialog/dialog.service.ts
Labels: :bookmark::bug: FIX

#3856 docs(rich-text-input): update rich text custom toolbar documentation
  docs/rich-text-input.md
Labels: :book: Documentation changes
