Repository LuccaSA/lucca-front, pull requests merged in 2025-05, with the labels that each got.

#3614 [utils] scrollblock update
  packages/scss/src/commons/utils/overflow.scss
Labels: :bookmark::sparkles: Feature

#3613 fix(date-input): fix null exception in story
  stories/documentation/forms/date2/date-input.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3612 fix(3611): Show warning message when no `versionDeleted` is present…
  packages/stylelint-config/README.md
  packages/stylelint-config/stylelintForLF.mjs
Labels: :hammer: Technical, :bookmark::bug: FIX

#3562 [indexTable] stories
  packages/scss/src/commons/core.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/tableSticked/mods.scss
  stories/documentation/listings/index-table/index-table-actions-dropdown.stories.ts
  stories/documentation/listings/index-table/index-table-actions-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-actions-subAction.stories.ts
  stories/documentation/listings/index-table/index-table-actions-tooltipsCell.stories.ts
  stories/documentation/listings/index-table/index-table-actions-tooltipsRow.stories.ts
  stories/documentation/listings/index-table/index-table-actions-userPopover.stories.ts
  stories/documentation/listings/index-table/index-table-basic.stories.ts
  stories/documentation/listings/index-table/index-table-deprecated.stories.ts
  stories/documentation/listings/index-table/index-table-input.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3540 [forms] contrasted
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/vars.scss
Labels: :bookmark::sparkles: Feature

#3615 [Breadcrumbs] Deprecate compact mode
  packages/scss/src/components/breadcrumbs/index.scss
  stories/documentation/navigation/breadcrumbs/angular/breadcrumbs-basic.stories.ts
  stories/qa/breadcrumb/breadcrumb.stories.html
  stories/qa/breadcrumb/breadcrumb.stories.ts
Labels: :hammer: Technical, :book: Documentation changes, :skull: Deprecate

#3624 [User Tile] Fix gap for S / XS sizes
  packages/scss/src/components/userTile/component.scss
  packages/scss/src/components/userTile/mods.scss
  packages/scss/src/components/userTile/vars.scss
Labels: :bookmark::bug: FIX

#3616 [Filter pills] Improve clearable documentation
  stories/documentation/forms/filterPills/angular/filter-pills.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#3625 fix(simple-select): focus input after panel is closed
  packages/ng/simple-select/input/panel-ref.factory.ts
Labels: :bookmark::bug: FIX

#3620 fix(filter-pills): better handling of nested select inputs
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/filter-pills/core/tokens.ts
  packages/ng/filter-pills/filter-pill/filter-pill.component.ts
  stories/documentation/forms/filterPills/angular/filter-pill-child-component.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3627 [19.3.2] Update RC
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/filter-pills/core/tokens.ts
  packages/ng/filter-pills/filter-pill/filter-pill.component.ts
  packages/ng/simple-select/input/panel-ref.factory.ts
  packages/ng/title/README.md
  packages/scss/src/components/breadcrumbs/index.scss
  packages/scss/src/components/userTile/component.scss
  packages/scss/src/components/userTile/mods.scss
  packages/scss/src/components/userTile/vars.scss
  stories/documentation/forms/date2/date-input.stories.ts
  stories/documentation/forms/filterPills/angular/filter-pill-child-component.stories.ts
  stories/documentation/forms/filterPills/angular/filter-pills.stories.ts
  stories/documentation/navigation/breadcrumbs/angular/breadcrumbs-basic.stories.ts
  stories/qa/breadcrumb/breadcrumb.stories.html
  stories/qa/breadcrumb/breadcrumb.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#3628 [FileUpload] Fix required
  packages/ng/file-upload/base-file-upload/base-file-upload.component.ts
  packages/ng/file-upload/single/single-file-upload.component.html
  packages/ng/form-field/form-field.component.ts
  stories/documentation/forms/fileUpload/angular/basic.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3630 feat(highlight-data): allow for portalContent in heading, value and subText inputs
  packages/ng/highlight-data/highlight-data.component.html
  packages/ng/highlight-data/highlight-data.component.ts
Labels: :hammer: Technical

#3639 [filterPills] adjust max width
  packages/ng/filter-pills/filter-pill/filter-pill.component.html
  packages/scss/src/components/filterPill/component.scss
  packages/scss/src/components/filterPill/mods.scss
  packages/scss/src/components/filterPill/vars.scss
Labels: :bookmark::sparkles: Feature

#3635 [pageHeader] fix margin
  packages/ng/page-header/page-header.component.html
  packages/scss/src/components/pageHeader/component.scss
  packages/scss/src/components/pageHeader/mods.scss
  packages/scss/src/components/pageHeader/vars.scss
Labels: :bookmark::bug: FIX

#3632 feat(title): new product guideline
  packages/ng/title/README.md
  packages/ng/title/title.strategy.spec.ts
  packages/ng/title/title.strategy.ts
Labels: :bookmark::sparkles: Feature

#3641 fix(core-select): option comparer overridable
  docs/core-select-api-directive.md
  packages/ng/core-select/api/api-v3.directive.ts
  packages/ng/core-select/api/api.directive.spec.ts
  packages/ng/core-select/api/api.directive.ts
  packages/ng/core-select/establishment/establishments.directive.ts
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/core-select/job-qualification/job-qualifications.directive.ts
  packages/ng/core-select/user/users.directive.ts
Labels: 👥 Front, :bookmark::bug: FIX

#3642 fix(date-input): revert change of minMax validation, avoid code duplication
  packages/ng/date2/abstract-date-component.ts
  packages/ng/date2/date-input/date-input.component.ts
Labels: 👥 Front, 💥 Breaking change, :bookmark::bug: FIX

#3638 [radio] portalContent type for inlineMessage
  packages/ng/forms/radio-group-input/radio/radio.component.html
  packages/ng/forms/radio-group-input/radio/radio.component.ts
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3636 [date/rangeInput] Add input for width auto
  packages/ng/date2/date-input/date-input.component.ts
  packages/ng/date2/date-range-input/date-range-input.component.ts
  stories/documentation/forms/date2/date-input.stories.ts
  stories/documentation/forms/date2/date-range-input.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3650 fix(breadcrumbs): add missing import of `BreadcrumbsLinkDirective`
  packages/ng/breadcrumbs/public-api.ts
  stories/documentation/navigation/breadcrumbs/angular/breadcrumbs-basic.stories.ts
  stories/documentation/navigation/horizontalNavigation/angular/horizontalNavigation-basic.stories.ts
  stories/documentation/structure/page-header/angular/page-header-basic.stories.ts
  stories/qa/breadcrumb/breadcrumb.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3645 fix(filter-pills): former employees adding checkbox layout to filter-pills
  packages/ng/core-select/user/former-employees.component.scss
  packages/ng/core-select/user/former-employees.component.ts
  packages/ng/styles/definitions/option/_option-item.scss
  stories/documentation/forms/filterPills/angular/select-filter-pill.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3644 [Sidenav] Compact fixes
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/navside/mods.scss
  packages/scss/src/components/navside/vars.scss
Labels: :bookmark::bug: FIX

#3652 [fieldset] wrapper
  packages/ng/forms/fieldset/fieldset.component.html
  packages/ng/forms/fieldset/fieldset.component.scss
  packages/ng/forms/fieldset/fieldset.component.ts
  packages/ng/forms/number-input/number-input.component.ts
  packages/ng/forms/public-api.ts
  packages/scss/src/components/fieldset/component.scss
  stories/documentation/forms/fieldset/angular/fieldset-basic.stories.ts
  stories/documentation/forms/fieldset/html&css/fieldset-basic.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3622 feat(tooltip): allow for external host
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
  stories/documentation/overlays/tooltip/tooltip.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes
