Repository LuccaSA/lucca-front, pull requests merged in 2025-01, with the labels that each got.

#3317 MD heading levels for ZH integration
  docs/core-select-users-directive.md
  docs/multi-select-all.md
Labels: :hammer: Technical, :book: Documentation changes

#3320 Remove deprecated spacings
  packages/ng/popup-employee/card/panel/user-popover-panel.component.html
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/simple-select.stories.ts
  stories/documentation/listings/index-table/index-table-layout-fixed-responsive.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-custom.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3333 fix(form-field): async loading for controls detection + test story
  packages/ng/form-field/form-field.component.ts
  stories/documentation/forms/fields/form-field-async-loading.stories.ts
Labels: 👥 Front, :bookmark::bug: FIX, :book: Documentation changes

#3334 perf: tooltips freeze issue
  packages/ng/tooltip/trigger/ellipsis.ruler.ts
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
  stories/documentation/overlays/tooltip/tooltip-ellipsis.stories.ts
  stories/qa/tooltip/tooltip.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3337 Update icons & font urls
  packages/icons/src/commons/config.scss
  packages/icons/update-icons.js
  packages/scss/src/commons/core.scss
Labels: :bookmark::bug: FIX

#3343 Replace stray t-shirt-sized spacing.
  packages/scss/src/components/menu/component.scss
Labels: :bookmark::bug: FIX

#3342 [statusBadge] add neutral option
  stories/documentation/texts/status-badge/angular/status-badge-angular.stories.ts
  stories/documentation/texts/status-badge/html&css/status-badge-palettes.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3346 [Multiselect] Establishment S numeric badge size
  packages/ng/multi-select/input/select-all/multi-select-all-displayer.component.ts
Labels: :bookmark::bug: FIX

#3344 fix(multi-select): wrong API for users count and wrong override of panelHeaderTpl
  .storybook/msw/handlers.ts
  packages/ng/core-select/user/users.directive.ts
  stories/documentation/forms/select/multi-select.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3341 docs(date-range): add premade shortcuts story
  stories/documentation/forms/date2/date-range-input.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#3331 fix: add uniqueOperation params for new departments api
  packages/ng/department/select/feeder/department-feeder.component.ts
  packages/ng/department/select/input/department-select-input.component.html
  packages/ng/department/select/input/department-select-input.component.ts
  packages/ng/department/service/department-v4.service.ts
  stories/documentation/forms/department/department-select.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3328 [dropdown] scss component
  packages/ng/dropdown/panel/dropdown-panel.component.html
  packages/ng/dropdown/panel/dropdown-panel.component.scss
  packages/ng/dropdown/panel/dropdown-panel.component.ts
  packages/ng/styles/_components.scss
  packages/ng/styles/components/_dropdown.scss
  packages/scss/src/components/dropdown/component.scss
  packages/scss/src/components/dropdown/exports.scss
  packages/scss/src/components/dropdown/index.scss
  packages/scss/src/components/dropdown/mods.scss
  packages/scss/src/components/dropdown/states.scss
  packages/scss/src/components/dropdown/vars.scss
  packages/scss/src/components/index.scss
  stories/documentation/overlays/dropdown/dropdown-basic.stories.html
  stories/documentation/overlays/dropdown/dropdown-basic.stories.ts
  stories/documentation/overlays/dropdown/dropdown-component.stories.ts
  stories/documentation/overlays/dropdown/dropdown-directive.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes, :skull: Deprecate

#3349 [Callout] Required / optional doc
  stories/documentation/feedback/callout/angular/callout-basic.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#3351 fix(front) : 3350 : replace use of deprecated colors
  packages/scss/src/components/segmentedControl/component.scss
  packages/scss/src/components/timepicker/component.scss
Labels: :bookmark::bug: FIX

#3355 [timePicker] fix id
  packages/ng/time/time-picker/time-picker.component.html
  packages/ng/time/time-picker/time-picker.component.ts
  packages/scss/src/components/timepicker/component.scss
Labels: :bookmark::bug: FIX

#3357 [timePicker] fix name
  packages/ng/time/core/time-picker-part.component.html
  packages/ng/time/time-picker/time-picker.component.html
  stories/documentation/forms/time/time-picker-angular.stories.ts
Labels: :bookmark::bug: FIX, :book: Documentation changes

#3356 docs: fix import path in multiple stories
  packages/ng/date2/public-api.ts
  stories/documentation/forms/date2/selectDay.stories.ts
  stories/documentation/forms/date2/selectInProgress.stories.ts
  stories/documentation/forms/date2/selectRange.stories.ts
  stories/documentation/forms/fields/form-field-nested-controls.stories.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/simple-select.stories.ts
  stories/documentation/forms/time/duration-picker-angular.stories.ts
  stories/documentation/structure/box/box-arrow-ng.stories.ts
  stories/documentation/texts/comment/angular/chat.stories.ts
  stories/documentation/texts/tags/angular/tag.stories.ts
  stories/documentation/users/popover/angular/popover.stories.ts
  stories/qa/filterBar/filter-bar.stories.ts
Labels: :hammer: Technical, :book: Documentation changes

#3362 Add icon People arrow up
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/icons-list.ts
  packages/icons/index.d.ts
  packages/icons/selection.json
  packages/icons/src/commons/config.scss
Labels: :bookmark::sparkles: Feature

#3359 feat(core-select): add unique operations input for establishments and users directive
  packages/ng/core-select/establishment/establishments.directive.ts
  packages/ng/core-select/user/users.directive.ts
Labels: 👥 Front, :bookmark::sparkles: Feature

#3326 [chip] angular wrapper
  package.json
  packages/ng/chip/chip.component.html
  packages/ng/chip/chip.component.scss
  packages/ng/chip/chip.component.ts
  packages/ng/chip/chip.translate.ts
  packages/ng/chip/ng-package.json
  packages/ng/chip/public-api.ts
  packages/ng/chip/translations.ts
  packages/ng/link/link.component.ts
  packages/ng/link/link.translate.ts
  stories/documentation/listings/chip/angular/basic.stories.ts
  stories/documentation/listings/chip/html&css/basic.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3365 Readme translation
  README.md
Labels: :hammer: Technical, :book: Documentation changes

#3339 [Form field] Width mod
  packages/ng/form-field/form-field.component.ts
  packages/scss/src/components/form/component.scss
  packages/scss/src/components/form/index.scss
  packages/scss/src/components/form/mods.scss
  packages/scss/src/components/form/vars.scss
  stories/documentation/forms/fields/form-field.stories.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/forms/fields/text/html&css/textfield-width.stories.ts
  stories/qa/forms/textfield.stories.html
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3318 [sass] update
  .storybook/styles.scss
  packages/ng/api/select/input/api-select-input.component.scss
  packages/ng/api/select/searcher/api-searcher.component.scss
  packages/ng/core-select/option/option.component.scss
  packages/ng/date/calendar/calendar-input.component.scss
  packages/ng/date/select/date-select-input.component.scss
  packages/ng/department/select/input/department-select-input.component.scss
  packages/ng/establishment/select/input/establishment-select-input.component.scss
  packages/ng/establishment/select/searcher/establishment-searcher.component.scss
  packages/ng/establishment/select/select-all/establishment-select-all.component.scss
  packages/ng/formly/style/main.scss
  packages/ng/input/clearer/clearer.component.scss
  packages/ng/option/item/option-item.component.scss
  packages/ng/option/item/tree-option-item.component.scss
  packages/ng/option/operator/searcher/option-searcher.component.scss
  packages/ng/option/placeholder/option-placeholder.component.scss
  packages/ng/option/selector/all/select-all.component.scss
  packages/ng/qualification/select/input/qualification-select-input.component.scss
  packages/ng/select/input/select-input.component.scss
  packages/ng/simple-select/panel/panel.component.scss
  packages/ng/styles/_components.scss
  packages/ng/styles/_definitions.scss
  packages/ng/styles/components/_picker.scss
  packages/ng/styles/components/cdk/_overlay.scss
  packages/ng/styles/main.scss
  packages/ng/user/select/input/user-select-input.component.scss
  packages/ng/user/select/searcher/user-searcher.component.scss
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/core.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/commons/utils/loading.scss
  packages/scss/src/components/button/states.scss
  packages/scss/src/components/calendar/component.scss
  packages/scss/src/components/calendar/index.scss
  packages/scss/src/components/calloutPopover/index.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/header/states.scss
  packages/scss/src/components/loading/component.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/numericBadge/states.scss
  packages/scss/src/components/progress/component.scss
  packages/scss/src/components/tableSortable/component.scss
  packages/scss/src/components/toast/component.scss
  packages/scss/src/components/tooltip/component.scss
Labels: :bookmark::sparkles: Feature

#3370 feat(tag): Authorize undefined value for icon
  packages/ng/tag/tag.component.ts
Labels: :bookmark::sparkles: Feature

#3374 [QA] disable animations
  stories/qa/button/button.stories.ts
  stories/qa/loadings/loadings.stories.ts
  stories/qa/numeric-badge/numeric-badge.stories.ts
  stories/qa/progress/progress.stories.ts
Labels: :bookmark::sparkles: Feature, :book: Documentation changes

#3375 Doc/angular.qa.examples
  .storybook/styles.scss
  stories/qa/_sample/sample.stories.html
  stories/qa/_sample/sample.stories.ts
  stories/qa/button/button.stories.html
  stories/qa/button/button.stories.ts
Labels: :hammer: Technical, :book: Documentation changes
