Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

feat(front) : add action
  packages/scss/src/components/indexTable/component.scss
  stories/documentation/listings/index-table/index-table-basic.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : add pagination + sticky
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-sticky-header.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : add selectable indexTable
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : add basic implementation
  packages/scss/src/components/index.scss
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/exports.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/states.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-basic.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : add mod-stackable
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : nested checkboxs order + renammings
  packages/scss/src/components/indexTable/component.scss
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
Owners: @LuccaSA/ux-devs

fix children horizontal alignement + remove gap
  packages/scss/src/components/navside/component.scss
Owners: @LuccaSA/ux-devs

fix(dialog): injector and style fixes
  packages/ng/dialog/dialog.provider.ts
  packages/ng/dialog/dialog.providers.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/public-api.ts
  packages/ng/modal/modal.module.ts
  packages/ng/modal/modal.service.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
  stories/documentation/overlays/modal/modal.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(form-field): missing form scss import
  packages/ng/form-field/form-field.component.scss
Owners: @LuccaSA/ux-devs

chore(rc): fixes for issues noticed with rc.2 tests (#2593)
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/dialog/dialog.provider.ts
  packages/ng/dialog/dialog.providers.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/public-api.ts
  packages/ng/form-field/form-field.component.scss
  packages/ng/modal/modal.module.ts
  packages/ng/modal/modal.service.ts
  packages/ng/multi-select/displayer/default-displayer.component.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
  stories/documentation/overlays/modal/modal.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(dialog): template-driven directive and style fixes
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/directives/dialog-open.directive.ts
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(dialog): template-driven directive and style fixes (#2594)
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/directives/dialog-open.directive.ts
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(front) : smooth transitions
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

fix(dialog): add display: contents for better dialog sizing
  packages/ng/dialog/dialog.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

css var for content icon
  packages/icons/src/commons/utils/icon.scss
  packages/icons/src/icon/component.scss
  packages/icons/src/icon/index.scss
  packages/icons/src/icon/vars.scss
  packages/scss/src/components/breadcrumbs/component.scss
Owners: @LuccaSA/ux-devs

chore(dialog): remove unused import
  packages/ng/dialog/dialog.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix header zindex
  packages/scss/src/components/dialog/component.scss
Owners: @LuccaSA/ux-devs

chore(dialog): use component's renderer2 instance
  packages/ng/dialog/dialog.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix navside icons size
  packages/scss/src/components/navside/component.scss
Owners: @LuccaSA/ux-devs

feat(front) : comments
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix header zindex (#2597)
  packages/scss/src/components/dialog/component.scss
Owners: @LuccaSA/ux-devs

fix navside icons size (#2598)
  packages/scss/src/components/navside/component.scss
Owners: @LuccaSA/ux-devs

chore: fix style for proper sizing in dialogs (#2596)
  packages/ng/dialog/dialog.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

reduce specificity
  packages/icons/src/commons/utils/icon.scss
  packages/icons/src/icon/component.scss
  packages/icons/src/icon/index.scss
  packages/icons/src/icon/mods.scss
  packages/icons/src/icon/vars.scss
Owners: @LuccaSA/ux-devs

docs(core): add dialog markdown doc for ZH integration tests
  docs/dialog.md
Owners: @LuccaSA/ux-admins

feat(front) : add footer
  packages/scss/src/components/indexTable/component.scss
  stories/documentation/listings/index-table/index-table-footer.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : title semantic level
  stories/documentation/listings/index-table/index-table-footer.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : caps
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
Owners: @LuccaSA/ux-devs

feat(form-fields): new textarea-input wrapper
  packages/ng/form-field/form-field.component.ts
  packages/ng/forms/public-api.ts
  packages/ng/forms/textarea-input/textarea-input.component.html
  packages/ng/forms/textarea-input/textarea-input.component.ts
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(front) : footer padding
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

css vars + story
  packages/scss/src/components/container/component.scss
  packages/scss/src/components/container/mods.scss
  packages/scss/src/components/container/vars.scss
  stories/documentation/structure/containers/containers-basic.stories.ts
Owners: @LuccaSA/ux-devs

docs(table): init story
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
Owners: @LuccaSA/ux-devs

transparent background for outlined tags
  packages/scss/src/components/tag/mods.scss
Owners: @LuccaSA/ux-devs

add neutral 400
  packages/scss/src/commons/config.scss
Owners: @LuccaSA/ux-devs

add ng button label description
  stories/documentation/actions/button/angular/button-icon.stories.ts
Owners: @LuccaSA/ux-devs

fix(lu-modal-adapter): connect size and mode config with LuModal
  packages/ng/modal/modal.service.ts
  stories/documentation/overlays/modal/modal.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

numeric badge description
  stories/documentation/texts/numeric-badge/angular/numeric-badge.stories.ts
Owners: @LuccaSA/ux-devs

link doc format
  stories/documentation/actions/links/link-basic.stories.ts
Owners: @LuccaSA/ux-devs

HTML stories format
  stories/documentation/forms/fields/form-field.stories.ts
  stories/documentation/texts/clear/clear.stories.ts
  stories/documentation/texts/tags/basic.stories.ts
  stories/documentation/texts/tags/clickable.stories.ts
  stories/documentation/texts/tags/outlined.stories.ts
  stories/documentation/texts/tags/palettes.stories.ts
  stories/documentation/texts/tags/sizes.stories.ts
  stories/documentation/texts/tags/tags.stories.ts
Owners: @LuccaSA/ux-devs

17.3 documentation & stories improvements (#2610)
  stories/documentation/actions/button/angular/button-icon.stories.ts
  stories/documentation/actions/links/link-basic.stories.ts
  stories/documentation/forms/fields/form-field.stories.ts
  stories/documentation/texts/clear/clear.stories.ts
  stories/documentation/texts/numeric-badge/angular/numeric-badge.stories.ts
  stories/documentation/texts/tags/basic.stories.ts
  stories/documentation/texts/tags/clickable.stories.ts
  stories/documentation/texts/tags/outlined.stories.ts
  stories/documentation/texts/tags/palettes.stories.ts
  stories/documentation/texts/tags/sizes.stories.ts
  stories/documentation/texts/tags/tags.stories.ts
Owners: @LuccaSA/ux-devs
