Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(core-select): do not make id overridable in getMe method
  packages/ng/core-select/user/users.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(deps): Storybook 8 (#2714)
  .editorconfig
  .storybook/preview.mjs
  package-lock.json
  package.json
  stories/documentation/structure/grids/grids-auto-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-auto-responsive.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

Test fix select control
  stories/documentation/texts/numeric-badge/html&css/numeric-badge-basic.stories.ts
Owners: @LuccaSA/ux-devs

Test fix select control (#2718)
  stories/documentation/texts/numeric-badge/html&css/numeric-badge-basic.stories.ts
Owners: @LuccaSA/ux-devs

fix(user-popover): detect changes
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(user-popover): detect changes (#2719)
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

reduce index table stories size
  stories/documentation/listings/index-table/index-table-actions-touch-detection.stories.ts
  stories/documentation/listings/index-table/index-table-basic.stories.ts
  stories/documentation/listings/index-table/index-table-empty-state.stories.ts
  stories/documentation/listings/index-table/index-table-footer.stories.ts
  stories/documentation/listings/index-table/index-table-layout-fixed-responsive.stories.ts
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-nested-sub-totals.stories.ts
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-custom.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-label.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-sorted.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
  stories/documentation/listings/index-table/index-table-sticky-header.stories.ts
Owners: @LuccaSA/ux-devs

fix selected disabled checkbox style
  packages/ng/styles/definitions/option/_option-item.scss
  stories/documentation/forms/select/multi-select.stories.ts
Owners: @LuccaSA/ux-devs

disabled button with tooltip
  packages/scss/src/components/button/component.scss
  stories/documentation/actions/button/html&css/button-disabled.stories.ts
Owners: @LuccaSA/ux-devs

fix selected disabled checkbox style (#2720)
  packages/ng/styles/definitions/option/_option-item.scss
  stories/documentation/forms/select/multi-select.stories.ts
Owners: @LuccaSA/ux-devs

fix(empty-state): http request for icon still fired even when it's null
  packages/ng/empty-state/empty-state-page/empty-state-page.component.html
  packages/ng/empty-state/empty-state-page/empty-state-page.component.ts
  packages/ng/empty-state/empty-state-section/empty-state-section.component.html
  packages/ng/empty-state/empty-state-section/empty-state-section.component.ts
  packages/ng/safe-content/safe-external-svg.pipe.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

add token spacing 25 and apply it in LF
  packages/scss/src/commons/config.scss
  packages/scss/src/components/calloutPopover/mods.scss
  packages/scss/src/components/checkboxField/vars.scss
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/radioField/vars.scss
  packages/scss/src/components/switchField/component.scss
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

filter bar format
  stories/documentation/structure/filter-bar/filter-bar-basic.stories.ts
Owners: @LuccaSA/ux-devs

format radio
  stories/documentation/forms/fields/radio/html&css/radiofield-disabled.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-invalid.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-size.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield.stories.ts
Owners: @LuccaSA/ux-devs

add tag icon
  stories/documentation/texts/tags/icon.stories.ts
Owners: @LuccaSA/ux-devs

checkbox mixed doc version
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
Owners: @LuccaSA/ux-devs

grid format
  stories/documentation/structure/grids/grids-auto-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-auto-responsive.stories.ts
  stories/documentation/structure/grids/grids-position-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-span-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-span-responsive.stories.ts
  stories/documentation/structure/grids/grids-span.stories.ts
Owners: @LuccaSA/ux-devs

add token spacing 25 and apply it in LF (#2723)
  packages/scss/src/commons/config.scss
  packages/scss/src/components/calloutPopover/mods.scss
  packages/scss/src/components/checkboxField/vars.scss
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/radioField/vars.scss
  packages/scss/src/components/switchField/component.scss
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

Test fix select control (#2718)
  stories/documentation/texts/numeric-badge/html&css/numeric-badge-basic.stories.ts
Owners: @LuccaSA/ux-devs

User Popover (#2649)
  .storybook/msw/handlers.ts
  .storybook/msw/mocks.ts
  docs/user-popover.md
  package-lock.json
  package.json
  packages/ng/popup-employee/README.md
  packages/ng/popup-employee/card/panel/user-popover-panel.component.html
  packages/ng/popup-employee/card/panel/user-popover-panel.component.scss
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
  packages/ng/popup-employee/card/panel/user-popover-panel.model.ts
  packages/ng/popup-employee/card/pipe/inject-parameter.pipe.ts
  packages/ng/popup-employee/card/pipe/is-future.pipe.ts
  packages/ng/popup-employee/card/pipe/leave-ends-display.pipe.ts
  packages/ng/popup-employee/card/trigger/user-popover-trigger.directive.ts
  packages/ng/popup-employee/ng-package.json
  packages/ng/popup-employee/popup-employee.translate.ts
  packages/ng/popup-employee/public-api.ts
  packages/ng/popup-employee/service/user-popover-service.model.ts
  packages/ng/popup-employee/service/user-popover.store.ts
  packages/ng/popup-employee/user-popover.model.ts
  packages/ng/popup-employee/user-popover.providers.ts
  packages/ng/styles/definitions/user/user-picture.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/userPopover/component.scss
  packages/scss/src/components/userPopover/exports.scss
  packages/scss/src/components/userPopover/index.scss
  packages/scss/src/components/userPopover/mods.scss
  packages/scss/src/components/userPopover/states.scss
  packages/scss/src/components/userPopover/vars.scss
  stories/documentation/users/popover/popover.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(deps): Storybook 8 (#2714)
  .editorconfig
  .storybook/preview.mjs
  package-lock.json
  package.json
  stories/documentation/structure/grids/grids-auto-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-auto-responsive.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

[Empty State] Reduce title size on small resolutions:
  packages/scss/src/components/emptyState/component.scss
Owners: @LuccaSA/ux-devs

fix selected disabled checkbox style (#2720)
  packages/ng/styles/definitions/option/_option-item.scss
  stories/documentation/forms/select/multi-select.stories.ts
Owners: @LuccaSA/ux-devs

add token spacing 25 and apply it in LF (#2723)
  packages/scss/src/commons/config.scss
  packages/scss/src/components/calloutPopover/mods.scss
  packages/scss/src/components/checkboxField/vars.scss
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/radioField/vars.scss
  packages/scss/src/components/switchField/component.scss
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

fix(user-popover): detect changes (#2719)
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(empty-state): http request for icon still fired even when it's null (#2722)
  packages/ng/empty-state/empty-state-page/empty-state-page.component.html
  packages/ng/empty-state/empty-state-page/empty-state-page.component.ts
  packages/ng/empty-state/empty-state-section/empty-state-section.component.html
  packages/ng/empty-state/empty-state-section/empty-state-section.component.ts
  packages/ng/safe-content/safe-external-svg.pipe.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

[17.4] Format documentation stories (#2724)
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-disabled.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-invalid.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-size.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield.stories.ts
  stories/documentation/listings/index-table/index-table-actions-touch-detection.stories.ts
  stories/documentation/listings/index-table/index-table-basic.stories.ts
  stories/documentation/listings/index-table/index-table-empty-state.stories.ts
  stories/documentation/listings/index-table/index-table-footer.stories.ts
  stories/documentation/listings/index-table/index-table-layout-fixed-responsive.stories.ts
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-nested-sub-totals.stories.ts
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-custom.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-label.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-sorted.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
  stories/documentation/listings/index-table/index-table-sticky-header.stories.ts
  stories/documentation/structure/filter-bar/filter-bar-basic.stories.ts
  stories/documentation/structure/grids/grids-auto-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-auto-responsive.stories.ts
  stories/documentation/structure/grids/grids-position-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-span-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-span-responsive.stories.ts
  stories/documentation/structure/grids/grids-span.stories.ts
  stories/documentation/texts/tags/icon.stories.ts
Owners: @LuccaSA/ux-devs

[Empty State] Reduce title size on small resolutions:
  packages/scss/src/components/emptyState/component.scss
Owners: @LuccaSA/ux-devs

Update contributing.md:
  contributing.md
Owners: @LuccaSA/ux-admins

fix(portal): handle string update
  packages/ng/core/portal/portal.directive.spec.ts
  packages/ng/core/portal/portal.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(core-select): new addOption output
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/core-select/select.translate.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(core-select): handle multiple add-option button strategies
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

UI add option
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/styles/components/_picker.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

format stories
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-disabled.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-invalid.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-size.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield.stories.ts
  stories/documentation/forms/form-label/form-label-basic.stories.ts
  stories/documentation/forms/form-label/form-label-counter.stories.ts
  stories/documentation/forms/form-label/form-label-error.stories.ts
  stories/documentation/forms/form-label/form-label-size.stories.ts
  stories/documentation/forms/form-label/form-label.stories.ts
  stories/documentation/listings/index-table/index-table-actions-touch-detection.stories.ts
  stories/documentation/listings/index-table/index-table-layout-fixed-responsive.stories.ts
  stories/documentation/listings/index-table/index-table-nested-sub-totals.stories.ts
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-custom.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-label.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-nested.stories.ts
  stories/documentation/users/popover/popover.stories.ts
Owners: @LuccaSA/ux-devs

format stories (#2729)
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-disabled.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-invalid.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-size.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield.stories.ts
  stories/documentation/forms/form-label/form-label-basic.stories.ts
  stories/documentation/forms/form-label/form-label-counter.stories.ts
  stories/documentation/forms/form-label/form-label-error.stories.ts
  stories/documentation/forms/form-label/form-label-size.stories.ts
  stories/documentation/forms/form-label/form-label.stories.ts
  stories/documentation/listings/index-table/index-table-actions-touch-detection.stories.ts
  stories/documentation/listings/index-table/index-table-layout-fixed-responsive.stories.ts
  stories/documentation/listings/index-table/index-table-nested-sub-totals.stories.ts
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-custom.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-label.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list-nested.stories.ts
  stories/documentation/users/popover/popover.stories.ts
Owners: @LuccaSA/ux-devs

avoid row to go over sticky header
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix(user-popover): fix initial position after employee is loaded
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
  packages/ng/popup-employee/card/trigger/user-popover-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

avoid row to go over sticky header (#2730)
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix(user-popover): fix initial position after employee is loaded (#2731)
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
  packages/ng/popup-employee/card/trigger/user-popover-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(core-select): reactive shouldDisplayAddOption
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/simple-select/panel/panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs
