Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(form-field): add extra describedBy input (#3549)
  packages/ng/form-field/form-field.component.ts
  stories/documentation/forms/fields/form-field.stories.ts
  stories/qa/index-table/index-table.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(date-input): change disabled prop to a signal to trigger rendering (#3519)
  packages/ng/date2/abstract-date-component.ts
  packages/ng/date2/date-input/date-input.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

[DateInputComponent] fix: the min/max in month mode (#3514)
  packages/ng/date2/abstract-date-component.ts
  packages/ng/date2/date-input/date-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

[multilanguage] inherit size (#3527)
  packages/ng/forms/multilanguage-input/multilanguage-input.component.html
  packages/ng/forms/multilanguage-input/multilanguage-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

Fix search icon S
  packages/scss/src/components/multiSelect/mods.scss
Owners: @LuccaSA/ux-devs

tests(multi-select): conditional displayer logic in tests
  stories/documentation/forms/select/multi-select.stories.ts
Owners: @LuccaSA/ux-devs

Fix search icon S (#3556)
  packages/scss/src/components/multiSelect/mods.scss
Owners: @LuccaSA/ux-devs

fix(front) : reduce specificity to allow override (#3535)
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  stories/documentation/listings/index-table/index-table-actions.stories.ts
Owners: @LuccaSA/ux-devs

[fancyBox] fix position + story (#3555)
  packages/scss/src/components/fancyBox/component.scss
  stories/documentation/structure/fancy-box/angular/fancy-box-basic.stories.ts
  stories/documentation/structure/fancy-box/html&css/fancy-box-basic.stories.ts
Owners: @LuccaSA/ux-devs

Fix(filter pills): clearable (#3501)
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/date2/abstract-date-component.ts
  packages/ng/date2/date-input/date-input.component.ts
  packages/ng/date2/date-range-input/date-range-input.component.html
  packages/ng/date2/date-range-input/date-range-input.component.ts
  packages/ng/filter-pills/core/filter-pill-input-component.ts
  packages/ng/filter-pills/filter-pill/filter-pill.component.html
  packages/ng/filter-pills/filter-pill/filter-pill.component.ts
  packages/ng/forms/checkbox-input/checkbox-input.component.ts
  packages/ng/multi-select/input/select-input.component.html
  packages/ng/simple-select/input/select-input.component.html
  stories/documentation/forms/filterPills/angular/date-filter-pill.stories.ts
  stories/documentation/forms/filterPills/angular/filter-pills.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(lint): ignore import rules on schematic test files
  packages/ng/schematics/.eslintrc
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(select-schematic): better deletion and detection logic (#3554)
  packages/ng/schematics/.eslintrc
  packages/ng/schematics/lib/angular-component-ast.ts
  packages/ng/schematics/lu-select/migration.ts
  packages/ng/schematics/lu-select/tests/input/api-selects.component.ts
  packages/ng/schematics/lu-select/tests/input/simple-case.component.ts
  packages/ng/schematics/lu-select/tests/output/api-selects.component.ts
  packages/ng/schematics/lu-select/tests/output/rejected.component.ts
  packages/ng/schematics/lu-select/tests/output/simple-case.component.ts
  packages/ng/schematics/lu-select/util.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

tests(multi-select): select all testing
  stories/documentation/forms/select/multi-select.stories.ts
Owners: @LuccaSA/ux-devs

fix(lu-textarea-input): apply autoresize with initial value
  packages/ng/forms/textarea-input/textarea-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

Fix typo
  stories/documentation/overlays/dropdown/dropdown-component.stories.ts
Owners: @LuccaSA/ux-devs

fix(lint): force ignore unused vars in schematic test cases
  package-lock.json
  packages/ng/schematics/lu-select/tests/input/simple-case.component.ts
  packages/ng/schematics/lu-select/tests/output/simple-case.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(lint): force ignore unused vars in schematic test cases
  packages/scss/src/components/indexTable/mods.scss
  stories/documentation/forms/fileToolbar/html&css/basic.stories.ts
  stories/documentation/forms/fileUpload/angular/basic.stories.ts
Owners: @LuccaSA/ux-devs

Merge pull request #3561 from LuccaSA/chore/fix-linting-config
  package-lock.json
  packages/ng/schematics/lu-select/tests/input/simple-case.component.ts
  packages/ng/schematics/lu-select/tests/output/simple-case.component.ts
  packages/scss/src/components/indexTable/mods.scss
  stories/documentation/forms/fileToolbar/html&css/basic.stories.ts
  stories/documentation/forms/fileUpload/angular/basic.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

[indexTable] stories
  packages/scss/src/commons/core.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/tableSticked/mods.scss
  stories/documentation/listings/index-table/index-table-actions-dropdown.stories.ts
  stories/documentation/listings/index-table/index-table-actions-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-actions-subAction.stories.ts
  stories/documentation/listings/index-table/index-table-actions-tooltipsCell.stories.ts
  stories/documentation/listings/index-table/index-table-actions-tooltipsRow.stories.ts
  stories/documentation/listings/index-table/index-table-actions-userPopover.stories.ts
  stories/documentation/listings/index-table/index-table-basic.stories.ts
  stories/documentation/listings/index-table/index-table-deprecated.stories.ts
Owners: @LuccaSA/ux-devs

[icons] accessibility
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/icons-list.ts
  packages/icons/index.d.ts
  packages/icons/selection.json
  packages/icons/src/commons/config.scss
Owners: @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

# Packages
packages/ng               @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss     @LuccaSA/ux-devs
packages/icons            @LuccaSA/ux-devs
packages/scss             @LuccaSA/ux-devs
packages/stylelint-config @LuccaSA/ux-devs @LuccaSA/guilde-front

# Storybook
stories               @LuccaSA/ux-devs
