Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

fix switch radius
  packages/scss/src/components/switch/component.scss
Owners: @LuccaSA/ux-devs

remove link + new behaviours
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/index.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/dialog/vars.scss
  packages/scss/src/components/footer/component.scss
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
  stories/documentation/overlays/dialog/dialog-drawerFromBottom.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix chevron with min-width
  packages/scss/src/components/simpleSelect/component.scss
Owners: @LuccaSA/ux-devs

H2 padding .5 > .375
  packages/scss/src/commons/config.scss
Owners: @LuccaSA/ux-devs

fix(button): ignore .u-mask for iconOnly
  packages/ng/button/button.component.ts
  stories/documentation/actions/button/angular/button-icon.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix chevron with min-width (#2570)
  packages/scss/src/components/simpleSelect/component.scss
Owners: @LuccaSA/ux-devs

chore(dialog): autofocus on close button by default
  packages/ng/button/button.component.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/dialog/dialog.component.ts
  packages/ng/dialog/model/dialog-config.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): allow string as autoFocus target
  packages/ng/dialog/model/dialog-config.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

adjust shadows
  packages/scss/src/components/scrollBox/component.scss
  stories/documentation/navigation/menu/menu-scrollbox.stories.ts
Owners: @LuccaSA/ux-devs

refactor(dialog): new LuDialogService approach for dialog boxes
  .storybook/styles.scss
  packages/ng/button/button.component.ts
  packages/ng/dialog/dialog-content/dialog-content.component.ts
  packages/ng/dialog/dialog-footer/dialog-footer.component.scss
  packages/ng/dialog/dialog-footer/dialog-footer.component.ts
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/dialog/dialog-header/dialog-header.component.scss
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog-header/dialog-header.translate.ts
  packages/ng/dialog/dialog.provider.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/dialog/dialog.component.ts
  packages/ng/dialog/directives/dialog-close.directive.ts
  packages/ng/dialog/directives/dialog-dismiss.directive.ts
  packages/ng/dialog/directives/dialog-open.directive.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/dialog/model/index.ts
  packages/ng/dialog/model/injectors.ts
  packages/ng/dialog/ng-package.json
  packages/ng/dialog/public-api.ts
  packages/ng/form-field/input.directive.ts
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/exports.scss
  packages/scss/src/components/dialog/index.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/dialog/states.scss
  packages/scss/src/components/dialog/vars.scss
  packages/scss/src/components/footer/component.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/keyframe/mods.scss
  stories/documentation/actions/button/angular/button-icon.stories.ts
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
  stories/documentation/overlays/dialog/dialog-drawerFromBottom.stories.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

contrasts
  packages/scss/src/components/tag/vars.scss
Owners: @LuccaSA/ux-devs

tags story
  packages/scss/src/components/avatar/component.scss
  stories/documentation/texts/tags/tags.stories.ts
Owners: @LuccaSA/ux-devs

stories
  packages/scss/src/components/box/index.scss
  packages/scss/src/components/box/mods.scss
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/card/index.scss
  packages/scss/src/components/card/mods.scss
  packages/scss/src/components/chip/index.scss
  packages/scss/src/components/chip/mods.scss
  packages/scss/src/components/clear/index.scss
  packages/scss/src/components/clear/mods.scss
  packages/scss/src/components/menu/states.scss
  packages/scss/src/components/numericBadge/mods.scss
  packages/scss/src/components/radioButtons/component.scss
  packages/scss/src/components/section/index.scss
  packages/scss/src/components/section/mods.scss
  stories/documentation/listings/chip/chip.stories.ts
  stories/documentation/structure/box/box-arrow.stories.ts
  stories/documentation/structure/box/box-basic.stories.ts
  stories/documentation/structure/box/box-killable.stories.ts
  stories/documentation/structure/box/box-toggle.stories.ts
  stories/documentation/structure/cards/cards-basic.stories.ts
  stories/documentation/texts/clear/clear.stories.ts
  stories/qa/box/box.stories.html
  stories/qa/card/card.stories.html
  stories/qa/gauge/gauge.stories.html
Owners: @LuccaSA/ux-devs

cleaning
  packages/scss/src/commons/base.scss
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/core.scss
  packages/scss/src/commons/vars.scss
  packages/scss/src/components/button/states.scss
Owners: @LuccaSA/ux-devs

refacto tag
  packages/scss/src/components/tag/component.scss
  packages/scss/src/components/tag/index.scss
  packages/scss/src/components/tag/mods.scss
  packages/scss/src/components/tag/vars.scss
  stories/documentation/texts/tags/tags.stories.ts
  stories/qa/tags/tags.stories.html
Owners: @LuccaSA/ux-devs

revert M L
  packages/scss/src/components/tag/index.scss
  packages/scss/src/components/tag/mods.scss
  stories/documentation/texts/tags/tags.stories.ts
  stories/qa/tags/tags.stories.html
Owners: @LuccaSA/ux-devs

cleaning
  packages/scss/src/commons/base.scss
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/core.scss
  packages/scss/src/commons/vars.scss
Owners: @LuccaSA/ux-devs

fix css vars
  packages/ng/material/style/components/_datepicker.scss
Owners: @LuccaSA/ux-devs

css vars secondary
  packages/ng/icon/icon.component.scss
  packages/ng/styles/components/cdk/_dragDrop.scss
Owners: @LuccaSA/ux-devs

palettes
  packages/scss/src/commons/config.scss
Owners: @LuccaSA/ux-devs

--palettes-brand
  packages/scss/src/components/newBadge/component.scss
  stories/qa/colors/colors.stories.html
Owners: @LuccaSA/ux-devs

chips story
  stories/qa/chip/chip.stories.html
Owners: @LuccaSA/ux-devs

style.ts with depecated palettes
  packages/ng/core/type/style.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

H2 padding .5 > .375 (#2571)
  packages/scss/src/commons/config.scss
Owners: @LuccaSA/ux-devs

fix chip kill
  packages/scss/src/components/chip/component.scss
Owners: @LuccaSA/ux-devs

grey -> neutral
  packages/scss/src/components/dialog/component.scss
Owners: @LuccaSA/ux-devs

Fix chip kill (#2572)
  packages/scss/src/components/chip/component.scss
Owners: @LuccaSA/ux-devs

grey -> neutral (#2573)
  packages/scss/src/components/dialog/component.scss
Owners: @LuccaSA/ux-devs

Comments fixes
  packages/ng/empty-state/empty-state-page/empty-state-page.component.ts
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/vars.scss
  packages/scss/src/components/avatar/vars.scss
  packages/scss/src/components/button/mods.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/emptyState/vars.scss
  stories/documentation/feedback/empty-state/angular/empty-state-page.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

improve surface demo
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

Add imports for clear and utilities
  packages/ng/multi-select/input/select-input.component.scss
  packages/ng/simple-select/input/select-input.component.scss
Owners: @LuccaSA/ux-devs

SimpleSelect/Multiselect – Add imports for clear and utilities (#2574)
  packages/ng/multi-select/input/select-input.component.scss
  packages/ng/simple-select/input/select-input.component.scss
Owners: @LuccaSA/ux-devs

fix checkbox margin
  packages/scss/src/components/checkbox/component.scss
Owners: @LuccaSA/ux-devs

fix checkbox margin (#2575)
  packages/scss/src/components/checkbox/component.scss
Owners: @LuccaSA/ux-devs

move utils in commons
  README.md
  packages/ng/dialog/dialog-header/dialog-header.component.scss
  packages/ng/styles/components/cdk/_overlay.scss
  packages/scss/src/commons/exports.scss
  packages/scss/src/commons/utils/exports.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/commons/utils/keyframe.scss
  packages/scss/src/commons/utils/loading.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/keyframe/component.scss
  packages/scss/src/components/keyframe/exports.scss
  packages/scss/src/components/keyframe/index.scss
  packages/scss/src/components/keyframe/states.scss
  packages/scss/src/components/keyframe/vars.scss
  packages/scss/src/components/navside/index.scss
  packages/scss/src/components/progress/component.scss
  packages/scss/src/components/util/component.scss
  packages/scss/src/components/util/exports.scss
  packages/scss/src/components/util/index.scss
  packages/scss/src/components/util/mods.scss
  packages/scss/src/components/util/states.scss
  packages/scss/src/components/util/vars.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

docs(form-field): better story to show custom inputs using form-field
  packages/ng/form-field/form-field.component.scss
  packages/ng/forms/checkbox-input/checkbox-input.component.ts
  packages/ng/forms/switch-input/switch-input.component.ts
  packages/ng/forms/text-input/text-input.component.scss
  packages/ng/forms/text-input/text-input.component.ts
  stories/documentation/forms/fields/form-field.stories.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

add form
  packages/scss/src/components/dialog/component.scss
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-devs

expand clickable zone
  packages/scss/src/components/chip/component.scss
  packages/scss/src/components/chip/mods.scss
Owners: @LuccaSA/ux-devs

fix(form-field):fix expression changed after it was checked
  packages/ng/form-field/form-field.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

docs(dialog): first story improvements
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-devs
