Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(front) : add nested
  stories/documentation/listings/index-table/index-table-nested.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : add media mixin for touch detection
  packages/scss/src/commons/utils/media.scss
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix(front) : add transparentCell padding
  packages/scss/src/components/indexTable/component.scss
  stories/documentation/listings/index-table/index-table-nested.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : remove :has condition
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

feat(front) : add mod-layoutFixed
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  stories/documentation/listings/index-table/index-table-layout-fixed.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : add background-image transtion
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

feat(front) : WIP interactive selectable
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : .checkboxField compatibility
  packages/scss/src/components/indexTable/states.scss
Owners: @LuccaSA/ux-devs

feat(front) : add demo for selectable
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : responsive stackable bugs
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

feat(front) : checkbox => checkboxField
  stories/documentation/listings/index-table/index-table-actions.stories.ts
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : checked
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : state management
  packages/scss/src/components/indexTable/states.scss
Owners: @LuccaSA/ux-devs

fix(front) : dummy numeric values
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
Owners: @LuccaSA/ux-devs

fix(dialog): better id management for header title
  packages/ng/dialog/dialog-header/dialog-header.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(front) : responsive vertical spacing
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

feat(front) : clickable interactive rows
  packages/scss/src/components/indexTable/mods.scss
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.ts
Owners: @LuccaSA/ux-devs

fix dialog sticky
  packages/scss/src/components/dialog/component.scss
Owners: @LuccaSA/ux-devs

fix numericBadge in compact
  packages/scss/src/components/navside/mods.scss
Owners: @LuccaSA/ux-devs

fix checkbox angular styles
  packages/ng/forms/checkbox-input/checkbox-input.component.scss
  packages/ng/forms/checkbox-input/checkbox-input.component.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix dialog sticky (#2636)
  packages/scss/src/components/dialog/component.scss
Owners: @LuccaSA/ux-devs

fix numericBadge in compact (#2638)
  packages/scss/src/components/navside/mods.scss
Owners: @LuccaSA/ux-devs

documentation + stories
  docs/dialog.md
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

documentation + stories (#2639)
  docs/dialog.md
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

unit & comma utilities deprecated (#2630)
  packages/scss/src/components/util/index.scss
Owners: @LuccaSA/ux-devs

fix checkbox angular styles (#2637)
  packages/ng/forms/checkbox-input/checkbox-input.component.scss
  packages/ng/forms/checkbox-input/checkbox-input.component.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix component size with ? tooltip icon
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs

fix component size with ? tooltip icon (#2640)
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs

Update packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog-header/dialog-header.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(dialog): better id management for header title (#2641)
  packages/ng/dialog/dialog-header/dialog-header.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(core-select): wrong HttpParams when calling establishmentsCount and legalUnitsCount
  packages/ng/core-select/establishment/establishment-grouping.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(core-select): missing filters input on LuCoreSelectUsersDirective
  packages/ng/core-select/user/users.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(form-field): ariaInvalid sometimes not applied properly and throwing error
  packages/ng/form-field/form-field.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(core-select): missing fields on LuCoreSelectUsersDirective api calls
  packages/ng/core-select/user/users.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(core-select): missing exportAs on LuCoreSelectUsersDirective
  packages/ng/core-select/user/users.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

ci: Upgrade Jenkins library version
  Jenkinsfile
Owners: @LuccaSA/ux-admins

fix(form-field): ariaInvalid sometimes not applied properly and throwing error (#2643)
  packages/ng/form-field/form-field.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

add(dep): date-fns
  package-lock.json
  package.json
Owners: @LuccaSA/ux-admins

add(feat) : user-popover
  .storybook/msw/handlers.ts
  .storybook/msw/mocks.ts
  packages/ng/popup-employee/README.md
  packages/ng/popup-employee/_userCard.scss
  packages/ng/popup-employee/card/panel/employee-card-panel.component.html
  packages/ng/popup-employee/card/panel/employee-card-panel.component.scss
  packages/ng/popup-employee/card/panel/employee-card-panel.component.ts
  packages/ng/popup-employee/card/panel/employee-card-panel.model.ts
  packages/ng/popup-employee/card/pipe/is-future.pipe.ts
  packages/ng/popup-employee/card/pipe/leave-ends-display.pipe.ts
  packages/ng/popup-employee/card/trigger/employee-card-trigger.directive.ts
  packages/ng/popup-employee/card/trigger/employee-card-trigger.module.ts
  packages/ng/popup-employee/employee.model.ts
  packages/ng/popup-employee/ng-package.json
  packages/ng/popup-employee/popup-employee.translate.ts
  packages/ng/popup-employee/public-api.ts
  packages/ng/popup-employee/service/employee-card.store.ts
  packages/ng/popup-employee/service/employee-service.model.ts
  stories/documentation/overlays/user-popover/user-popover.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(feat): adjustment
  packages/ng/popup-employee/card/panel/employee-card-panel.component.ts
  packages/ng/popup-employee/card/trigger/employee-card-trigger.directive.ts
  packages/ng/popup-employee/employee.model.ts
  packages/ng/popup-employee/service/employee-card.store.ts
  packages/ng/popup-employee/service/employee-service.model.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs
