Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

Feat filter bar component (#2612)
  packages/scss/src/components/divider/component.scss
  packages/scss/src/components/filterBar/component.scss
  packages/scss/src/components/filterBar/exports.scss
  packages/scss/src/components/filterBar/index.scss
  packages/scss/src/components/filterBar/mods.scss
  packages/scss/src/components/filterBar/states.scss
  packages/scss/src/components/filterBar/vars.scss
  packages/scss/src/components/grid/component.scss
  packages/scss/src/components/index.scss
  stories/documentation/structure/filter-bar/filter-bar-basic.stories.ts
  stories/qa/filterBar/filter-bar.stories.html
  stories/qa/filterBar/filter-bar.stories.ts
Owners: @LuccaSA/ux-devs

fix compact alert palette
  packages/scss/src/components/navside/vars.scss
Owners: @LuccaSA/ux-devs

feat(checkbox): add mixed input (#2679)
  packages/ng/forms/checkbox-input/checkbox-input.component.html
  packages/ng/forms/checkbox-input/checkbox-input.component.ts
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

formlabel counter
  packages/scss/src/components/form/component.scss
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/formLabel/index.scss
  packages/scss/src/components/formLabel/mods.scss
  packages/scss/src/components/formLabel/states.scss
  packages/scss/src/components/formLabel/vars.scss
  stories/documentation/forms/fields/text/html&css/textfield-counter.stories.ts
  stories/documentation/forms/fields/text/html&css/textfield.stories.ts
Owners: @LuccaSA/ux-devs

fix styles
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/textField/component.scss
Owners: @LuccaSA/ux-devs

fix compact alert palette (#2681)
  packages/scss/src/components/navside/vars.scss
Owners: @LuccaSA/ux-devs

feat(form-field): add counter input and display
  packages/ng/core/translate/index.ts
  packages/ng/core/translate/intl-params.pipe.spec.ts
  packages/ng/core/translate/intl-params.pipe.ts
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
  packages/ng/form-field/form-field.translate.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore: fix build
  packages/ng/form-field/form-field.translate.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix: no more undefined placeholder in inputs
  packages/ng/forms/text-input/text-input.component.ts
  packages/ng/forms/textarea-input/textarea-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore: post-rebase fixes
  packages/ng/form-field/form-field.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(test-input): set placeholder's default value to ""
  packages/ng/forms/text-input/text-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(dialog): default modal state to true
  packages/ng/dialog/dialog.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(input + dialog): undefined placeholder and modal flag (#2682)
  packages/ng/dialog/dialog.service.ts
  packages/ng/forms/text-input/text-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(establishment): wrong operations query param (#2675)
  packages/ng/core-select/establishment/establishments.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(schematics): new actionIcon migration
  packages/ng/schematics/action-icon/index.ts
  packages/ng/schematics/action-icon/migration.spec.ts
  packages/ng/schematics/action-icon/migration.ts
  packages/ng/schematics/action-icon/tests/component.input.scss
  packages/ng/schematics/action-icon/tests/component.output.scss
  packages/ng/schematics/action-icon/tests/template.input.html
  packages/ng/schematics/action-icon/tests/template.output.html
  packages/ng/schematics/collection.json
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore: run new-icons schematic against LF
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/form-field/form-field.component.html
  packages/ng/forms/text-input/text-input.component.html
  stories/documentation/navigation/vertical-navigation/vertical-navigation-iconless.stories.ts
  stories/qa/vertical-navigation/vertical-navigation.stories.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

story remove type ref
  stories/documentation/forms/fields/number/angular/numberfield.stories.ts
Owners: @LuccaSA/ux-devs

feat(form-fields): new `lu-number-input` and various input improvements (#2664)
  Jenkinsfile
  e2e/global.json
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
  packages/ng/forms/number-input/number-input.component.html
  packages/ng/forms/number-input/number-input.component.scss
  packages/ng/forms/number-input/number-input.component.ts
  packages/ng/forms/number-input/number-input.translate.ts
  packages/ng/forms/public-api.ts
  packages/ng/multi-select/displayer/default-displayer.component.ts
  packages/ng/multi-select/input/select-input.component.html
  packages/ng/simple-select/input/select-input.component.html
  packages/scss/src/components/formLabel/component.scss
  stories/documentation/forms/fields/form-field.stories.ts
  stories/documentation/forms/fields/multi-select/angular/multi-select.stories.ts
  stories/documentation/forms/fields/number/angular/numberfield.stories.ts
  stories/documentation/forms/fields/simple-select/angular/simple-select.stories.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
  stories/documentation/overlays/dialog/dialog-service.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

Counter default color
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs

fix(form-field): counter error style and textarea story
  packages/ng/form-field/form-field.component.html
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix password padding
  packages/scss/src/components/textField/component.scss
Owners: @LuccaSA/ux-devs

fix label height with counter
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs

Formlabel counter (#2500)
  packages/ng/core/translate/index.ts
  packages/ng/core/translate/intl-params.pipe.spec.ts
  packages/ng/core/translate/intl-params.pipe.ts
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
  packages/ng/form-field/form-field.translate.ts
  packages/ng/forms/text-input/text-input.component.ts
  packages/ng/forms/textarea-input/textarea-input.component.ts
  packages/scss/src/components/form/component.scss
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/formLabel/index.scss
  packages/scss/src/components/formLabel/mods.scss
  packages/scss/src/components/formLabel/states.scss
  packages/scss/src/components/formLabel/vars.scss
  packages/scss/src/components/textField/component.scss
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/forms/fields/text/html&css/textfield-counter.stories.ts
  stories/documentation/forms/fields/text/html&css/textfield.stories.ts
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(front) : 1 column table border-radius + outline
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

feat(front) : 40px row density
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

add cc product
  packages/scss/src/commons/config.scss
Owners: @LuccaSA/ux-devs

Cloud Control palette (#2685)
  packages/scss/src/commons/config.scss
Owners: @LuccaSA/ux-devs

fix(front) : density
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

feat(front) : mass selection new apparence
  packages/scss/src/components/indexTable/mods.scss
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : table-head color
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

fix(front) : vertical align
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

feat(front) : selected row apparence change
  packages/scss/src/components/indexTable/states.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

feat(front) : pagination location
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

feat(front) : extend button reactive zone
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

fix(multi-select): chip click opening panel
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/multi-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(front) : visuals fixes
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

fix(front) : padding and alignements
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

feat(front) : add emptyState storie
  stories/documentation/listings/index-table/index-table-empty-state.stories.ts
Owners: @LuccaSA/ux-devs

fix(simple-select): clear click opening panel
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(multi-select): chip click opening panel (#2686)
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/multi-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs
