Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

tags with icon
  packages/scss/src/components/tag/component.scss
  packages/scss/src/components/tag/mods.scss
  packages/scss/src/components/tag/vars.scss
  stories/qa/tags/tags.stories.html
Owners: @LuccaSA/ux-devs

chore(form-field): remove useless id from story
  stories/documentation/forms/fields/form-field.stories.ts
Owners: @LuccaSA/ux-devs

add form (#2577)
  packages/scss/src/components/dialog/component.scss
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-devs

fix options gap on user & qualification
  packages/ng/qualification/select/input/qualification-select-input.component.html
  stories/documentation/users/select/user-homonyms.stories.html
  stories/documentation/users/select/user-homonyms.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

balance -> pretty
  packages/scss/src/components/title/component.scss
Owners: @LuccaSA/ux-devs

balance -> pretty (#2583)
  packages/scss/src/components/title/component.scss
Owners: @LuccaSA/ux-devs

remove utils
  packages/scss/src/components/util/index.scss
  stories/documentation/integration/utilities/comma.stories.ts
  stories/documentation/integration/utilities/units.stories.ts
Owners: @LuccaSA/ux-devs

lint
  packages/ng/qualification/select/input/qualification-select-input.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(select): use space to select the current option
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(select): add apiEstablishment directive
  .storybook/msw/handlers.ts
  .storybook/msw/mocks.ts
  .vscode/settings.json
  packages/ng/api/api.model.ts
  packages/ng/core-select/api/api-v4.directive.ts
  packages/ng/core-select/etablishment/api-etablishments.directive.ts
  packages/ng/core-select/etablishment/establishment-grouping.component.ts
  packages/ng/core-select/etablishment/establishment-grouping.service.ts
  packages/ng/core-select/etablishment/models.ts
  packages/ng/core-select/etablishment/ng-package.json
  packages/ng/core-select/etablishment/public-api.ts
  packages/ng/core/portal/portal-content.ts
  packages/ng/core/portal/portal.directive.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/simple-select/panel/panel.component.html
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(select): use portal for grouping template
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/core-select/option/group.directive.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

ref(select): rename establishmentsApi to establishments
  packages/ng/core-select/etablishment/etablishments.directive.ts
  packages/ng/core-select/etablishment/public-api.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(select): no need to fetch legal units to display group name
  packages/ng/core-select/etablishment/establishment-grouping.component.ts
  packages/ng/core-select/etablishment/establishment-grouping.service.ts
  packages/ng/core-select/etablishment/etablishments.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

ref(select): rework selectAll/unselectAll of multi select
  packages/ng/multi-select/panel/not-selected.pipe.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/multi-select/select.translate.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

ref(select): rework establishment directive to avoid AviV4 dependency
  packages/ng/core-select/etablishment/etablishments.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

docs(select): add a story with a custom establishmentDirective
  packages/ng/core-select/api/api.directive.ts
  packages/ng/core-select/etablishment/etablishments.directive.ts
  stories/documentation/forms/select/custom-establishment-example.component.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

Select all UI
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/styles/components/_picker.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(select): add jobQualification directive
  packages/ng/core-select/job-qualification/job-qualification-grouping.component.ts
  packages/ng/core-select/job-qualification/job-qualifications.directive.ts
  packages/ng/core-select/job-qualification/models.ts
  packages/ng/core-select/job-qualification/ng-package.json
  packages/ng/core-select/job-qualification/public-api.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(select): add users directive
  .storybook/msw/handlers.ts
  .storybook/msw/mocks.ts
  README.md
  packages/ng/core-select/user/me.provider.ts
  packages/ng/core-select/user/ng-package.json
  packages/ng/core-select/user/public-api.ts
  packages/ng/core-select/user/user-displayer.component.ts
  packages/ng/core-select/user/user-homonym.service.ts
  packages/ng/core-select/user/user-option.component.ts
  packages/ng/core-select/user/user-option.model.ts
  packages/ng/core-select/user/user.translate.ts
  packages/ng/core-select/user/users.directive.ts
  stories/documentation/forms/select/custom-user-example.component.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

ref(select): cleanup useless code and add more stories
  .storybook/msw/handlers.ts
  .storybook/msw/mocks.ts
  packages/ng/core-select/etablishment/etablishments.directive.ts
  packages/ng/core-select/user/users.directive.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

ref(storybook): rework API mocks to have a more realistic environment
  .storybook/msw/handlers.ts
  .storybook/msw/helpers.ts
  .storybook/msw/mocks.ts
Owners: @LuccaSA/ux-admins

ref(select): no more option selection using spacebar
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(select): typos and compilation errors
  packages/ng/core-select/establishment/establishment-grouping.component.ts
  packages/ng/core-select/establishment/establishment-grouping.service.ts
  packages/ng/core-select/establishment/establishments.directive.ts
  packages/ng/core-select/establishment/models.ts
  packages/ng/core-select/establishment/ng-package.json
  packages/ng/core-select/establishment/public-api.ts
  packages/ng/core-select/job-qualification/job-qualification-grouping.component.ts
  packages/ng/core-select/user/user-displayer.component.ts
  packages/ng/core-select/user/user-option.component.ts
  packages/ng/simple-select/panel/panel.component.html
  stories/documentation/forms/select/custom-establishment-example.component.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

[User Select / Qualification][Deprecated] Fix options gap (#2582)
  packages/ng/qualification/select/input/qualification-select-input.component.html
  stories/documentation/users/select/user-homonyms.stories.html
  stories/documentation/users/select/user-homonyms.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(form-field): stories improvement and change detection fixes (#2580)
  packages/ng/form-field/form-field.component.scss
  packages/ng/form-field/form-field.component.ts
  packages/ng/forms/checkbox-input/checkbox-input.component.ts
  packages/ng/forms/switch-input/switch-input.component.ts
  packages/ng/forms/text-input/text-input.component.scss
  packages/ng/forms/text-input/text-input.component.ts
  stories/documentation/forms/fields/form-field.stories.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(select): strange option selection when clue change
  packages/ng/multi-select/panel/panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(select): multi-select not updating options list
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(modal): first step to use LuDialogService instead of popup
  angular.json
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/index.ts
  packages/ng/dialog/model/injectors.ts
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.html
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.ts
  packages/ng/modal/dialog-adapter/dialog-ref-adapter.ts
  packages/ng/modal/modal.module.ts
  packages/ng/modal/modal.service.ts
  packages/scss/src/components/dialog/component.scss
  stories/documentation/overlays/modal/modal.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

docs(modal): story and config improvements
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/modal/modal.service.ts
  packages/scss/src/components/dialog/component.scss
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(modals): remove useless tests
  packages/ng/modal/modal.service.spec.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(modals): add legacyOpen method
  packages/ng/modal/modal.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(modals): export close directives
  packages/ng/dialog/public-api.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

a without href
  stories/documentation/navigation/menu/menu-basic.stories.ts
  stories/documentation/navigation/menu/menu-count.stories.ts
Owners: @LuccaSA/ux-devs

chore(dialog): add a story with form
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-devs

chore: remove todo comments
  packages/ng/modal/modal.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(dialog): stories improvements and LuModal mapping
  angular.json
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/dialog/model/index.ts
  packages/ng/dialog/model/injectors.ts
  packages/ng/dialog/public-api.ts
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.html
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.ts
  packages/ng/modal/dialog-adapter/dialog-ref-adapter.ts
  packages/ng/modal/modal.module.ts
  packages/ng/modal/modal.service.spec.ts
  packages/ng/modal/modal.service.ts
  packages/scss/src/components/dialog/component.scss
  stories/documentation/overlays/dialog/dialog.stories.ts
  stories/documentation/overlays/modal/modal.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(modal): Add German and Portuguese translation
  packages/ng/modal/modal.translate.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(dialog): Add Portuguese translation
  packages/ng/dialog/dialog-header/dialog-header.translate.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(multi-select): async placeholder value not showing
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/multi-select/displayer/default-displayer.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(front) : WIP index table
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-basic.stories.ts
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
Owners: @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs
