Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

fix(feat): trads + display fixes
  packages/ng/popup-employee/card/panel/employee-card-panel.component.html
  packages/ng/popup-employee/card/panel/employee-card-panel.component.ts
  packages/ng/popup-employee/card/pipe/inject-parameter.pipe.ts
  packages/ng/popup-employee/card/pipe/leave-ends-display.pipe.ts
  packages/ng/popup-employee/popup-employee.translate.ts
  packages/ng/popup-employee/service/employee-card.store.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

component scss
  packages/ng/popup-employee/_userCard.scss
  packages/ng/popup-employee/card/panel/employee-card-panel.component.scss
  packages/ng/popup-employee/card/panel/employee-card-panel.component.ts
  packages/scss/src/components/index.scss
  packages/scss/src/components/userCard/component.scss
  packages/scss/src/components/userCard/exports.scss
  packages/scss/src/components/userCard/index.scss
  packages/scss/src/components/userCard/mods.scss
  packages/scss/src/components/userCard/states.scss
  packages/scss/src/components/userCard/vars.scss
  stories/documentation/overlays/user-popover/user-popover.stories.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

card size
  packages/scss/src/components/userCard/component.scss
Owners: @LuccaSA/ux-devs

add(feat): popover changes
  packages/ng/popup-employee/card/panel/employee-card-panel.component.html
  packages/ng/popup-employee/card/pipe/leave-ends-display.pipe.ts
  packages/ng/popup-employee/popup-employee.translate.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

add(feat): user-popover feature flag
  packages/ng/popup-employee/card/trigger/employee-card-trigger.directive.ts
  packages/ng/popup-employee/card/trigger/employee-card-trigger.module.ts
  packages/ng/popup-employee/public-api.ts
  packages/ng/popup-employee/service/employee-card.store.ts
  packages/ng/popup-employee/user-popover.provider.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

enh(feat): image caching + fix present trad lack
  packages/ng/popup-employee/card/panel/employee-card-panel.component.html
  packages/ng/popup-employee/popup-employee.translate.ts
  packages/ng/popup-employee/public-api.ts
  packages/ng/popup-employee/service/employee-card.store.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

enh(feat): no lu-user-picture
  .storybook/msw/handlers.ts
  packages/ng/popup-employee/card/panel/employee-card-panel.component.html
  packages/ng/popup-employee/card/panel/employee-card-panel.component.ts
  stories/documentation/overlays/user-popover/user-popover.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(feat): display fixes
  packages/ng/popup-employee/card/panel/employee-card-panel.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(feat): position above and error on image
  packages/ng/popup-employee/card/panel/employee-card-panel.component.html
  packages/ng/popup-employee/card/panel/employee-card-panel.component.ts
  packages/ng/popup-employee/card/trigger/employee-card-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

userPicture import
  packages/ng/popup-employee/card/panel/employee-card-panel.component.scss
Owners: @LuccaSA/ux-devs

enh(styles) : link state behaviour
  packages/ng/popup-employee/card/panel/employee-card-panel.component.html
  packages/scss/src/components/userCard/component.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

add(feat): docs
  docs/user-popover.md
  packages/ng/popup-employee/public-api.ts
  stories/documentation/overlays/user-popover/user-popover.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(feat): isFuture or today true if null
  packages/ng/popup-employee/card/pipe/is-future.pipe.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

add(docs): default value
  stories/documentation/overlays/user-popover/user-popover.stories.ts
Owners: @LuccaSA/ux-devs

update(naming): rename employee card to user popover
  docs/user-popover.md
  packages/ng/popup-employee/card/panel/user-popover-panel.component.html
  packages/ng/popup-employee/card/panel/user-popover-panel.component.scss
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
  packages/ng/popup-employee/card/panel/user-popover-panel.model.ts
  packages/ng/popup-employee/card/trigger/employee-card-trigger.module.ts
  packages/ng/popup-employee/card/trigger/user-popover-trigger.directive.ts
  packages/ng/popup-employee/public-api.ts
  packages/ng/popup-employee/service/employee-service.model.ts
  packages/ng/popup-employee/service/user-popover-service.model.ts
  packages/ng/popup-employee/service/user-popover.store.ts
  packages/ng/popup-employee/user-popover.model.ts
  packages/ng/popup-employee/user-popover.providers.ts
  stories/documentation/overlays/user-popover/user-popover.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

grid with container queries
  packages/scss/src/components/grid/component.scss
  packages/scss/src/components/grid/index.scss
  stories/documentation/structure/grids/grids-auto-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-form.stories.ts
  stories/documentation/structure/grids/grids-position-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-position-responsive.stories.ts
  stories/documentation/structure/grids/grids-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-responsive.stories.ts
  stories/documentation/structure/grids/grids-span-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-span-responsive.stories.ts
  stories/documentation/structure/grids/grids-span.stories.ts
Owners: @LuccaSA/ux-devs

fix(feat): merge conflict
  .storybook/msw/handlers.ts
Owners: @LuccaSA/ux-admins

fix(establishment): wrong query filter (use search instead of clue)
  packages/ng/core-select/establishment/establishments.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(job-qualification): wrong query filter (use search instead of clue)
  packages/ng/core-select/job-qualification/job-qualifications.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix states + mods issue
  packages/scss/src/components/button/index.scss
  stories/qa/button/button.stories.html
Owners: @LuccaSA/ux-devs

fix states + mods issue (#2651)
  packages/scss/src/components/button/index.scss
  stories/qa/button/button.stories.html
Owners: @LuccaSA/ux-devs

fix: v1.11.4
  Jenkinsfile
Owners: @LuccaSA/ux-admins

fix(establishment): wrong query filter (use search instead of clue) (#2650)
  packages/ng/core-select/establishment/establishments.directive.ts
  packages/ng/core-select/job-qualification/job-qualifications.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix: add global.json for e2e tests
  e2e/global.json
Owners: @LuccaSA/ux-admins

misc fixes
  stories/qa/page-header/page-header.stories.html
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

apply spacing on new PRs
  packages/ng/styles/components/_picker.scss
  packages/ng/styles/definitions/option/_option-item.scss
  packages/scss/src/components/avatar/mods.scss
  packages/scss/src/components/avatar/vars.scss
  packages/scss/src/components/checkbox/component.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/dialog/vars.scss
  packages/scss/src/components/navside/component.scss
  stories/documentation/feedback/callout-popover/html&css/basic.stories.ts
  stories/documentation/texts/tags/palettes.stories.ts
  stories/qa/tags/tags.stories.html
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

revert range queries
  packages/scss/src/commons/utils/media.scss
Owners: @LuccaSA/ux-devs

fix gauge QA
  stories/qa/gauge/gauge.stories.html
Owners: @LuccaSA/ux-devs

fix(establishment): use correct grouping when searching
  packages/ng/core-select/establishment/establishments.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(core-select): opening panel using space
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/simple-select/input/select-input.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore: mocks supports sorting for ApiV4 mocks
  .storybook/msw/handlers.ts
  .storybook/msw/helpers.ts
Owners: @LuccaSA/ux-admins

fix(qualification): use correct grouping when searching
  packages/ng/core-select/job-qualification/job-qualifications.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(simple/multi-select): support alternative display when searching while having grouped options
  packages/ng/core-select/option/group.pipe.ts
  packages/ng/core-select/option/index.ts
  packages/ng/core-select/option/option.component.html
  packages/ng/core-select/option/option.component.scss
  packages/ng/core-select/option/option.component.ts
  packages/ng/core-select/panel/index.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

docs: fix options order in group by stories
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-devs

fix option item spacing
  packages/ng/option/item/tree-option-item.component.scss
Owners: @LuccaSA/ux-devs

comment
  packages/scss/src/commons/utils/media.scss
Owners: @LuccaSA/ux-devs

fix UI
  packages/ng/core-select/option/option.component.html
  packages/ng/core-select/option/option.component.scss
  packages/ng/styles/components/_picker.scss
  packages/ng/styles/definitions/option/_option-item.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(feat): PR fixes
  docs/user-popover.md
  packages/ng/popup-employee/card/panel/user-popover-panel.component.html
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
  packages/ng/popup-employee/card/pipe/inject-parameter.pipe.ts
  packages/ng/popup-employee/card/pipe/is-future.pipe.ts
  packages/ng/popup-employee/card/trigger/user-popover-trigger.directive.ts
  packages/ng/popup-employee/service/user-popover.store.ts
  packages/ng/popup-employee/user-popover.providers.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix * size
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs

fix * size (#2657)
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs
