Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(front) : allow cells background-color override
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/states.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

fix(front) : overrided background color + selectable
  packages/scss/src/components/indexTable/states.scss
Owners: @LuccaSA/ux-devs

wip
  packages/scss/src/components/callout/index.scss
  packages/scss/src/components/callout/mods.scss
  stories/documentation/feedback/callout/html&css/callout-icons.stories.ts
Owners: @LuccaSA/ux-devs

remove callout title
  stories/documentation/feedback/callout/angular/callout-basic.stories.ts
  stories/documentation/feedback/callout/html&css/callout-basic.stories.ts
  stories/documentation/feedback/callout/html&css/callout-icons.stories.ts
  stories/documentation/feedback/callout/html&css/callout-tiny.stories.ts
  stories/documentation/feedback/callout/html&css/callout-title.stories.ts
  stories/qa/callout/callout.stories.html
Owners: @LuccaSA/ux-devs

remove callout title (#2666)
  stories/documentation/feedback/callout/angular/callout-basic.stories.ts
  stories/documentation/feedback/callout/html&css/callout-basic.stories.ts
  stories/documentation/feedback/callout/html&css/callout-icons.stories.ts
  stories/documentation/feedback/callout/html&css/callout-tiny.stories.ts
  stories/documentation/feedback/callout/html&css/callout-title.stories.ts
  stories/qa/callout/callout.stories.html
Owners: @LuccaSA/ux-devs

fix(front) : stacks visuals bugs
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

feat(schematics): new CssMapper class for easy CSS schematics
  packages/ng/schematics/collection.json
  packages/ng/schematics/lib/css-mapper.ts
  packages/ng/schematics/tokens-spacing/index.ts
  packages/ng/schematics/tokens-spacing/migration.spec.ts
  packages/ng/schematics/tokens-spacing/tests/component.input.scss
  packages/ng/schematics/tokens-spacing/tests/component.input.ts
  packages/ng/schematics/tokens-spacing/tests/component.output.scss
  packages/ng/schematics/tokens-spacing/tests/component.output.ts
  packages/ng/schematics/tokens-spacing/tests/template.input.html
  packages/ng/schematics/tokens-spacing/tests/template.output.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(timePicker): WIP timepicker
  .vscode/settings.json
  package-lock.json
  package.json
  packages/ng/time-picker/date-primitives.ts
  packages/ng/time-picker/date.utils.ts
  packages/ng/time-picker/duration.utils.ts
  packages/ng/time-picker/math.utils.ts
  packages/ng/time-picker/misc.utils.ts
  packages/ng/time-picker/repeat-on-hold.directive.ts
  packages/ng/time-picker/time-picker-part.component.html
  packages/ng/time-picker/time-picker-part.component.ts
  packages/ng/time-picker/time-picker.component.html
  packages/ng/time-picker/time-picker.component.ts
  packages/ng/time-picker/time-picker.model.ts
  packages/ng/time-picker/time-picker.translate.ts
  packages/scss/src/components/timepicker/exports.scss
  packages/scss/src/components/timepicker/todo-new-timepicker.scss
  stories/documentation/forms/timepicker/timepicker-advanced.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(simple-select): base test setup for #2667
  stories/documentation/overlays/dialog/dialog-service.stories.ts
Owners: @LuccaSA/ux-devs

fix(multi-select): placeholder not showing on custom displayers
  packages/ng/multi-select/displayer/displayer-input.directive.ts
  stories/documentation/forms/select/multi-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(select): panel position not updating on api data changes
  packages/ng/core-select/api/api.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore: lint fix
  packages/ng/multi-select/displayer/displayer-input.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(form-field): multi-input management
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
  packages/ng/form-field/input.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(radio): use ng-content for label projection
  packages/ng/forms/radio-group-input/radio/radio.component.html
  packages/ng/forms/radio-group-input/radio/radio.component.ts
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

form-fieldset.mod-S
  packages/scss/src/components/form/index.scss
  stories/documentation/forms/fields/radio/html&css/radiofield-size.stories.ts
Owners: @LuccaSA/ux-devs

feat(radio): first implementation of group and radio
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
  packages/ng/form-field/input.directive.ts
  packages/ng/forms/public-api.ts
  packages/ng/forms/radio-group-input/radio-group-input.component.scss
  packages/ng/forms/radio-group-input/radio-group-input.component.ts
  packages/ng/forms/radio-group-input/radio-group-token.ts
  packages/ng/forms/radio-group-input/radio/radio.component.html
  packages/ng/forms/radio-group-input/radio/radio.component.scss
  packages/ng/forms/radio-group-input/radio/radio.component.ts
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(select): panel position not updating on api data changes (#2673)
  packages/ng/core-select/api/api.directive.ts
  stories/documentation/overlays/dialog/dialog-service.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore: build fixes
  packages/ng/form-field/form-field.component.ts
  packages/ng/forms/radio-group-input/radio-group-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(multi-select): placeholder not showing on custom displayers (#2672)
  packages/ng/multi-select/displayer/displayer-input.directive.ts
  stories/documentation/forms/select/multi-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(schematics): palettes migration schematic
  packages/ng/schematics/collection.json
  packages/ng/schematics/palettes/index.ts
  packages/ng/schematics/palettes/migration.spec.ts
  packages/ng/schematics/palettes/tests/component.input.scss
  packages/ng/schematics/palettes/tests/component.input.ts
  packages/ng/schematics/palettes/tests/component.output.scss
  packages/ng/schematics/palettes/tests/component.output.ts
  packages/ng/schematics/palettes/tests/template.input.html
  packages/ng/schematics/palettes/tests/template.output.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

css vars
  packages/scss/src/components/breadcrumbs/component.scss
  packages/scss/src/components/breadcrumbs/index.scss
  packages/scss/src/components/callout/component.scss
  packages/scss/src/components/callout/mods.scss
  packages/scss/src/components/callout/vars.scss
  stories/documentation/navigation/breadcrumbs/breadcrumbs-compact.stories.ts
Owners: @LuccaSA/ux-devs

fix merge issue
  packages/scss/src/components/callout/vars.scss
Owners: @LuccaSA/ux-devs

fix(establishment): wrong operations query param
  packages/ng/core-select/establishment/establishments.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

alignement
  packages/scss/src/components/tag/component.scss
  packages/scss/src/components/tag/mods.scss
  packages/scss/src/components/tag/vars.scss
Owners: @LuccaSA/ux-devs

Tags with icon (#2581)
  packages/scss/src/components/tag/component.scss
  packages/scss/src/components/tag/mods.scss
  stories/qa/tags/tags.stories.html
Owners: @LuccaSA/ux-devs

Component callout refacto (#2605)
  packages/scss/src/components/breadcrumbs/component.scss
  packages/scss/src/components/breadcrumbs/index.scss
  packages/scss/src/components/callout/component.scss
  packages/scss/src/components/callout/mods.scss
  packages/scss/src/components/callout/vars.scss
  stories/documentation/navigation/breadcrumbs/breadcrumbs-compact.stories.ts
Owners: @LuccaSA/ux-devs

Css var for content icon (#2595)
  packages/icons/src/commons/utils/icon.scss
  packages/icons/src/icon/component.scss
  packages/icons/src/icon/index.scss
  packages/icons/src/icon/mods.scss
  packages/icons/src/icon/vars.scss
Owners: @LuccaSA/ux-devs

fix(radio): make click on label work as intended
  packages/ng/form-field/form-field.component.ts
  packages/ng/forms/radio-group-input/radio/radio.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(form-field): label can now be a ng-template or a string (#2661)
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(lu-modal): proxy `close` method from the dialog ref
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(radio): add mod-S to fieldset when size is set to S
  packages/ng/form-field/form-field.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix textfield colors
  packages/scss/src/components/textField/vars.scss
Owners: @LuccaSA/ux-devs

fix textfield colors (#2678)
  packages/scss/src/components/textField/vars.scss
Owners: @LuccaSA/ux-devs

chore: conflicts fix w/ rc branch
  packages/ng/form-field/form-field.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(lu-modal): proxy `close` method from the dialog ref (#2676)
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(textarea): remove cols and rows inputs
  packages/ng/forms/textarea-input/textarea-input.component.html
  packages/ng/forms/textarea-input/textarea-input.component.ts
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(form-fields): new textarea-input wrapper (#2601)
  packages/ng/form-field/form-field.component.ts
  packages/ng/forms/public-api.ts
  packages/ng/forms/textarea-input/textarea-input.component.html
  packages/ng/forms/textarea-input/textarea-input.component.ts
  packages/scss/src/components/textField/component.scss
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore: fix build
  packages/ng/form-field/form-field.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(checkbox): issue #2677 add mixed input
  packages/ng/forms/checkbox-input/checkbox-input.component.html
  packages/ng/forms/checkbox-input/checkbox-input.component.ts
  stories/documentation/forms/fields/checkbox/angular/checkboxfield.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(fields): new radio wrapper components (#2674)
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
  packages/ng/form-field/input.directive.ts
  packages/ng/forms/public-api.ts
  packages/ng/forms/radio-group-input/radio-group-input.component.scss
  packages/ng/forms/radio-group-input/radio-group-input.component.ts
  packages/ng/forms/radio-group-input/radio-group-token.ts
  packages/ng/forms/radio-group-input/radio/radio.component.html
  packages/ng/forms/radio-group-input/radio/radio.component.scss
  packages/ng/forms/radio-group-input/radio/radio.component.ts
  packages/scss/src/components/form/index.scss
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-size.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs
