Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

feat(core-select): export MAGIC_PAGE_SIZE const
  packages/ng/core-select/api/public-api.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

docs(core-select): Add a paragraph regarding limit in user override
  docs/core-select-users-directive.md
Owners: @LuccaSA/ux-admins

chore(tooltip): connect position logic for new CSS animations
  packages/ng/tooltip/panel/tooltip-panel.component.html
  packages/ng/tooltip/panel/tooltip-panel.component.ts
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(tooltip): we don't need LuClass anymore on panel
  packages/ng/tooltip/panel/tooltip-panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

revert checkbox fix for border on windows
  packages/scss/src/components/checkbox/component.scss
  packages/scss/src/components/checkbox/states.scss
Owners: @LuccaSA/ux-devs

chore(lint): Apply fix
  packages/ng/core-select/api/public-api.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(core-select): Rename MAGIC_PAGE_SIZE
  docs/core-select-users-directive.md
  packages/ng/core-select/api/api-v3.directive.spec.ts
  packages/ng/core-select/api/api.directive.ts
  packages/ng/core-select/api/public-api.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

[Stylelint] Create shareable package for lucca-front.
  packages/stylelint-config/README.md
  packages/stylelint-config/package.json
  packages/stylelint-config/stylelint.config.mjs
Owners: @LuccaSA/ux-admins

[Stylelint] Use legacy notation for colors (`rgba` instead of `rgb`).
  packages/stylelint-config/stylelint.config.mjs
Owners: @LuccaSA/ux-admins

[Stylelint] Update documentation:
  packages/stylelint-config/README.md
Owners: @LuccaSA/ux-admins
