Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(select): position not updating when new options are set
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/core-select/panel/panel.models.ts
  packages/ng/multi-select/input/panel.model.ts
  packages/ng/simple-select/input/panel-ref.factory.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

departement fix hozitontal spacing
  packages/ng/option/item/tree-option-item.component.scss
Owners: @LuccaSA/ux-devs

fix horizontal spacing on departement
  packages/ng/option/item/tree-option-item.component.scss
Owners: @LuccaSA/ux-devs

feat(front) : add sorted indexTable
  packages/scss/src/components/index.scss
  packages/scss/src/components/indexTableSorted/component.scss
  packages/scss/src/components/indexTableSorted/exports.scss
  packages/scss/src/components/indexTableSorted/index.scss
  packages/scss/src/components/indexTableSorted/mods.scss
  packages/scss/src/components/indexTableSorted/states.scss
  packages/scss/src/components/indexTableSorted/vars.scss
  stories/documentation/listings/index-table/index-table-sorted.stories.ts
Owners: @LuccaSA/ux-devs

fix(select): position not updating when new options are set (#2623)
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/core-select/panel/panel.models.ts
  packages/ng/multi-select/input/panel.model.ts
  packages/ng/simple-select/input/panel-ref.factory.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

departement fix hozitontal spacing (#2624)
  packages/ng/option/item/tree-option-item.component.scss
Owners: @LuccaSA/ux-devs

Add padding on simple & multi empty state
  packages/ng/styles/components/_picker.scss
Owners: @LuccaSA/ux-devs

Add padding on simple & multi empty state (#2625)
  packages/ng/styles/components/_picker.scss
Owners: @LuccaSA/ux-devs

refacto loading
  packages/scss/src/components/loading/component.scss
  packages/scss/src/components/loading/index.scss
  packages/scss/src/components/loading/mods.scss
  packages/scss/src/components/loading/vars.scss
  stories/documentation/loaders/loadings/loadings-basic.stories.ts
Owners: @LuccaSA/ux-devs

fix dvh fallback
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/loading/mods.scss
Owners: @LuccaSA/ux-devs

feat(front) : states management
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/states.scss
Owners: @LuccaSA/ux-devs

feat(front) : add actions
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/states.scss
  stories/documentation/listings/index-table/index-table-actions.stories.ts
Owners: @LuccaSA/ux-devs

chore(front) : naming
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/states.scss
Owners: @LuccaSA/ux-devs

chore(lf): add stories and documentation
  packages/scss/src/components/filterBar/component.scss
  packages/scss/src/components/grid/component.scss
  stories/documentation/structure/filter-bar/filter-bar-basic.stories.ts
  stories/qa/filterBar/filter-bar.stories.html
  stories/qa/filterBar/filter-bar.stories.ts
Owners: @LuccaSA/ux-devs

:empty
  packages/scss/src/components/filterBar/component.scss
  stories/documentation/structure/filter-bar/filter-bar-basic.stories.ts
  stories/qa/filterBar/filter-bar.stories.html
Owners: @LuccaSA/ux-devs

fix schematics icons
  packages/ng/schematics/new-icons/mapping.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix schematics icons (#2627)
  packages/ng/schematics/new-icons/mapping.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

link stories
  stories/documentation/actions/links/link-disabled.stories.ts
  stories/documentation/actions/links/link-nowrap.stories.ts
Owners: @LuccaSA/ux-devs

link stories (#2628)
  stories/documentation/actions/links/link-disabled.stories.ts
  stories/documentation/actions/links/link-nowrap.stories.ts
Owners: @LuccaSA/ux-devs

unit & comma utilities deprecated
  packages/scss/src/components/util/index.scss
Owners: @LuccaSA/ux-devs

docs: markdown integration tentative (#2600)
  docs/dialog.md
Owners: @LuccaSA/ux-admins

html story & header classes
  packages/scss/src/components/form/component.scss
  stories/documentation/forms/examples/html&css/form-basic.stories.ts
Owners: @LuccaSA/ux-devs

docs(forms): add Angular example for complete form structure
  stories/documentation/forms/examples/angular/form-basic.stories.ts
Owners: @LuccaSA/ux-devs

Component sample
  packages/scss/src/components/_sample/component.scss
  packages/scss/src/components/_sample/exports.scss
  packages/scss/src/components/_sample/index.scss
  packages/scss/src/components/_sample/mods.scss
  packages/scss/src/components/_sample/states.scss
  packages/scss/src/components/_sample/vars.scss
Owners: @LuccaSA/ux-devs

feat(front) : add mass selection, remove mod-withPagination
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-pagination.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : trad
  packages/scss/src/components/indexTable/component.scss
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : missing checkbox
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
Owners: @LuccaSA/ux-devs

fix(dialog): header missing customisation possibilities
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/vars.scss
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(dialog): add h1 to modal adapter and lint fixes
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(front) : responsive stackable
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix(front) : stack3 offset
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix stories DOM
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
  stories/documentation/overlays/dialog/dialog-drawerFromBottom.stories.ts
Owners: @LuccaSA/ux-devs

fix(dialog): header missing customisation possibilities (#2632)
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/modal/dialog-adapter/dialog-content-adapter/dialog-content-adapter.component.html
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/vars.scss
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
  stories/documentation/overlays/dialog/dialog-drawerFromBottom.stories.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(front) : shadows overhaul
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/states.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

fix(front) : state
  packages/scss/src/components/indexTable/states.scss
Owners: @LuccaSA/ux-devs

feat(front) : better sticky header
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

chore(front) : add scole="col" on th
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : add hover + touch behavior for mod-actions
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/states.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-actions.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : wrong <th> usage
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
Owners: @LuccaSA/ux-devs

Revert "fix(front) : wrong <th> usage"
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
Owners: @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs
