Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

fix(select): remove disabled input (anti-cva) + change property to observable
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/multi-select/displayer/default-displayer.component.ts
  packages/ng/simple-select/input/select-input.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(select): remove disable from storybook https://github.com/storybookjs/storybook/issues/20558
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-devs

fix(select): fix mod-unkillable on disabled
  packages/ng/multi-select/displayer/default-displayer.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(select): remove clearer on disabled select
  packages/ng/multi-select/input/select-input.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

doc(multi-select): add technical story for check dynamic disabled
  stories/documentation/forms/fields/multi-select/angular/multi-select.stories.ts
  stories/documentation/forms/fields/simple-select/angular/simple-select.stories.ts
  stories/documentation/forms/select/multi-select.stories.ts
Owners: @LuccaSA/ux-devs

fix(dialog): fix result$ type being `T | void` while it shouldn't
  packages/ng/dialog/model/dialog-config.ts
  stories/documentation/overlays/dialog/dialog-service.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(text-field): add `step` input and `noSpinButtons` flag to remove spin buttons
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/forms/text-input/text-input.component.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(feat)
  packages/ng/popup-employee/card/panel/user-popover-panel.component.scss
  packages/ng/popup-employee/card/trigger/user-popover-trigger.directive.ts
  packages/scss/src/components/userCard/index.scss
  stories/documentation/overlays/user-popover/user-popover.stories.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix auto margin
  packages/scss/src/commons/core.scss
  packages/scss/src/commons/vars.scss
Owners: @LuccaSA/ux-devs

delete legacy qa code
  stories/qa/gauge/gauge.stories.html
Owners: @LuccaSA/ux-devs

feat(form-field): label can now be a ng-template or a string
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix avatar style import in NG component
  packages/ng/popup-employee/card/panel/user-popover-panel.component.scss
  packages/ng/styles/definitions/user/user-picture.scss
  packages/scss/src/components/userCard/index.scss
Owners: @LuccaSA/ux-devs

feat(front) : state + outline overhaul
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/states.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-actions.stories.ts
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : add responsive stackable v2
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

chore(front) : naming
  stories/documentation/listings/index-table/index-table-actions.stories.ts
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : transitions, alignments
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix(front) : checkbox padding
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix(front) : better focus management for actions
  packages/scss/src/components/indexTable/states.scss
Owners: @LuccaSA/ux-devs

fix(front) : remove laterals borders
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix(front) : add missings indexTable-body-row-cell-action
  stories/documentation/listings/index-table/index-table-nested.stories.ts
Owners: @LuccaSA/ux-devs

feat(text-field): add `step` input and `noSpinButtons` flag to remove spin buttons (#2660)
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/forms/text-input/text-input.component.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(form-field): add `statusControl` input to allow parent status to impact display
  packages/ng/form-field/form-field.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(form-field): add `errorInlineMessage` to provide a message to show only on invalid state
  packages/ng/form-field/form-field.component.html
  packages/ng/form-field/form-field.component.ts
  stories/documentation/forms/fields/form-field.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(front) : checkbox aligments + button auto mods
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  stories/documentation/listings/index-table/index-table-actions.stories.ts
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : remove redundant margin
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

feat(front) : no longer cancel selected apparence on hover
  packages/scss/src/components/indexTable/states.scss
Owners: @LuccaSA/ux-devs

feat(form-fields): new `lu-number-input` component
  packages/ng/forms/number-input/number-input.component.html
  packages/ng/forms/number-input/number-input.component.scss
  packages/ng/forms/number-input/number-input.component.ts
  packages/ng/forms/number-input/number-input.translate.ts
  packages/ng/forms/public-api.ts
  stories/documentation/forms/fields/number/angular/numberfield.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(front) : mass selection design change
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : vertical rythm adjustements + minors fixes
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/states.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

chore(form-fields): code cleanup
  packages/ng/form-field/form-field.component.ts
  packages/ng/forms/text-input/text-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(front) : font weigh reset for every cells types
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

feat(front) : move responsive MQ to index level
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

Revert range queries (#2653)
  packages/scss/src/commons/utils/media.scss
Owners: @LuccaSA/ux-devs

add money check icon
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/icons-list.ts
  packages/icons/index.d.ts
  packages/icons/selection.json
  packages/icons/src/commons/config.scss
Owners: @LuccaSA/ux-devs

fix(multi-select): missing gap between options
  packages/ng/styles/components/_picker.scss
Owners: @LuccaSA/ux-devs

fix(core-select): no more blink when switching from empty clue to clue and using grouping
  packages/ng/core-select/panel/index.ts
  packages/ng/core-select/panel/panel.utils.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix spacings
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/styles/components/_picker.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat: Better sorting and display for grouped select (#2659)
  .storybook/msw/handlers.ts
  .storybook/msw/helpers.ts
  packages/ng/core-select/establishment/establishments.directive.ts
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/core-select/job-qualification/job-qualifications.directive.ts
  packages/ng/core-select/option/group.pipe.ts
  packages/ng/core-select/option/index.ts
  packages/ng/core-select/option/option.component.html
  packages/ng/core-select/option/option.component.ts
  packages/ng/core-select/panel/index.ts
  packages/ng/core-select/panel/panel.utils.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/simple-select/input/select-input.component.html
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.ts
  packages/ng/styles/components/_picker.scss
  packages/ng/styles/definitions/option/_option-item.scss
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

add weather stars icon
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/icons-list.ts
  packages/icons/index.d.ts
  packages/icons/selection.json
  packages/icons/src/commons/config.scss
Owners: @LuccaSA/ux-devs

[Icons] Money Check & Weather Stars (#2665)
  packages/icons/font/lucca-icons.svg
  packages/icons/font/lucca-icons.ttf
  packages/icons/font/lucca-icons.woff
  packages/icons/font/lucca-icons.woff2
  packages/icons/icons-list.ts
  packages/icons/index.d.ts
  packages/icons/selection.json
  packages/icons/src/commons/config.scss
Owners: @LuccaSA/ux-devs
