Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

chore(dialog): use new class name for backdrop
  packages/ng/dialog/dialog.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(dialog): show close button if dismissible
  packages/ng/dialog/dialog-header/dialog-header.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

scss imports + fix display icon
  packages/ng/dialog/dialog-header/dialog-header.component.scss
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/scss/src/components/dialog/vars.scss
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

classes for closing buttons
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/scss/src/components/dialog/component.scss
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
  stories/documentation/overlays/dialog/dialog-drawerFromBotton.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(dialog): fix missing import for cdk container
  packages/ng/dialog/dialog-header/dialog-header.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): use _ariaLabelledByQueue for aria manipulation in cdk container
  packages/ng/dialog/dialog-header/dialog-header.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): add TODO for #2558
  packages/ng/dialog/dialog-header/dialog-header.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix checkbox border
  packages/scss/src/components/checkbox/component.scss
  packages/scss/src/components/checkbox/states.scss
Owners: @LuccaSA/ux-devs

chore(dialog): add translations
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog-header/dialog-header.translate.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): safe takeUntil for close subscription
  packages/ng/dialog/dialog.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): absolute import path fix
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog-header/dialog-header.translate.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): autofocus and canClose fix
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/form-field/input.directive.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(dialog): better focus logic
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/form-field/input.directive.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

feat(dialog): template-driven dialogs !
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/dialog/dialog.component.scss
  packages/ng/dialog/dialog/dialog.component.ts
  packages/ng/dialog/directives/dialog-close.directive.ts
  packages/ng/dialog/directives/dialog-dismiss.directive.ts
  packages/ng/dialog/directives/dialog-open.directive.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/dialog/public-api.ts
  packages/ng/form-field/input.directive.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

docs(dialog): comment typos
  packages/ng/dialog/model/dialog-config.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

wip
  packages/ng/tooltipv2/ng-package.json
  packages/ng/tooltipv2/public-api.ts
  packages/ng/tooltipv2/tooltip.component.html
  packages/ng/tooltipv2/tooltip.component.scss
  packages/ng/tooltipv2/tooltip.component.ts
  stories/documentation/overlays/tooltip/angular/tooltip-basic.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

add surface backdrop
  packages/ng/styles/components/cdk/_overlay.scss
  packages/scss/src/commons/config.scss
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

chore(dialog): use inline template for footer too
  packages/ng/dialog/dialog-footer/dialog-footer.component.html
  packages/ng/dialog/dialog-footer/dialog-footer.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

Fix checkbox border (#2559)
  packages/scss/src/components/checkbox/component.scss
  packages/scss/src/components/checkbox/states.scss
Owners: @LuccaSA/ux-devs

form-fieldset
  packages/scss/src/components/form/component.scss
  packages/scss/src/components/form/index.scss
  packages/scss/src/components/formLabel/component.scss
  stories/documentation/forms/fields/radio/html&css/radiofield-disabled.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-invalid.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-size.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield.stories.ts
Owners: @LuccaSA/ux-devs

focus-visible + fix link
  packages/scss/src/components/avatarWrapper/component.scss
  packages/scss/src/components/clear/component.scss
  packages/scss/src/components/inlineMessage/mods.scss
  packages/scss/src/components/link/mods.scss
Owners: @LuccaSA/ux-devs

border
  packages/scss/src/components/avatarWrapper/vars.scss
Owners: @LuccaSA/ux-devs

avatar
  packages/scss/src/components/avatar/component.scss
  packages/scss/src/components/avatar/exports.scss
  packages/scss/src/components/avatar/index.scss
  packages/scss/src/components/avatar/mods.scss
  packages/scss/src/components/avatar/states.scss
  packages/scss/src/components/avatar/vars.scss
  packages/scss/src/components/avatarWrapper/mods.scss
  packages/scss/src/components/avatarWrapper/vars.scss
  packages/scss/src/components/index.scss
  stories/documentation/users/avatars/avatars.stories.ts
Owners: @LuccaSA/ux-devs

Avatars (#2531)
  packages/scss/src/components/avatar/component.scss
  packages/scss/src/components/avatar/exports.scss
  packages/scss/src/components/avatar/index.scss
  packages/scss/src/components/avatar/mods.scss
  packages/scss/src/components/avatar/states.scss
  packages/scss/src/components/avatar/vars.scss
  packages/scss/src/components/clear/component.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/inlineMessage/mods.scss
  packages/scss/src/components/link/mods.scss
  stories/documentation/users/avatars/avatars.stories.ts
Owners: @LuccaSA/ux-devs

Fieldset for inputs radio (#2527)
  packages/scss/src/components/form/component.scss
  packages/scss/src/components/form/index.scss
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/inlineMessage/index.scss
  stories/documentation/forms/fields/radio/html&css/radiofield-disabled.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-invalid.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-size.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield.stories.ts
Owners: @LuccaSA/ux-devs

tabindex focus-visible
  packages/scss/src/commons/base.scss
Owners: @LuccaSA/ux-devs

fix gap for legacy mandatory checkbox
  packages/scss/src/components/checkbox/component.scss
Owners: @LuccaSA/ux-devs

Fix gap for legacy mandatory checkbox (#2564)
  packages/scss/src/components/checkbox/component.scss
Owners: @LuccaSA/ux-devs

chore(dialog): use inline template for content too
  packages/ng/dialog/dialog-content/dialog-content.component.html
  packages/ng/dialog/dialog-content/dialog-content.component.scss
  packages/ng/dialog/dialog-content/dialog-content.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

ref(button): issue #2499 strongly type elementRef
  packages/ng/button/button.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): remove close listeners entirely if dismissed is false
  packages/ng/dialog/dialog.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

refacto menu + mod-vertical
  packages/scss/src/components/menu/component.scss
  packages/scss/src/components/menu/index.scss
  packages/scss/src/components/menu/mods.scss
  packages/scss/src/components/menu/states.scss
  packages/scss/src/components/menu/vars.scss
  stories/documentation/navigation/menu/menu-basic.stories.ts
  stories/documentation/navigation/menu/menu-container.stories.ts
  stories/documentation/navigation/menu/menu-count.stories.ts
Owners: @LuccaSA/ux-devs

fix generated icon classes & add label to story
  packages/ng/button/button.component.ts
  stories/documentation/actions/button/angular/button-icon.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

ref(button): issue #2499 simplify nodeName filter
  packages/ng/button/button.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): remove useless empty imports
  packages/ng/dialog/dialog-content/dialog-content.component.ts
  packages/ng/dialog/dialog-footer/dialog-footer.component.ts
  packages/ng/dialog/dialog/dialog.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

test commit
  stories/documentation/actions/button/angular/button-icon.stories.ts
Owners: @LuccaSA/ux-devs

enh(button): dynamically add mod-onlyIcon & withIcon classes (#2514)
  packages/ng/button/button.component.ts
  stories/documentation/actions/button/angular/button-icon.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

scrollBox
  packages/scss/src/commons/config.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/menu/component.scss
  packages/scss/src/components/menu/mods.scss
  packages/scss/src/components/menu/vars.scss
  packages/scss/src/components/scrollBox/component.scss
  packages/scss/src/components/scrollBox/exports.scss
  packages/scss/src/components/scrollBox/index.scss
  packages/scss/src/components/scrollBox/mods.scss
  packages/scss/src/components/scrollBox/states.scss
  packages/scss/src/components/scrollBox/vars.scss
  stories/documentation/navigation/menu/menu-basic.stories.ts
  stories/documentation/navigation/menu/menu-count.stories.ts
  stories/documentation/navigation/menu/menu-scrollbox.stories.ts
Owners: @LuccaSA/ux-devs

scroll margin
  packages/scss/src/components/menu/component.scss
Owners: @LuccaSA/ux-devs

story
  stories/documentation/navigation/menu/menu-scrollbox.stories.ts
Owners: @LuccaSA/ux-devs
