Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

apply only on page
  packages/scss/src/components/emptyState/component.scss
  packages/scss/src/components/emptyState/mods.scss
Owners: @LuccaSA/ux-devs

[EmptyState] Tweaks for narrow views (#2725)
  packages/scss/src/components/emptyState/mods.scss
Owners: @LuccaSA/ux-devs

fixed(lu-dialog): handled canClose option in LuDialogService
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-config.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix callout feedback gap & add variables
  packages/scss/src/components/calloutFeedbackList/component.scss
  packages/scss/src/components/calloutFeedbackList/mods.scss
  packages/scss/src/components/calloutFeedbackList/vars.scss
Owners: @LuccaSA/ux-devs

fix callout feedback gap & add variables (#2734)
  packages/scss/src/components/calloutFeedbackList/component.scss
  packages/scss/src/components/calloutFeedbackList/mods.scss
  packages/scss/src/components/calloutFeedbackList/vars.scss
Owners: @LuccaSA/ux-devs

asterisk ui
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs

use title mixin
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs

lint
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs

[Form label] Mandatory asterisk ui (#2735)
  packages/scss/src/components/formLabel/component.scss
Owners: @LuccaSA/ux-devs

First option checked
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
Owners: @LuccaSA/ux-devs

Add HTML textarea story
  stories/documentation/forms/fields/textarea/html&css/textareafield.stories.ts
Owners: @LuccaSA/ux-devs

counter : display version on story
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
Owners: @LuccaSA/ux-devs

format selects
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-devs

button type & label
  stories/documentation/actions/button/angular/button-basic.stories.ts
  stories/documentation/actions/button/angular/button-counter.stories.ts
  stories/documentation/actions/button/angular/button-icon.stories.ts
Owners: @LuccaSA/ux-devs

17.4 Format stories (#2738)
  stories/documentation/actions/button/angular/button-basic.stories.ts
  stories/documentation/actions/button/angular/button-counter.stories.ts
  stories/documentation/actions/button/angular/button-icon.stories.ts
  stories/documentation/forms/fields/radio/angular/radiofield.stories.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/forms/fields/textarea/angular/textarea.stories.ts
  stories/documentation/forms/fields/textarea/html&css/textareafield.stories.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-devs

fix(users.directive): formerEmployee query param & avoid infinite recursion
  packages/ng/core-select/user/users.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(user-picture): use lazy loaded image
  packages/ng/user/picture/user-picture.component.html
  packages/ng/user/picture/user-picture.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(front) : conflicts
  packages/scss/src/components/index.scss
  packages/scss/src/components/table/index.scss
  packages/scss/src/components/table/mods.scss
  packages/scss/src/components/tableFixed/index.scss
  packages/scss/src/components/tableFixed/mods.scss
  packages/scss/src/components/tableFixed/vars.scss
  packages/scss/src/components/tableFixedLegacy/component.scss
  packages/scss/src/components/tableFixedLegacy/exports.scss
  packages/scss/src/components/tableFixedLegacy/index.scss
  packages/scss/src/components/tableFixedLegacy/mods.scss
  packages/scss/src/components/tableFixedLegacy/states.scss
  packages/scss/src/components/tableFixedLegacy/vars.scss
  packages/scss/src/components/tableSticked/index.scss
  packages/scss/src/components/tableSticked/mods.scss
  packages/scss/src/components/tableSticked/vars.scss
  packages/scss/src/components/tableStickedLegacy/component.scss
  packages/scss/src/components/tableStickedLegacy/exports.scss
  packages/scss/src/components/tableStickedLegacy/index.scss
  packages/scss/src/components/tableStickedLegacy/mods.scss
  packages/scss/src/components/tableStickedLegacy/states.scss
  packages/scss/src/components/tableStickedLegacy/vars.scss
  stories/documentation/listings/table-legacy/table-sticky-columns-breakpoints.stories.ts
  stories/documentation/listings/table-legacy/table-sticky-columns.stories.ts
  stories/documentation/listings/table-legacy/table-sticky-header.stories.ts
  stories/documentation/listings/table/table-sticky-columns-breakpoints.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : replace arobase with at
  packages/scss/src/components/tableFixed/index.scss
  packages/scss/src/components/tableFixed/mods.scss
  packages/scss/src/components/tableSticked/index.scss
  packages/scss/src/components/tableSticked/vars.scss
  stories/documentation/listings/table/table-sticky-columns-breakpoints.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : css vars standardization
  packages/scss/src/components/tableFixed/mods.scss
  packages/scss/src/components/tableSticked/mods.scss
  packages/scss/src/components/tableSticked/vars.scss
  packages/scss/src/components/tableStickedLegacy/mods.scss
  packages/scss/src/components/tableStickedLegacy/vars.scss
  stories/documentation/listings/table/table-sticky-columns-breakpoints.stories.ts
  stories/documentation/listings/table/table-sticky-header.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : new table stories for sticked + fixed overhaul
  stories/qa/table/table.stories.html
Owners: @LuccaSA/ux-devs

Less user picture API calls using lazy loading attribute (#2742)
  packages/ng/user/picture/user-picture.component.html
  packages/ng/user/picture/user-picture.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

refactor(luTooltip): first pass of luTooltip refactor
  packages/ng/styles/definitions/tooltip/_tooltip.scss
  packages/ng/tooltip/panel/tooltip-panel.component.html
  packages/ng/tooltip/panel/tooltip-panel.component.ts
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
  stories/documentation/overlays/tooltip/tooltip.stories.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(front): indexTable inconsistent cell padding
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

fix(core-select): additionalInformation field is added by users directive
  packages/ng/core-select/user/user-option.component.ts
  packages/ng/core-select/user/user-option.model.ts
  packages/ng/core-select/user/users.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

docs(core-select): add users and api V3/4 technical documentation
  .storybook/msw/handlers.ts
  .storybook/msw/helpers.ts
  docs/core-select-api-directive.md
  docs/core-select-users-directive.md
  stories/documentation/forms/select/custom-api-example.component.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

chore: use spaces in md files
  .editorconfig
Owners: @LuccaSA/ux-admins

fix(form-field): aria-required and aria-invalid not updating on OnPush first init
  packages/ng/form-field/form-field.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(tooltips): better ellipsis logic and auto text feed
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
  stories/documentation/overlays/tooltip/tooltip-ellipsis.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

wrapper with mask
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(tooltips): tests fix and better aria-describedby management
  packages/ng/tooltip/trigger/tooltip-trigger.directive.spec.ts
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore: wrapper with mask (#2749)
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(date): add humanize pipe
  packages/ng/date/humanize/humanize.formatter.ts
  packages/ng/date/humanize/humanize.model.ts
  packages/ng/date/humanize/humanize.pipe.ts
  packages/ng/date/humanize/humanize.utils.spec.ts
  packages/ng/date/humanize/humanize.utils.ts
  packages/ng/date/humanize/index.ts
  packages/ng/date/public-api.ts
  stories/documentation/toolbox/date/humanize.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(user-popover): background color not matching user-picture
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

ref(date): rename luHumanize to luHumanizeDate
  packages/ng/date/humanize/humanize.formatter.ts
  packages/ng/date/humanize/humanize.pipe.ts
  stories/documentation/toolbox/date/humanize.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(tooltip): code structure fixes
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(tooltip): avoid ResizeObserver leaks
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(tooltip): use renderer as much as possible for DOM manipulation
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(tooltip): imports cleanup
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

tooltip component + wip animations
  packages/ng/styles/_definitions.scss
  packages/ng/styles/definitions/tooltip/_tooltip.scss
  packages/ng/tooltip/panel/tooltip-panel.component.html
  packages/ng/tooltip/panel/tooltip-panel.component.scss
  packages/ng/tooltip/panel/tooltip-panel.component.ts
  packages/ng/tooltip/trigger/tooltip-trigger.directive.ts
  packages/scss/src/components/index.scss
  packages/scss/src/components/tooltip/component.scss
  packages/scss/src/components/tooltip/exports.scss
  packages/scss/src/components/tooltip/index.scss
  packages/scss/src/components/tooltip/mods.scss
  packages/scss/src/components/tooltip/states.scss
  packages/scss/src/components/tooltip/vars.scss
  stories/documentation/overlays/tooltip/tooltip-ellipsis.stories.ts
  stories/documentation/overlays/tooltip/tooltip-html.stories.ts
  stories/documentation/overlays/tooltip/tooltip.stories.ts
Owners: @LuccaSA/ux-devs, @LuccaSA/ux-admins, @LuccaSA/guilde-front
