Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

schematics palettes
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

Apply schematics on last 17.4 PR (#2699)
  packages/ng/styles/components/_picker.scss
  packages/scss/src/components/callout/mods.scss
  packages/scss/src/components/callout/vars.scss
  packages/scss/src/components/filterBar/component.scss
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  packages/scss/src/components/tag/component.scss
  stories/qa/tags/tags.stories.html
Owners: @LuccaSA/ux-devs

fix(core-select): do not submit englobing form when hitting enter
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(schematics): export schema.json during build
  build.js
Owners: @LuccaSA/ux-admins

fix(schematics): export schema.json during build (#2704)
  build.js
Owners: @LuccaSA/ux-admins

chore: more mocked users
  .storybook/msw/mocks.ts
Owners: @LuccaSA/ux-admins

fix(core-select): wrong users loading params
  packages/ng/core-select/user/users.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(core-select): when scrolling in the panel, pages were asked 2 by 2
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(core-select): cache homonym information
  packages/ng/core-select/user/user-homonym.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix autoresize
  packages/ng/styles/components/cdk/_textarea.scss
Owners: @LuccaSA/ux-devs

fix autoresize (#2706)
  packages/ng/styles/components/cdk/_textarea.scss
Owners: @LuccaSA/ux-devs

dashed story
  stories/documentation/listings/timelines/timelines-dashed.stories.ts
Owners: @LuccaSA/ux-devs

fix mod combos
  packages/scss/src/components/timeline/index.scss
  packages/scss/src/components/timeline/mods.scss
  stories/qa/timelines/timelines.stories.html
Owners: @LuccaSA/ux-devs

allow palettes override
  packages/scss/src/components/timeline/mods.scss
  packages/scss/src/components/timeline/states.scss
Owners: @LuccaSA/ux-devs

[Timeline] Misc mod combo fixes & stories (#2707)
  packages/scss/src/components/timeline/index.scss
  packages/scss/src/components/timeline/mods.scss
  packages/scss/src/components/timeline/states.scss
  stories/documentation/listings/timelines/timelines-dashed.stories.ts
  stories/qa/timelines/timelines.stories.html
Owners: @LuccaSA/ux-devs

refacto loading
  packages/scss/src/components/loading/component.scss
  packages/scss/src/components/loading/index.scss
  packages/scss/src/components/loading/mods.scss
  packages/scss/src/components/loading/vars.scss
  stories/documentation/loaders/loadings/loadings-basic.stories.ts
Owners: @LuccaSA/ux-devs

css vars fallback
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/dialog/vars.scss
  packages/scss/src/components/loading/component.scss
  packages/scss/src/components/loading/mods.scss
  packages/scss/src/components/loading/vars.scss
Owners: @LuccaSA/ux-devs

refacto menu + mod-vertical
  packages/scss/src/components/menu/component.scss
  packages/scss/src/components/menu/index.scss
  packages/scss/src/components/menu/mods.scss
  packages/scss/src/components/menu/states.scss
  packages/scss/src/components/menu/vars.scss
  stories/documentation/navigation/menu/menu-basic.stories.ts
  stories/documentation/navigation/menu/menu-count.stories.ts
Owners: @LuccaSA/ux-devs

scrollBox
  packages/scss/src/components/index.scss
  packages/scss/src/components/menu/component.scss
  packages/scss/src/components/menu/mods.scss
  packages/scss/src/components/menu/vars.scss
  packages/scss/src/components/scrollBox/component.scss
  packages/scss/src/components/scrollBox/exports.scss
  packages/scss/src/components/scrollBox/index.scss
  packages/scss/src/components/scrollBox/mods.scss
  packages/scss/src/components/scrollBox/states.scss
  packages/scss/src/components/scrollBox/vars.scss
  stories/documentation/navigation/menu/menu-basic.stories.ts
  stories/documentation/navigation/menu/menu-count.stories.ts
  stories/documentation/navigation/menu/menu-scrollbox.stories.ts
Owners: @LuccaSA/ux-devs

scroll margin
  packages/scss/src/components/menu/component.scss
Owners: @LuccaSA/ux-devs

story
  stories/documentation/navigation/menu/menu-scrollbox.stories.ts
Owners: @LuccaSA/ux-devs

adjust shadows
  packages/scss/src/components/scrollBox/component.scss
  stories/documentation/navigation/menu/menu-scrollbox.stories.ts
Owners: @LuccaSA/ux-devs

a without href
  stories/documentation/navigation/menu/menu-basic.stories.ts
  stories/documentation/navigation/menu/menu-count.stories.ts
Owners: @LuccaSA/ux-devs

chore: add mandatory button type eslint rule
  .eslintrc
Owners: @LuccaSA/ux-admins

fix(ng): add missing button types
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/multi-select/input/select-input.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix shadows
  packages/scss/src/components/scrollBox/component.scss
  packages/scss/src/components/scrollBox/vars.scss
Owners: @LuccaSA/ux-devs

add type button to number field
  packages/ng/forms/number-input/number-input.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

Apply schematics
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

CSS component : User card > User popover
  packages/ng/popup-employee/card/panel/user-popover-panel.component.html
  packages/ng/popup-employee/card/panel/user-popover-panel.component.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/userPopover/component.scss
  packages/scss/src/components/userPopover/exports.scss
  packages/scss/src/components/userPopover/index.scss
  packages/scss/src/components/userPopover/mods.scss
  packages/scss/src/components/userPopover/states.scss
  packages/scss/src/components/userPopover/vars.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(schematics): template schematics skipping control flow blocks
  packages/ng/schematics/lib/html-ast.ts
  packages/ng/schematics/tokens-spacing/tests/template.input.html
  packages/ng/schematics/tokens-spacing/tests/template.output.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

replace icon by pin
  packages/ng/popup-employee/card/panel/user-popover-panel.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

story in user folder
  stories/documentation/users/popover/popover.stories.ts
Owners: @LuccaSA/ux-devs

chore(schematics): better implementation for for block parsing
  packages/ng/schematics/lib/html-ast.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix lint
  packages/ng/popup-employee/card/panel/user-popover-panel.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(schematics): lint fixes
  packages/ng/schematics/lib/html-ast.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

test(dialog): new testing entrypoint for data testing provider
  packages/ng/dialog/testing/ng-package.json
  packages/ng/dialog/testing/providers.ts
  packages/ng/dialog/testing/public-api.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

User Popover (#2649)
  .storybook/msw/handlers.ts
  .storybook/msw/mocks.ts
  docs/user-popover.md
  package-lock.json
  package.json
  packages/ng/popup-employee/README.md
  packages/ng/popup-employee/card/panel/user-popover-panel.component.html
  packages/ng/popup-employee/card/panel/user-popover-panel.component.scss
  packages/ng/popup-employee/card/panel/user-popover-panel.component.ts
  packages/ng/popup-employee/card/panel/user-popover-panel.model.ts
  packages/ng/popup-employee/card/pipe/inject-parameter.pipe.ts
  packages/ng/popup-employee/card/pipe/is-future.pipe.ts
  packages/ng/popup-employee/card/pipe/leave-ends-display.pipe.ts
  packages/ng/popup-employee/card/trigger/user-popover-trigger.directive.ts
  packages/ng/popup-employee/ng-package.json
  packages/ng/popup-employee/popup-employee.translate.ts
  packages/ng/popup-employee/public-api.ts
  packages/ng/popup-employee/service/user-popover-service.model.ts
  packages/ng/popup-employee/service/user-popover.store.ts
  packages/ng/popup-employee/user-popover.model.ts
  packages/ng/popup-employee/user-popover.providers.ts
  packages/ng/styles/definitions/user/user-picture.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/userPopover/component.scss
  packages/scss/src/components/userPopover/exports.scss
  packages/scss/src/components/userPopover/index.scss
  packages/scss/src/components/userPopover/mods.scss
  packages/scss/src/components/userPopover/states.scss
  packages/scss/src/components/userPopover/vars.scss
  stories/documentation/users/popover/popover.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(schematics): add switch support to BlockNode parsing
  packages/ng/schematics/lib/html-ast.ts
  packages/ng/schematics/tokens-spacing/tests/template.input.html
  packages/ng/schematics/tokens-spacing/tests/template.output.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(deps): Storybook 8
  .editorconfig
  .storybook/preview.mjs
  package-lock.json
  package.json
  stories/documentation/structure/grids/grids-auto-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-auto-responsive.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

fix(schematics): template schematics skipping control flow blocks (#2712)
  packages/ng/schematics/lib/html-ast.ts
  packages/ng/schematics/tokens-spacing/tests/template.input.html
  packages/ng/schematics/tokens-spacing/tests/template.output.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs
