Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

feat(front) : add index table interactive
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/states.scss
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.ts
Owners: @LuccaSA/ux-devs

add neutral 400 (#2608)
  packages/scss/src/commons/config.scss
Owners: @LuccaSA/ux-devs

transparent background for outlined tags (#2607)
  packages/scss/src/components/tag/mods.scss
Owners: @LuccaSA/ux-devs

chore(front) : add comment
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

chore(front) : comments
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/vars.scss
Owners: @LuccaSA/ux-devs

feat(filterBar): add component and stories
  packages/scss/src/components/filterBar/component.scss
  packages/scss/src/components/filterBar/exports.scss
  packages/scss/src/components/filterBar/index.scss
  packages/scss/src/components/filterBar/mods.scss
  packages/scss/src/components/filterBar/states.scss
  packages/scss/src/components/filterBar/vars.scss
  packages/scss/src/components/index.scss
  stories/qa/filterBar/filter-bar.stories.html
  stories/qa/filterBar/filter-bar.stories.ts
Owners: @LuccaSA/ux-devs

fix(divider): fix specificity empty divider
  packages/scss/src/components/divider/component.scss
Owners: @LuccaSA/ux-devs

Add animation for submenus
  packages/scss/src/components/navside/component.scss
  stories/documentation/navigation/menu-secondary/menu-secondary-basic.stories.ts
Owners: @LuccaSA/ux-devs

fix story
  stories/documentation/navigation/menu-secondary/menu-secondary-basic.stories.ts
Owners: @LuccaSA/ux-devs

docs(select): deprecate old selects except department
  packages/ng/establishment/select/input/establishment-select-input.component.ts
  packages/ng/qualification/select/input/qualification-select-input.component.ts
  packages/ng/select/input/select-input.component.ts
  packages/ng/user/select/input/user-select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(modal): connect panelClass settings to LuDialogService
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/modal/modal.service.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(front) : WIP responsive card list
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
Owners: @LuccaSA/ux-devs

clean CSS
  packages/scss/src/components/navside/component.scss
Owners: @LuccaSA/ux-devs

fix overflow
  packages/scss/src/components/card/component.scss
  stories/documentation/listings/table/table-card.stories.ts
Owners: @LuccaSA/ux-devs

cherryPick Merge pull request #2521 from LuccaSA/fix-ngclazz-constructor
  packages/ng/button/button.component.ts
  packages/ng/callout/callout-feedback-list/callout-feedback-list.component.ts
  packages/ng/core/public-api.ts
  packages/ng/core/tools/class.ts
  packages/ng/core/tools/ng-clazz.directive.ts
  packages/ng/form-field/form-field.component.ts
  packages/ng/inline-message/inline-message.component.ts
  packages/ng/numeric-badge/numeric-badge.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

clean cherry pick conflict
  packages/ng/form-field/form-field.component.ts
  packages/ng/inline-message/inline-message.component.ts
  packages/ng/numeric-badge/numeric-badge.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

remove overflow ; add border-radius
  packages/scss/src/components/card/component.scss
  packages/scss/src/components/table/mods.scss
Owners: @LuccaSA/ux-devs

fix(front): select input placeholder
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

product > brand
  packages/scss/src/commons/config.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/navside/vars.scss
  stories/documentation/navigation/menu-secondary/menu-secondary-basic.stories.ts
  stories/qa/main-menu/main-menu.stories.html
Owners: @LuccaSA/ux-devs

feat(front) : add WIP responsive card list
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
Owners: @LuccaSA/ux-devs

Add animation for submenus (#2613)
  packages/scss/src/components/navside/component.scss
  stories/documentation/navigation/menu-secondary/menu-secondary-basic.stories.ts
Owners: @LuccaSA/ux-devs

docs(select): add deprecation to modules too
  packages/ng/establishment/establishment.module.ts
  packages/ng/establishment/select/establishment-select.module.ts
  packages/ng/establishment/select/input/establishment-select-input.component.ts
  packages/ng/qualification/qualification.module.ts
  packages/ng/qualification/select/input/qualification-select-input.component.ts
  packages/ng/qualification/select/input/qualification-select-input.module.ts
  packages/ng/qualification/select/qualification-select.module.ts
  packages/ng/select/input/select-input.module.ts
  packages/ng/select/select.module.ts
  packages/ng/user/select/input/user-select-input.component.ts
  packages/ng/user/select/input/user-select-input.module.ts
  packages/ng/user/select/user-select.module.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(front) : data-name -> data-label
  packages/scss/src/components/indexTable/mods.scss
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
Owners: @LuccaSA/ux-devs

mixins
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/numericBadge/index.scss
  packages/scss/src/components/numericBadge/mods.scss
  stories/documentation/navigation/menu-secondary/menu-secondary-basic.stories.ts
  stories/qa/main-menu/main-menu.stories.html
Owners: @LuccaSA/ux-devs

fix(callout): sneaking in a new directive for description selector build
  packages/ng/callout/callout-feedback-item/callout-feedback-item.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

mixin brand > mixin palette
  packages/scss/src/commons/utils/color.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/numericBadge/index.scss
  packages/scss/src/components/numericBadge/mods.scss
Owners: @LuccaSA/ux-devs

fix(lu-modal): panelClass settings + old select deprecation (#2614)
  packages/ng/callout/callout-feedback-item/callout-feedback-item.component.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/establishment/establishment.module.ts
  packages/ng/establishment/select/establishment-select.module.ts
  packages/ng/establishment/select/input/establishment-select-input.component.ts
  packages/ng/modal/modal.service.ts
  packages/ng/qualification/qualification.module.ts
  packages/ng/qualification/select/input/qualification-select-input.component.ts
  packages/ng/qualification/select/input/qualification-select-input.module.ts
  packages/ng/qualification/select/qualification-select.module.ts
  packages/ng/select/input/select-input.component.ts
  packages/ng/select/input/select-input.module.ts
  packages/ng/select/select.module.ts
  packages/ng/user/select/input/user-select-input.component.ts
  packages/ng/user/select/input/user-select-input.module.ts
  packages/ng/user/select/user-select.module.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(simple-select): select input placeholder (#2617)
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

styles
  packages/scss/src/components/textField/component.scss
Owners: @LuccaSA/ux-devs

fix footer
  packages/scss/src/components/table/mods.scss
Owners: @LuccaSA/ux-devs

revert
  packages/scss/src/commons/utils/color.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/numericBadge/mods.scss
Owners: @LuccaSA/ux-devs

fix(simple-select): disabled state not applied visually until new cd cycle
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

Navside: replace product by brand for numeric badges (#2618)
  packages/scss/src/commons/utils/color.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/navside/vars.scss
  packages/scss/src/components/numericBadge/mods.scss
  stories/documentation/navigation/menu-secondary/menu-secondary-basic.stories.ts
  stories/qa/main-menu/main-menu.stories.html
Owners: @LuccaSA/ux-devs

remove rgba colors
  .storybook/preview-head.html
  packages/ng/styles/components/cdk/_overlay.scss
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/utils/color.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/commons/utils/loading.scss
  packages/scss/src/components/actionIcon/mods.scss
  packages/scss/src/components/checkbox/component.scss
  packages/scss/src/components/file/states.scss
  packages/scss/src/components/header/component.scss
  packages/scss/src/components/loading/mods.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/progress/vars.scss
  packages/scss/src/components/textfields/states.scss
  stories/documentation/feedback/empty-state/html&css/empty-state-page.stories.ts
  stories/documentation/integration/utilities/borders-radius.stories.ts
  stories/documentation/integration/utilities/borders.stories.ts
  stories/documentation/toolbox/animations/animations.scss
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

invert $amount + pourcent
  packages/ng/styles/components/cdk/_overlay.scss
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/utils/color.scss
  packages/scss/src/commons/utils/loading.scss
  packages/scss/src/components/actionIcon/mods.scss
  packages/scss/src/components/loading/mods.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/progress/vars.scss
  packages/scss/src/components/textfields/states.scss
Owners: @LuccaSA/ux-devs

fix(simple-select): disabled state not applied visually until new cd cycle (#2619)
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

Remove rgba colors – Add transparentize function (#2587)
  .storybook/preview-head.html
  packages/ng/styles/components/cdk/_overlay.scss
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/utils/color.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/commons/utils/loading.scss
  packages/scss/src/components/actionIcon/mods.scss
  packages/scss/src/components/checkbox/component.scss
  packages/scss/src/components/file/states.scss
  packages/scss/src/components/header/component.scss
  packages/scss/src/components/loading/mods.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/progress/vars.scss
  packages/scss/src/components/textfields/states.scss
  stories/documentation/feedback/empty-state/html&css/empty-state-page.stories.ts
  stories/documentation/integration/utilities/borders-radius.stories.ts
  stories/documentation/integration/utilities/borders.stories.ts
  stories/documentation/toolbox/animations/animations.scss
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

HTML documentation for links
  stories/documentation/actions/links/link-basic.stories.ts
  stories/documentation/actions/links/link-disabled.stories.ts
  stories/documentation/actions/links/link-external.stories.ts
  stories/documentation/actions/links/link-hover.stories.ts
  stories/documentation/actions/links/link-nowrap.stories.ts
Owners: @LuccaSA/ux-devs

feat(front) : add responsive behaviors
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
Owners: @LuccaSA/ux-devs

HTML documentation for links (#2620)
  stories/documentation/actions/links/link-basic.stories.ts
  stories/documentation/actions/links/link-disabled.stories.ts
  stories/documentation/actions/links/link-external.stories.ts
  stories/documentation/actions/links/link-hover.stories.ts
  stories/documentation/actions/links/link-nowrap.stories.ts
Owners: @LuccaSA/ux-devs
