Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

fix checkbox & icons position in tree picker
  packages/ng/option/item/tree-option-item.component.scss
Owners: @LuccaSA/ux-devs

fix(commons): delete wrong parentheses usage in condition (#2536)
  packages/scss/src/commons/utils/reset.scss
Owners: @LuccaSA/ux-devs

Link icon with no wrap before icon (#2525)
  packages/scss/src/components/callout/component.scss
  packages/scss/src/components/link/mods.scss
  stories/documentation/actions/links/link-basic.stories.ts
  stories/documentation/actions/links/link-disabled.stories.ts
  stories/documentation/actions/links/link-external.stories.ts
  stories/documentation/actions/links/link-hover.stories.ts
Owners: @LuccaSA/ux-devs

[2506] LuNumericBadge : Add string type support (#2508)
  packages/ng/numeric-badge/numeric-badge.component.ts
  stories/documentation/texts/numeric-badge/angular/numeric-badge.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

Remove section in header (#2507)
  stories/documentation/structure/page-header/page-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-breadcrumb.stories.ts
  stories/documentation/structure/page-header/page-header-menu.stories.ts
  stories/qa/page-header/page-header.stories.html
Owners: @LuccaSA/ux-devs

Update packages/scss/src/components/table/mods.scss
  packages/scss/src/components/table/mods.scss
Owners: @LuccaSA/ux-devs

fix checkbox & icons position in tree picker (#2553)
  packages/ng/option/item/tree-option-item.component.scss
Owners: @LuccaSA/ux-devs

add label
  stories/documentation/listings/table/table-selectable.stories.ts
  stories/qa/table/table.stories.html
Owners: @LuccaSA/ux-devs

Update tokens demo
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

fix typo
  stories/qa/table/table.stories.html
Owners: @LuccaSA/ux-devs

[Table] States colors & checkbox alignement fixes (#2540)
  packages/scss/src/components/checkbox/mods.scss
  packages/scss/src/components/table/index.scss
  packages/scss/src/components/table/mods.scss
  packages/scss/src/components/table/vars.scss
  stories/documentation/listings/table/table-selectable.stories.ts
  stories/qa/table/table.stories.html
Owners: @LuccaSA/ux-devs

radius + naming + story from bottom + animations
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/index.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/keyframe/mods.scss
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawerFromBotton.stories.ts
Owners: @LuccaSA/ux-devs

fix hover + remove box-sizing + states
  packages/scss/src/components/avatars/component.scss
  packages/scss/src/components/avatars/index.scss
  packages/scss/src/components/avatars/states.scss
Owners: @LuccaSA/ux-devs

gap utilities
  stories/documentation/actions/button/html&css/button-palette.stories.ts
  stories/documentation/actions/button/html&css/button-size.stories.ts
  stories/documentation/actions/button/html&css/button-states.stories.ts
  stories/documentation/actions/button/html&css/button-style.stories.ts
  stories/documentation/loaders/skeleton/skeleton-circle.stories.ts
  stories/documentation/loaders/skeleton/skeleton-square.stories.ts
  stories/documentation/structure/box/box-arrow.stories.ts
  stories/qa/button/button.stories.html
  stories/qa/notch-box/notch-box.stories.html
  stories/qa/skeleton/skeleton.stories.html
Owners: @LuccaSA/ux-devs

paddings
  stories/documentation/integration/utilities/min-width.stories.html
  stories/documentation/navigation/menu/menu-container.stories.ts
Owners: @LuccaSA/ux-devs

states
  packages/scss/src/components/viewTabs/component.scss
  packages/scss/src/components/viewTabs/index.scss
  packages/scss/src/components/viewTabs/states.scss
Owners: @LuccaSA/ux-devs

overflow
  packages/scss/src/components/dialog/component.scss
Owners: @LuccaSA/ux-devs

use spacings in skeletons
  packages/scss/src/components/skeleton/states.scss
Owners: @LuccaSA/ux-devs

fix(select): broken test
  packages/ng/core-select/api/api.directive.spec.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

skeleton mods & tokens
  packages/scss/src/components/skeleton/mods.scss
Owners: @LuccaSA/ux-devs

calc & borders
  packages/ng/a11y/skip-links/skip-links.component.scss
  packages/scss/src/components/button/mods.scss
  packages/scss/src/components/divider/component.scss
  packages/scss/src/components/fieldset/vars.scss
  stories/documentation/integration/utilities/borders.stories.ts
Owners: @LuccaSA/ux-devs

skeleton variables
  packages/scss/src/components/skeleton/index.scss
  packages/scss/src/components/skeleton/mods.scss
  packages/scss/src/components/skeleton/states.scss
  packages/scss/src/components/skeleton/vars.scss
Owners: @LuccaSA/ux-devs

factorize spacing mixins
  packages/scss/src/commons/core.scss
  packages/scss/src/components/util/index.scss
Owners: @LuccaSA/ux-devs

deprecated spacings import flag
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/core.scss
  packages/scss/src/commons/vars.scss
  packages/scss/src/components/util/index.scss
Owners: @LuccaSA/ux-devs

linter
  packages/scss/src/commons/config.scss
Owners: @LuccaSA/ux-devs

linter
  packages/ng/establishment/select/select-all/establishment-select-all.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix lint
  packages/ng/establishment/select/select-all/establishment-select-all.component.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

invalid state + wrapper
  packages/scss/src/components/formLabel/component.scss
  packages/scss/src/components/inlineMessage/index.scss
  stories/documentation/forms/fields/radio/html&css/radiofield-disabled.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-invalid.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield-size.stories.ts
  stories/documentation/forms/fields/radio/html&css/radiofield.stories.ts
Owners: @LuccaSA/ux-devs

fix(establishment): ALuEstablishmentService is now overridable
  packages/ng/establishment/select/establishment-select.token.ts
  packages/ng/establishment/select/input/establishment-select-input.component.ts
  packages/ng/establishment/select/legal-unit-selector/legal-unit-selector.directive.ts
  packages/ng/establishment/select/searcher/establishment-searcher.component.ts
  packages/ng/establishment/select/select-all/establishment-select-all.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

sibling
  packages/scss/src/components/dialog/component.scss
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
  stories/documentation/overlays/dialog/dialog-drawerFromBotton.stories.ts
Owners: @LuccaSA/ux-devs

sibling
  packages/scss/src/components/viewTabs/component.scss
  packages/scss/src/components/viewTabs/index.scss
  stories/documentation/navigation/viewTabs/viewTabs-basic.stories.ts
Owners: @LuccaSA/ux-devs

sibling
  packages/scss/src/components/avatarWrapper/component.scss
  packages/scss/src/components/avatarWrapper/exports.scss
  packages/scss/src/components/avatarWrapper/index.scss
  packages/scss/src/components/avatarWrapper/mods.scss
  packages/scss/src/components/avatarWrapper/states.scss
  packages/scss/src/components/avatarWrapper/vars.scss
  packages/scss/src/components/avatars/mods.scss
  packages/scss/src/components/avatars/vars.scss
  packages/scss/src/components/index.scss
  stories/documentation/users/avatars/avatars.stories.ts
Owners: @LuccaSA/ux-devs

chore(dialog): base structure using cdk's Dialog
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-component.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/dialog/model/index.ts
  packages/ng/dialog/model/types.ts
  packages/ng/dialog/ng-package.json
  packages/ng/dialog/public-api.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): onClose hooks and dismiss logic
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/dialog/model/index.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore(dialog): rename `component` to `content` for dialog options
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-config.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(dialog): switch to environment provider
  packages/ng/dialog/dialog.module.ts
  packages/ng/dialog/dialog.provider.ts
  packages/ng/dialog/public-api.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(dialog): add content container
  packages/ng/dialog/dialog-content/dialog-content.component.html
  packages/ng/dialog/dialog-content/dialog-content.component.scss
  packages/ng/dialog/dialog-content/dialog-content.component.ts
  packages/ng/dialog/public-api.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

chore(dialog): first integration and implementation
  .storybook/styles.scss
  packages/ng/button/button.component.ts
  packages/ng/dialog/dialog-footer/dialog-footer.component.html
  packages/ng/dialog/dialog-footer/dialog-footer.component.scss
  packages/ng/dialog/dialog-footer/dialog-footer.component.ts
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/dialog/dialog-header/dialog-header.component.scss
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog.module.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-component.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
  packages/ng/dialog/model/index.ts
  packages/ng/dialog/model/injectors.ts
  packages/ng/dialog/model/types.ts
  packages/ng/dialog/public-api.ts
  stories/documentation/overlays/dialog/dialog.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

docs(dialog): config docs
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/dialog/dialog-header/dialog-header.component.ts
  packages/ng/dialog/dialog.service.ts
  packages/ng/dialog/model/dialog-config.ts
  packages/ng/dialog/model/dialog-ref.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

chore: build fixes
  packages/ng/dialog/dialog-content/dialog-content.component.ts
  packages/ng/dialog/dialog-header/dialog-header.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front
