Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs

fix(front) : subtotal alignements
  packages/scss/src/components/indexTable/component.scss
  stories/documentation/listings/index-table/index-table-nested.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : inverse chevron direction
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
Owners: @LuccaSA/ux-devs

parent story
  stories/documentation/listings/table/table-basic.stories.ts
  stories/documentation/listings/table/table-parent.stories.ts
Owners: @LuccaSA/ux-devs

ref(user): use a more specific type for user related components
  packages/ng/user/display/user-display.pipe.ts
  packages/ng/user/picture/index.ts
  packages/ng/user/picture/user-picture.component.ts
  packages/ng/user/tile/user-tile.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

parent story (#2687)
  stories/documentation/listings/table/table-basic.stories.ts
  stories/documentation/listings/table/table-parent.stories.ts
Owners: @LuccaSA/ux-devs

Increase textarea default height
  packages/scss/src/components/textField/component.scss
Owners: @LuccaSA/ux-devs

fix(schematics): missing required schema.json
  packages/ng/schematics/collection.json
  packages/ng/schematics/new-icons/schema.json
  packages/ng/schematics/ng-add/schema.json
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(schematics): missing required schema.json (#2690)
  packages/ng/schematics/collection.json
  packages/ng/schematics/new-icons/schema.json
  packages/ng/schematics/ng-add/schema.json
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix: add missing schema.json files
  packages/ng/schematics/action-icon/schema.json
  packages/ng/schematics/collection.json
  packages/ng/schematics/palettes/schema.json
  packages/ng/schematics/tokens-spacing/schema.json
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(front) : nested + sub totals
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/states.scss
  stories/documentation/listings/index-table/index-table-nested.stories.ts
Owners: @LuccaSA/ux-devs

feat(schematics): new CssMapper class for easy CSS schematics along with 3 schematics (#2668)
  packages/ng/dialog/dialog-header/dialog-header.component.html
  packages/ng/form-field/form-field.component.html
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/schematics/action-icon/index.ts
  packages/ng/schematics/action-icon/migration.spec.ts
  packages/ng/schematics/action-icon/migration.ts
  packages/ng/schematics/action-icon/schema.json
  packages/ng/schematics/action-icon/tests/component.input.scss
  packages/ng/schematics/action-icon/tests/component.output.scss
  packages/ng/schematics/action-icon/tests/template.input.html
  packages/ng/schematics/action-icon/tests/template.output.html
  packages/ng/schematics/collection.json
  packages/ng/schematics/lib/css-mapper.ts
  packages/ng/schematics/palettes/index.ts
  packages/ng/schematics/palettes/migration.spec.ts
  packages/ng/schematics/palettes/schema.json
  packages/ng/schematics/palettes/tests/component.input.scss
  packages/ng/schematics/palettes/tests/component.input.ts
  packages/ng/schematics/palettes/tests/component.output.scss
  packages/ng/schematics/palettes/tests/component.output.ts
  packages/ng/schematics/palettes/tests/template.input.html
  packages/ng/schematics/palettes/tests/template.output.html
  packages/ng/schematics/tokens-spacing/index.ts
  packages/ng/schematics/tokens-spacing/migration.spec.ts
  packages/ng/schematics/tokens-spacing/schema.json
  packages/ng/schematics/tokens-spacing/tests/component.input.scss
  packages/ng/schematics/tokens-spacing/tests/component.input.ts
  packages/ng/schematics/tokens-spacing/tests/component.output.scss
  packages/ng/schematics/tokens-spacing/tests/component.output.ts
  packages/ng/schematics/tokens-spacing/tests/template.input.html
  packages/ng/schematics/tokens-spacing/tests/template.output.html
  stories/documentation/navigation/vertical-navigation/vertical-navigation-iconless.stories.ts
  stories/qa/vertical-navigation/vertical-navigation.stories.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

expand clickable zone
  packages/scss/src/components/chip/component.scss
  packages/scss/src/components/chip/mods.scss
Owners: @LuccaSA/ux-devs

apply spacing tokens
  packages/scss/src/components/chip/component.scss
Owners: @LuccaSA/ux-devs

Expand clickable zone for chips button (#2579)
  packages/scss/src/components/chip/component.scss
  packages/scss/src/components/chip/mods.scss
Owners: @LuccaSA/ux-devs

Component sample (#2631)
  packages/scss/src/components/_sample/component.scss
  packages/scss/src/components/_sample/exports.scss
  packages/scss/src/components/_sample/index.scss
  packages/scss/src/components/_sample/mods.scss
  packages/scss/src/components/_sample/states.scss
  packages/scss/src/components/_sample/vars.scss
Owners: @LuccaSA/ux-devs

move utils in commons
  README.md
  packages/ng/dialog/dialog-header/dialog-header.component.scss
  packages/ng/multi-select/input/select-input.component.scss
  packages/ng/simple-select/input/select-input.component.scss
  packages/ng/styles/components/cdk/_overlay.scss
  packages/scss/src/commons/exports.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/commons/utils/keyframe.scss
  packages/scss/src/commons/utils/loading.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/keyframe/component.scss
  packages/scss/src/components/keyframe/exports.scss
  packages/scss/src/components/keyframe/index.scss
  packages/scss/src/components/keyframe/states.scss
  packages/scss/src/components/keyframe/vars.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/navside/index.scss
  packages/scss/src/components/progress/component.scss
  packages/scss/src/components/util/component.scss
  packages/scss/src/components/util/exports.scss
  packages/scss/src/components/util/index.scss
  packages/scss/src/components/util/mods.scss
  packages/scss/src/components/util/states.scss
  packages/scss/src/components/util/vars.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

Fix overflow for table card with clickable lines (#2615)
  packages/scss/src/components/table/mods.scss
  stories/documentation/listings/table/table-card.stories.ts
Owners: @LuccaSA/ux-devs

deprecatedSpacings
  packages/scss/src/commons/utils/index.scss
Owners: @LuccaSA/ux-devs

alignRight + alignCenter
  packages/scss/src/components/skeleton/index.scss
  packages/scss/src/components/skeleton/mods.scss
  packages/scss/src/components/skeleton/states.scss
  packages/scss/src/components/skeleton/vars.scss
  stories/documentation/loaders/skeleton/skeleton-align.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : paddings & spacings
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix(front) : wrong propertie name
  packages/scss/src/components/indexTableSorted/states.scss
Owners: @LuccaSA/ux-devs

fix(core-select): fix operations query filter on users API
  packages/ng/core-select/user/users.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(core-select): stop escape propagation
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

icon size fallback
  packages/icons/src/icon/component.scss
  packages/icons/src/icon/vars.scss
Owners: @LuccaSA/ux-devs

renaming
  packages/icons/src/icon/component.scss
  packages/icons/src/icon/vars.scss
Owners: @LuccaSA/ux-devs

Fix icon size fallback (#2694)
  packages/icons/src/icon/component.scss
  packages/icons/src/icon/vars.scss
Owners: @LuccaSA/ux-devs

fix callout gap
  packages/scss/src/components/callout/mods.scss
  packages/scss/src/components/callout/vars.scss
Owners: @LuccaSA/ux-devs

fix callout gap (#2695)
  packages/scss/src/components/callout/mods.scss
  packages/scss/src/components/callout/vars.scss
Owners: @LuccaSA/ux-devs

fix(front) : indexTable with emptyState apparence and behavior
  packages/scss/src/components/indexTable/component.scss
  stories/documentation/listings/index-table/index-table-empty-state.stories.ts
Owners: @LuccaSA/ux-devs

fix(front) : dense + actions padding
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

feat(front) : auto mods on actions button
  packages/scss/src/components/indexTable/mods.scss
  stories/documentation/listings/index-table/index-table-actions.stories.ts
Owners: @LuccaSA/ux-devs

Component.index.table (#2590)
  packages/scss/src/commons/utils/media.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/exports.scss
  packages/scss/src/components/indexTable/index.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/states.scss
  packages/scss/src/components/indexTable/vars.scss
  packages/scss/src/components/indexTableSorted/component.scss
  packages/scss/src/components/indexTableSorted/exports.scss
  packages/scss/src/components/indexTableSorted/index.scss
  packages/scss/src/components/indexTableSorted/mods.scss
  packages/scss/src/components/indexTableSorted/states.scss
  packages/scss/src/components/indexTableSorted/vars.scss
  stories/documentation/listings/index-table/index-table-actions.stories.ts
  stories/documentation/listings/index-table/index-table-basic.stories.ts
  stories/documentation/listings/index-table/index-table-empty-state.stories.ts
  stories/documentation/listings/index-table/index-table-footer.stories.ts
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.html
  stories/documentation/listings/index-table/index-table-interactive-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-layout-fixed.stories.ts
  stories/documentation/listings/index-table/index-table-mass-selection-and-pagination.stories.ts
  stories/documentation/listings/index-table/index-table-nested-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-nested.stories.ts
  stories/documentation/listings/index-table/index-table-responsive-card-list.stories.ts
  stories/documentation/listings/index-table/index-table-selectable.stories.ts
  stories/documentation/listings/index-table/index-table-sorted.stories.ts
  stories/documentation/listings/index-table/index-table-stackable.stories.ts
  stories/documentation/listings/index-table/index-table-sticky-header.stories.ts
Owners: @LuccaSA/ux-devs

grid with container queries (#2648)
  packages/scss/src/components/grid/component.scss
  packages/scss/src/components/grid/index.scss
  stories/documentation/structure/grids/grids-auto-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-form.stories.ts
  stories/documentation/structure/grids/grids-position-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-position-responsive.stories.ts
  stories/documentation/structure/grids/grids-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-responsive.stories.ts
  stories/documentation/structure/grids/grids-span-responsive-container.stories.ts
  stories/documentation/structure/grids/grids-span-responsive.stories.ts
  stories/documentation/structure/grids/grids-span.stories.ts
Owners: @LuccaSA/ux-devs

css vars + story (#2602)
  packages/scss/src/components/container/component.scss
  packages/scss/src/components/container/mods.scss
  packages/scss/src/components/container/vars.scss
  stories/documentation/structure/containers/containers-basic.stories.ts
Owners: @LuccaSA/ux-devs

Move utils in commons (#2576)
  README.md
  packages/ng/dialog/dialog-header/dialog-header.component.scss
  packages/ng/multi-select/input/select-input.component.scss
  packages/ng/simple-select/input/select-input.component.scss
  packages/ng/styles/components/cdk/_overlay.scss
  packages/scss/src/commons/exports.scss
  packages/scss/src/commons/utils/index.scss
  packages/scss/src/commons/utils/keyframe.scss
  packages/scss/src/commons/utils/loading.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/index.scss
  packages/scss/src/components/keyframe/component.scss
  packages/scss/src/components/keyframe/exports.scss
  packages/scss/src/components/keyframe/index.scss
  packages/scss/src/components/keyframe/states.scss
  packages/scss/src/components/keyframe/vars.scss
  packages/scss/src/components/navside/component.scss
  packages/scss/src/components/navside/index.scss
  packages/scss/src/components/progress/component.scss
  packages/scss/src/components/util/component.scss
  packages/scss/src/components/util/exports.scss
  packages/scss/src/components/util/index.scss
  packages/scss/src/components/util/mods.scss
  packages/scss/src/components/util/states.scss
  packages/scss/src/components/util/vars.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/ux-devs

fix(front) : potential text cropping
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

fix(front) : responsiveCardList padding
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

fix(front) : potential outline crop for cells content
  packages/scss/src/components/indexTable/component.scss
Owners: @LuccaSA/ux-devs

Fix.index table (#2698)
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
Owners: @LuccaSA/ux-devs

schematics tokens spacings
  packages/ng/styles/components/_picker.scss
  packages/scss/src/components/callout/mods.scss
  packages/scss/src/components/callout/vars.scss
  packages/scss/src/components/filterBar/component.scss
  packages/scss/src/components/indexTable/component.scss
  packages/scss/src/components/indexTable/mods.scss
  packages/scss/src/components/indexTable/vars.scss
  packages/scss/src/components/tag/component.scss
  stories/qa/tags/tags.stories.html
Owners: @LuccaSA/ux-devs
