Repository LuccaSA/lucca-front, changes with the owners that CODEOWNERS names for each.
All owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

--pr > --pr-t
  packages/ng/date/calendar/calendar-input.component.scss
  packages/ng/styles/components/_dropdown.scss
  packages/ng/styles/components/_picker.scss
  packages/ng/styles/components/_popover.scss
  packages/ng/styles/components/_popup.scss
  packages/scss/src/commons/base.scss
  packages/scss/src/components/box/component.scss
  packages/scss/src/components/box/mods.scss
  packages/scss/src/components/box/vars.scss
  packages/scss/src/components/card/mods.scss
  packages/scss/src/components/card/vars.scss
  packages/scss/src/components/errorPage/vars.scss
  packages/scss/src/components/filters/vars.scss
  packages/scss/src/components/footer/component.scss
  packages/scss/src/components/header/component.scss
  packages/scss/src/components/header/vars.scss
  packages/scss/src/components/layout/component.scss
  packages/scss/src/components/layout/states.scss
  packages/scss/src/components/list/component.scss
  packages/scss/src/components/mobileHeader/component.scss
  packages/scss/src/components/mobileNavigation/component.scss
  packages/scss/src/components/notchBox/vars.scss
  packages/scss/src/components/pageHeader/mods.scss
  packages/scss/src/components/section/component.scss
  packages/scss/src/components/section/mods.scss
  packages/scss/src/components/sortableList/component.scss
  packages/scss/src/components/switch/component.scss
  packages/scss/src/components/switchField/component.scss
  packages/scss/src/components/table/component.scss
  packages/scss/src/components/tableSticked/mods.scss
  packages/scss/src/components/textfields/component.scss
  packages/scss/src/components/timepicker/component.scss
  packages/scss/src/components/verticalNavigation/component.scss
  packages/scss/src/components/verticalNavigation/vars.scss
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

fix tokens generation & call
  packages/ng/empty-state/empty-state-section/empty-state-section.component.html
  packages/ng/styles/components/_picker.scss
  packages/scss/src/commons/vars.scss
  stories/documentation/feedback/empty-state/html&css/empty-state-page.stories.html
  stories/documentation/feedback/empty-state/html&css/empty-state-section-center.stories.html
  stories/documentation/feedback/empty-state/html&css/empty-state-section-palette.stories.html
  stories/documentation/feedback/empty-state/html&css/empty-state-section.stories.html
  stories/qa/empty-state/empty-state-page.stories.html
  stories/qa/empty-state/empty-state-section.stories.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix merge issues
  packages/ng/styles/components/_picker.scss
  packages/scss/src/components/button/states.scss
  packages/scss/src/components/switch/component.scss
Owners: @LuccaSA/ux-devs

replace actionIcons refs in components & documentation
  packages/ng/date/calendar/calendar-input.component.html
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/modal/modal-panel.component.html
  stories/documentation/listings/table/table-actions.stories.ts
  stories/documentation/navigation/pagination/pagination-basic.stories.ts
  stories/documentation/navigation/pagination/pagination-compact.stories.ts
  stories/documentation/navigation/pagination/pagination-pages.stories.ts
  stories/documentation/navigation/skip-links/skip-links-basic.stories.ts
  stories/documentation/structure/box/box-killable.stories.ts
  stories/documentation/structure/cards/cards-action.stories.ts
  stories/documentation/structure/mobile-header/mobile-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-breadcrumb.stories.ts
  stories/documentation/structure/page-header/page-header-menu.stories.ts
  stories/qa/box/box.stories.html
  stories/qa/card/card.stories.html
  stories/qa/icon/icon.stories.html
  stories/qa/mobile-header/mobile-header.stories.html
  stories/qa/page-header/page-header.stories.html
  stories/qa/pagination/pagination.stories.html
  stories/qa/table/table.stories.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

Button dependencies (#2542)
  packages/scss/src/components/calloutFeedbackList/component.scss
  packages/scss/src/components/calloutFeedbackList/index.scss
  packages/scss/src/components/calloutFeedbackList/mods.scss
  packages/scss/src/components/divider/index.scss
  packages/scss/src/components/divider/mods.scss
  stories/documentation/structure/divider/divider-basic.stories.ts
Owners: @LuccaSA/ux-devs

replace actionIcons refs in components & documentation
  packages/ng/date/calendar/calendar-input.component.html
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/modal/modal-panel.component.html
  stories/documentation/listings/table/table-actions.stories.ts
  stories/documentation/navigation/pagination/pagination-basic.stories.ts
  stories/documentation/navigation/pagination/pagination-compact.stories.ts
  stories/documentation/navigation/pagination/pagination-pages.stories.ts
  stories/documentation/navigation/skip-links/skip-links-basic.stories.ts
  stories/documentation/structure/box/box-killable.stories.ts
  stories/documentation/structure/cards/cards-action.stories.ts
  stories/documentation/structure/mobile-header/mobile-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-breadcrumb.stories.ts
  stories/documentation/structure/page-header/page-header-menu.stories.ts
  stories/qa/box/box.stories.html
  stories/qa/card/card.stories.html
  stories/qa/icon/icon.stories.html
  stories/qa/mobile-header/mobile-header.stories.html
  stories/qa/page-header/page-header.stories.html
  stories/qa/pagination/pagination.stories.html
  stories/qa/table/table.stories.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

clean divider component
  packages/scss/src/components/divider/component.scss
  packages/scss/src/components/divider/index.scss
  packages/scss/src/components/divider/mods.scss
  packages/scss/src/components/divider/vars.scss
  stories/documentation/structure/divider/divider-basic.stories.ts
  stories/qa/divider/divider.stories.html
Owners: @LuccaSA/ux-devs

fix feedbacklist button include
  packages/scss/src/components/calloutFeedbackList/component.scss
  packages/scss/src/components/calloutFeedbackList/index.scss
  packages/scss/src/components/calloutFeedbackList/mods.scss
  packages/scss/src/components/divider/index.scss
Owners: @LuccaSA/ux-devs

[ActionIcon] Replace components & documentation references by button (#2545)
  packages/ng/date/calendar/calendar-input.component.html
  packages/ng/forms/text-input/text-input.component.html
  packages/ng/modal/modal-panel.component.html
  packages/scss/src/components/calloutFeedbackList/component.scss
  packages/scss/src/components/calloutFeedbackList/index.scss
  packages/scss/src/components/calloutFeedbackList/mods.scss
  packages/scss/src/components/divider/component.scss
  packages/scss/src/components/divider/index.scss
  packages/scss/src/components/divider/mods.scss
  packages/scss/src/components/divider/vars.scss
  stories/documentation/listings/table/table-actions.stories.ts
  stories/documentation/navigation/pagination/pagination-basic.stories.ts
  stories/documentation/navigation/pagination/pagination-compact.stories.ts
  stories/documentation/navigation/pagination/pagination-pages.stories.ts
  stories/documentation/navigation/skip-links/skip-links-basic.stories.ts
  stories/documentation/structure/box/box-killable.stories.ts
  stories/documentation/structure/cards/cards-action.stories.ts
  stories/documentation/structure/divider/divider-basic.stories.ts
  stories/documentation/structure/mobile-header/mobile-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-basic.stories.ts
  stories/documentation/structure/page-header/page-header-breadcrumb.stories.ts
  stories/documentation/structure/page-header/page-header-menu.stories.ts
  stories/qa/box/box.stories.html
  stories/qa/card/card.stories.html
  stories/qa/divider/divider.stories.html
  stories/qa/icon/icon.stories.html
  stories/qa/mobile-header/mobile-header.stories.html
  stories/qa/page-header/page-header.stories.html
  stories/qa/pagination/pagination.stories.html
  stories/qa/table/table.stories.html
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

clean states for buttons
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/button/index.scss
  packages/scss/src/components/button/mods.scss
  packages/scss/src/components/button/states.scss
  packages/scss/src/components/divider/index.scss
Owners: @LuccaSA/ux-devs

fix(select): no more double calls / no more scrolling to first element on options change
  packages/ng/core-select/api/api-v3.directive.spec.ts
  packages/ng/core-select/api/api.directive.ts
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/multi-select/input/panel-ref.factory.ts
  packages/ng/multi-select/input/select-input.component.ts
  packages/ng/multi-select/panel/panel.component.html
  packages/ng/multi-select/panel/panel.component.ts
  packages/ng/multi-select/select.model.ts
  packages/ng/simple-select/input/panel-ref.factory.ts
  packages/ng/simple-select/input/select-input.component.ts
  packages/ng/simple-select/panel/panel.component.ts
  packages/ng/simple-select/select.model.ts
  packages/ng/styles/definitions/option/_option-item.scss
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(select): no more double call when opening a panel with a clue
  packages/ng/core-select/api/api.directive.spec.ts
  packages/ng/core-select/api/api.directive.ts
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/core-select/option/option.component.ts
  packages/ng/simple-select/panel/panel.component.html
  setup-jest.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

fix(select): no "empty result" text when [loading] input is unused
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

ref(select): move ApiV3 and ApiV4 directives in core-select
  packages/ng/core-select/api/api-v3.directive.spec.ts
  packages/ng/core-select/api/api-v3.directive.ts
  packages/ng/core-select/api/api-v4.directive.ts
  packages/ng/core-select/api/api.directive.ts
  packages/ng/core-select/api/ng-package.json
  packages/ng/core-select/api/public-api.ts
  packages/ng/simple-select/api/api-v3.directive.ts
  packages/ng/simple-select/api/api-v4.directive.ts
  packages/ng/simple-select/api/api.directive.ts
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/simple-select.stories.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front, @LuccaSA/ux-devs

update title & text story
  stories/documentation/texts/text/text.stories.ts
Owners: @LuccaSA/ux-devs

fix(select): do not display "empty result" before first options appears
  packages/ng/core-select/api/api.directive.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(select): use optionComparer in SimpleSelect
  packages/ng/simple-select/panel/option-selected.pipe.ts
  packages/ng/simple-select/panel/panel.component.html
  packages/ng/simple-select/panel/panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

less mixins for states
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/button/index.scss
  packages/scss/src/components/button/mods.scss
  packages/scss/src/components/button/states.scss
Owners: @LuccaSA/ux-devs

fix(select): stop opening multi-select Panel when clearing
  packages/ng/core-select/api/api.directive.spec.ts
  packages/ng/core-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

feat(select): keep initial clue when opening the panel
  packages/ng/multi-select/input/select-input.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix(select): set input as readonly when select is not searchable
  packages/ng/multi-select/displayer/default-displayer.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

fix wrapped default display with view encapsulation none (#2543)
  packages/ng/callout/callout-disclosure/callout-disclosure.component.scss
  packages/ng/callout/callout-popover/callout-popover.component.scss
  packages/ng/callout/callout/callout.component.scss
  packages/ng/icon/icon.component.scss
Owners: @LuccaSA/ux-devs

fix callout S icon position & add dropdown html
  packages/ng/icon/icon.component.scss
  stories/documentation/feedback/callout-popover/html&css/basic.stories.ts
  stories/documentation/feedback/callout-popover/html&css/size.stories.ts
  stories/qa/callout/callout.stories.html
Owners: @LuccaSA/ux-devs

fix callout S icon position & add dropdown html (#2550)
  packages/ng/icon/icon.component.scss
  stories/documentation/feedback/callout-popover/html&css/basic.stories.ts
  stories/documentation/feedback/callout-popover/html&css/size.stories.ts
  stories/qa/callout/callout.stories.html
Owners: @LuccaSA/ux-devs

Clean states for buttons (#2548)
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/button/index.scss
  packages/scss/src/components/button/mods.scss
  packages/scss/src/components/button/states.scss
  packages/scss/src/components/divider/index.scss
Owners: @LuccaSA/ux-devs

cleanup states
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/index.scss
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
Owners: @LuccaSA/ux-devs

fix title
  packages/scss/src/components/dialog/mods.scss
Owners: @LuccaSA/ux-devs

component dialog
  packages/scss/src/components/button/component.scss
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/exports.scss
  packages/scss/src/components/dialog/index.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/dialog/states.scss
  packages/scss/src/components/dialog/vars.scss
  packages/scss/src/components/index.scss
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
Owners: @LuccaSA/ux-devs

title centered only for drawers
  packages/scss/src/components/dialog/index.scss
Owners: @LuccaSA/ux-devs

backdrop
  packages/scss/src/components/dialog/component.scss
Owners: @LuccaSA/ux-devs

submit
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
Owners: @LuccaSA/ux-devs

dialog-inside for form
  packages/scss/src/components/dialog/component.scss
  packages/scss/src/components/dialog/index.scss
  packages/scss/src/components/dialog/mods.scss
  packages/scss/src/components/dialog/vars.scss
  stories/documentation/overlays/dialog/dialog-basic.stories.ts
  stories/documentation/overlays/dialog/dialog-drawer.stories.ts
Owners: @LuccaSA/ux-devs

fix(select): clue not emitted / active item not updated
  packages/ng/core-select/input/select-input.component.ts
  packages/ng/multi-select/displayer/default-displayer.component.ts
  packages/ng/simple-select/panel/panel.component.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

doc(select): cleaner stories / fix some issues
  stories/documentation/forms/select/multi-select.stories.ts
  stories/documentation/forms/select/select.utils.ts
  stories/documentation/forms/select/simple-select.stories.ts
  stories/helpers/common-arg-types.ts
  stories/helpers/stories.ts
Owners: @LuccaSA/ux-devs

improve documentation versions infos
  stories/documentation/feedback/callout-disclosure/angular/callout-disclosure.stories.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/integration/utilities/borders-radius.stories.ts
  stories/documentation/integration/utilities/borders.stories.ts
  stories/documentation/integration/utilities/comma.stories.ts
  stories/documentation/integration/utilities/ellipsis.stories.ts
  stories/documentation/integration/utilities/float.stories.ts
  stories/documentation/integration/utilities/help.stories.ts
  stories/documentation/integration/utilities/reset.stories.ts
  stories/documentation/integration/utilities/shadows.stories.ts
  stories/documentation/integration/utilities/spin.stories.ts
  stories/documentation/integration/utilities/text-color.stories.ts
  stories/documentation/integration/utilities/text-size.stories.ts
  stories/documentation/integration/utilities/text-style.stories.ts
  stories/documentation/integration/utilities/units.stories.ts
  stories/documentation/integration/utilities/vertical-align.stories.ts
  stories/documentation/structure/grids/grids-auto-responsive.stories.ts
  stories/documentation/texts/status-badge/status-badge-basic.stories.ts
  stories/documentation/users/picture/picture.stories.ts
Owners: @LuccaSA/ux-devs

improve documentation versions infos (#2551)
  stories/documentation/feedback/callout-disclosure/angular/callout-disclosure.stories.ts
  stories/documentation/forms/fields/text/angular/textfield.stories.ts
  stories/documentation/integration/utilities/borders-radius.stories.ts
  stories/documentation/integration/utilities/borders.stories.ts
  stories/documentation/integration/utilities/comma.stories.ts
  stories/documentation/integration/utilities/ellipsis.stories.ts
  stories/documentation/integration/utilities/float.stories.ts
  stories/documentation/integration/utilities/help.stories.ts
  stories/documentation/integration/utilities/reset.stories.ts
  stories/documentation/integration/utilities/shadows.stories.ts
  stories/documentation/integration/utilities/spin.stories.ts
  stories/documentation/integration/utilities/text-color.stories.ts
  stories/documentation/integration/utilities/text-size.stories.ts
  stories/documentation/integration/utilities/text-style.stories.ts
  stories/documentation/integration/utilities/units.stories.ts
  stories/documentation/integration/utilities/vertical-align.stories.ts
  stories/documentation/structure/grids/grids-auto-responsive.stories.ts
  stories/documentation/texts/status-badge/status-badge-basic.stories.ts
  stories/documentation/users/picture/picture.stories.ts
Owners: @LuccaSA/ux-devs

replace i element by utility
  stories/documentation/texts/text/text.stories.ts
Owners: @LuccaSA/ux-devs

fix(select): nullrefex in option comparer
  packages/ng/simple-select/panel/option-selected.pipe.ts
Owners: @LuccaSA/ux-admins, @LuccaSA/guilde-front

generate vars and utilities
  packages/scss/src/commons/config.scss
  packages/scss/src/commons/core.scss
  packages/scss/src/commons/vars.scss
  packages/scss/src/components/skeleton/mods.scss
  packages/scss/src/components/util/index.scss
  stories/qa/tokens/tokens.stories.html
Owners: @LuccaSA/ux-devs

[Titles & Texts] Add missing styles (#2549)
  stories/documentation/texts/text/text.stories.ts
Owners: @LuccaSA/ux-devs

CODEOWNERS:

# Code is owned by dev team
*                     @LuccaSA/ux-admins

# dependencies are handled by admins
**/package.json       @LuccaSA/ux-admins
**/package-lock.json  @LuccaSA/ux-admins

# CI is handled by admins
Jenkinsfile           @LuccaSA/ux-admins
.cd                   @LuccaSA/ux-admins

#
packages/ng           @LuccaSA/ux-admins @LuccaSA/guilde-front
packages/ng/**/*.scss @LuccaSA/ux-devs
packages/icons        @LuccaSA/ux-devs
packages/scss         @LuccaSA/ux-devs

# Storybook
stories               @LuccaSA/ux-devs
